wf-create-job.json
{
  "name": "WF Create Job — Lark T5",
  "nodes": [

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-customers",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gc-001",
      "name": "Webhook Get Customers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 60],
      "webhookId": "get-customers-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "app_id",     "value": "cli_a9500a1d84f89e18" },
            { "name": "app_secret", "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp" }
          ]
        },
        "options": {}
      },
      "id": "gc-002",
      "name": "Get Token [GC]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 60]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 200 }) } }];"
      },
      "id": "gc-003",
      "name": "Prep Search T1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblU7hDhX2UG4Tbi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Prep Search T1').first().json.lark_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T1').first().json.searchBody }}",
        "options": {}
      },
      "id": "gc-004",
      "name": "Fetch T1 Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 60]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (v.number !== undefined) return String(v.number || '');\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; if (f.link) return f.link; return f.text || f.name || ''; }\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst customers = items.map(it => {\n  const f = it.fields;\n  // T1: shop name is in 'Customer' field (text array), NOT 'Shop Name' (linked record)\n  const shopName = txt(f['Customer']);\n  const lineId = txt(f['LINE User ID']) || txt(f['C.LINE User ID']) || txt(f['LINE']) || '';\n  const phone = txt(f['Phone 1']) || txt(f['Phone']) || txt(f['Tel']) || '';\n  // T1: maps URL is in 'Machine Location' field (URL type), NOT 'Google Maps URL'\n  const mapsUrl = txt(f['Machine Location']) || txt(f['Google Maps URL']) || '';\n  const address = txt(f['Address']) || txt(f['Shop Address']) || '';\n  const equipType = txt(f['Equipment Type']) || '';\n  const machineStatus = txt(f['Machine Status']) || '';\n  return {\n    record_id: it.record_id,\n    'Shop Name': shopName,\n    'Customer ID': txt(f['Customer ID']),\n    'Phone 1': phone,\n    'Contact Person 1': txt(f['Contact Person 1']) || '',\n    'LINE User ID': lineId,\n    'Google Maps URL': mapsUrl,\n    'Address': address,\n    'PEAK Code': txt(f['PEAK Code']) || '',\n    'Customer Type': txt(f['Customer Type']) || '',\n    'Equipment Type': equipType,\n    'Machine Status': machineStatus,\n    shop_name: shopName, line_id: lineId, phone: phone, maps_url: mapsUrl, address: address\n  };\n}).filter(c => c['Shop Name']).sort((a, b) => a['Shop Name'].localeCompare(b['Shop Name'], 'th'));\nreturn [{ json: { customers } }];"
      },
      "id": "gc-005",
      "name": "Format Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 60]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, customers: $json.customers }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "gc-006",
      "name": "Respond Customers",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 60]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-techs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gt-001",
      "name": "Webhook Get Techs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 260],
      "webhookId": "get-techs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "app_id",     "value": "cli_a9500a1d84f89e18" },
            { "name": "app_secret", "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp" }
          ]
        },
        "options": {}
      },
      "id": "gt-002",
      "name": "Get Token [GT]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 260]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100 }) } }];"
      },
      "id": "gt-003",
      "name": "Prep Search T8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tbl8YdXSoeanL8FO/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Prep Search T8').first().json.lark_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T8').first().json.searchBody }}",
        "options": {}
      },
      "id": "gt-004",
      "name": "Fetch T8 Techs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 260]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst technicians = items.map(it => {\n  const f = it.fields;\n  const name = txt(f['์Name']) || txt(f['Name']);\n  const techName = txt(f['Tech Name']);\n  const lineUserId = txt(f['Tech Line User ID']) || '';\n  const lineId = txt(f['Tech Line ID']) || '';\n  const role = txt(f['Role']) || '';\n  const staffId = txt(f['Staff ID']) || '';\n  const phone = txt(f['Staff Phone']) || '';\n  const larkId = txt(f['Tech Lark ID']) || '';\n  return {\n    record_id: it.record_id,\n    'Name': name,\n    'Tech Name': techName,\n    'Staff ID': staffId,\n    'Role': role,\n    'Staff Phone': phone,\n    'Tech Lark ID': larkId,\n    'Tech Line User ID': lineUserId,\n    'Tech Line ID': lineId,\n    name: name, tech_name: techName, staff_id: staffId,\n    line_id: lineUserId, phone: phone, role: role\n  };\n}).filter(t => t['Name']).sort((a, b) => a['Name'].localeCompare(b['Name'], 'th'));\nreturn [{ json: { technicians } }];"
      },
      "id": "gt-005",
      "name": "Format Techs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, technicians: $json.technicians }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "gt-006",
      "name": "Respond Techs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 260]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cj-001",
      "name": "Webhook Create Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 460],
      "webhookId": "create-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nreturn [{ json: {\n  customer_record_id: body.customer_record_id || '',\n  tech_record_id:     body.tech_record_id     || '',\n  job_type:           body.job_type           || 'ซ่อม',\n  priority:           body.priority           || 'ปกติ',\n  scheduled_date:     body.scheduled_date     || '',\n  problem:            body.problem            || '',\n  note:               body.note               || '',\n  source:             'Dashboard'\n}}];"
      },
      "id": "cj-002",
      "name": "Parse Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "app_id",     "value": "cli_a9500a1d84f89e18" },
            { "name": "app_secret", "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp" }
          ]
        },
        "options": {}
      },
      "id": "cj-003",
      "name": "Get Token [CJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 460]
    },
    {
      "parameters": {
        "jsCode": "const token = $('Get Token [CJ]').first().json.tenant_access_token;\nconst src   = $('Parse Body').first().json;\n\nlet scheduledMs = null;\nif (src.scheduled_date) {\n  try { scheduledMs = new Date(src.scheduled_date).getTime(); } catch(e) {}\n}\n\nconst fields = {};\nfields['Status'] = 'นัดแล้ว';\nif (src.job_type)    fields['Job Type']       = src.job_type;\nif (src.priority)    fields['Priority']       = src.priority;\nif (src.problem)     fields['Defect']         = src.problem;\nif (src.note)        fields['Note']           = src.note;\nfields['Source'] = src.source;\nif (scheduledMs)     fields['Scheduled Date'] = scheduledMs;\nif (src.customer_record_id) fields['Customer']    = { link_record_ids: [src.customer_record_id] };\nif (src.tech_record_id)     fields['Technician']  = { link_record_ids: [src.tech_record_id] };\n\nreturn [{ json: { ...src, lark_token: token, createBody: JSON.stringify({ fields }) } }];"
      },
      "id": "cj-004",
      "name": "Prep T5 Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.lark_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "cj-005",
      "name": "Create T5 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.code !== 0) {\n  return [{ json: { ok: false, error: result.msg || 'Lark API error', code: result.code } }];\n}\nconst record = result.data?.record || {};\nreturn [{ json: {\n  ok: true,\n  record_id: record.record_id || '',\n  job_no:    record.fields?.['Job No.'] || '',\n  status:    record.fields?.['Status']  || 'นัดแล้ว',\n  message:   'สร้างงานสำเร็จ'\n} }];"
      },
      "id": "cj-006",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "cj-007",
      "name": "Respond Create Job",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 460]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-jobs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gj-001",
      "name": "Webhook Get Jobs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 660],
      "webhookId": "get-jobs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "app_id",     "value": "cli_a9500a1d84f89e18" },
            { "name": "app_secret", "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp" }
          ]
        },
        "options": {}
      },
      "id": "gj-002",
      "name": "Get Token [GJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 660]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100, sort: [{ field_name: 'Created Time', order: 'DESC' }] }) } }];"
      },
      "id": "gj-003",
      "name": "Prep Search T5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 660]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Prep Search T5').first().json.lark_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T5').first().json.searchBody }}",
        "options": {}
      },
      "id": "gj-004",
      "name": "Fetch T5 Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 660]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst jobs = items.map(it => {\n  const f = it.fields;\n  const created = f['Created Time'] || it.created_time;\n  const scheduled = f['Scheduled Date'];\n  return {\n    record_id: it.record_id,\n    job_id: txt(f['Job ID']) || txt(f['Job No.']) || txt(f['job_id']) || it.record_id,\n    status: txt(f['Status']) || 'new',\n    tech_name: txt(f['Tech Name']) || txt(f['Technician']) || txt(f['tech_name']),\n    customer_name: txt(f['Shop Name']) || txt(f['Customer Name']) || txt(f['Customer']),\n    job_type: txt(f['Job Type']),\n    priority: txt(f['Priority']),\n    job_address: txt(f['Job Address']) || txt(f['Address']),\n    scheduled_date: typeof scheduled === 'number' ? new Date(scheduled).toISOString() : txt(scheduled),\n    timestamp: typeof created === 'number' ? new Date(created).toISOString() : (typeof created === 'string' ? created : null)\n  };\n});\nreturn [{ json: { jobs } }];"
      },
      "id": "gj-005",
      "name": "Format Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 660]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, jobs: $json.jobs }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "gj-006",
      "name": "Respond Jobs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 660]
    }

  ],
  "connections": {
    "Webhook Get Customers": { "main": [[{ "node": "Get Token [GC]",     "type": "main", "index": 0 }]] },
    "Get Token [GC]":        { "main": [[{ "node": "Prep Search T1",     "type": "main", "index": 0 }]] },
    "Prep Search T1":        { "main": [[{ "node": "Fetch T1 Customers", "type": "main", "index": 0 }]] },
    "Fetch T1 Customers":    { "main": [[{ "node": "Format Customers",   "type": "main", "index": 0 }]] },
    "Format Customers":      { "main": [[{ "node": "Respond Customers",  "type": "main", "index": 0 }]] },

    "Webhook Get Techs": { "main": [[{ "node": "Get Token [GT]", "type": "main", "index": 0 }]] },
    "Get Token [GT]":    { "main": [[{ "node": "Prep Search T8", "type": "main", "index": 0 }]] },
    "Prep Search T8":    { "main": [[{ "node": "Fetch T8 Techs", "type": "main", "index": 0 }]] },
    "Fetch T8 Techs":    { "main": [[{ "node": "Format Techs",   "type": "main", "index": 0 }]] },
    "Format Techs":      { "main": [[{ "node": "Respond Techs",  "type": "main", "index": 0 }]] },

    "Webhook Create Job": { "main": [[{ "node": "Parse Body",        "type": "main", "index": 0 }]] },
    "Parse Body":         { "main": [[{ "node": "Get Token [CJ]",    "type": "main", "index": 0 }]] },
    "Get Token [CJ]":     { "main": [[{ "node": "Prep T5 Body",      "type": "main", "index": 0 }]] },
    "Prep T5 Body":       { "main": [[{ "node": "Create T5 Record",  "type": "main", "index": 0 }]] },
    "Create T5 Record":   { "main": [[{ "node": "Format Response",   "type": "main", "index": 0 }]] },
    "Format Response":    { "main": [[{ "node": "Respond Create Job", "type": "main", "index": 0 }]] },

    "Webhook Get Jobs": { "main": [[{ "node": "Get Token [GJ]", "type": "main", "index": 0 }]] },
    "Get Token [GJ]":   { "main": [[{ "node": "Prep Search T5",  "type": "main", "index": 0 }]] },
    "Prep Search T5":   { "main": [[{ "node": "Fetch T5 Jobs",   "type": "main", "index": 0 }]] },
    "Fetch T5 Jobs":    { "main": [[{ "node": "Format Jobs",     "type": "main", "index": 0 }]] },
    "Format Jobs":      { "main": [[{ "node": "Respond Jobs",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2026-04-15T00:00:00.000Z",
  "versionId": "1"
}
