wf-create-job.v2.json
{
  "name": "WF Create Job — Lark T5",
  "nodes": [
    {
      "parameters": {
        "path": "get-customers",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd9898f4-79c9-46c7-9e3f-21c17a921a6b",
      "name": "Webhook Get Customers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        272
      ],
      "webhookId": "get-customers-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "5fd0792e-1d1f-4a4d-bf2a-5a0a9f85f6af",
      "name": "Get Token [GC]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\n// รับ page_token จาก query string สำหรับ pagination (โหลดเพิ่ม)\nconst webhookData = $('Webhook Get Customers').first().json;\nconst incomingPageToken = (webhookData.query && webhookData.query.page_token) ? webhookData.query.page_token : '';\n// ไม่ระบุ field_names เพราะ Lark จะ return primary field ไม่ครบถ้า specify\nconst body = { page_size: 500 };\nif (incomingPageToken) body.page_token = incomingPageToken;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify(body) } }];"
      },
      "id": "90e3253f-56a5-4551-b20f-38a76d700349",
      "name": "Prep Search T1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblKZmsPEQ1jmRlx/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T1').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T1').first().json.searchBody }}",
        "options": {}
      },
      "id": "9d0b170d-4fde-4596-9a73-550db7219280",
      "name": "Fetch T1 Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\n// Lark pagination — ส่งกลับไปให้ dashboard โหลดหน้าต่อไปได้\nconst larkPageToken = data.data?.page_token || null;\nconst larkHasMore   = !!data.data?.has_more;\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; if (f.link) return f.link; return f.text || f.name || ''; }\n  if (v.text) return v.text;\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst customers = items.map(it => {\n  const f = it.fields;\n  const shopName   = txt(f['Shop Name']) || txt(f['Customer']) || '';\n  const lineUserId = txt(f['C.LINE User ID']) || txt(f['C.LINE ID']) || txt(f['LINE User ID']) || '';\n  const phone      = txt(f['Customer Phone 1']) || '';\n  const phone2     = txt(f['Customer Phone 2']) || '';\n  const contact    = txt(f['Customer Contact 1']) || '';\n  const contact2   = txt(f['Customer Contact 2']) || '';\n  const mapsUrl    = txt(f['Google Maps URL']) || txt(f['Machine Location']) || '';\n  const address    = txt(f['Address']) || '';\n  const peakCode   = txt(f['PEAK Code']) || '';\n  const custType   = txt(f['Customer Type']) || '';\n  const equipType  = txt(f['Equipment Type']) || '';\n  const health     = txt(f['Account Status']) || '';\n  const zone       = txt(f['Zone']) || '';\n  return {\n    record_id: it.record_id,\n    'Shop Name':          shopName,\n    'Customer ID':        txt(f['Customer ID']),\n    'Customer Phone 1':   phone,\n    'Customer Phone 2':   phone2,\n    'Customer Contact 1': contact,\n    'Customer Contact 2': contact2,\n    'C.LINE User ID':     lineUserId,\n    'Google Maps URL':    mapsUrl,\n    'Address':            address,\n    'PEAK Code':          peakCode,\n    'Customer Type':      custType,\n    'Equipment Type':     equipType,\n    'Account Status':     health,\n    shop_name: shopName, line_id: lineUserId, phone: phone, phone2: phone2,\n    maps_url: mapsUrl, address: address, contact: contact, contact2: contact2,\n    account_health: health, zone: zone\n  };\n}).filter(c => c['Shop Name']).sort((a, b) => a['Shop Name'].localeCompare(b['Shop Name'], 'th'));\nreturn [{ json: { customers, page_token: larkPageToken, has_more: larkHasMore } }];"
      },
      "id": "3bc81e14-681a-42ec-b71e-0035c9a5acf3",
      "name": "Format Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, customers: $json.customers, page_token: $json.page_token, has_more: $json.has_more }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7179d39a-030a-4c32-b451-ecd0853b87f9",
      "name": "Respond Customers",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10544,
        272
      ]
    },
    {
      "parameters": {
        "path": "get-techs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ba8c7f0a-9b24-4fea-a7aa-015b8dd7bf32",
      "name": "Webhook Get Techs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        560
      ],
      "webhookId": "get-techs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "de9bddaf-85d8-4da4-a956-d800dd7504b5",
      "name": "Get Token [GT]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100 }) } }];"
      },
      "id": "78f4dda2-4b49-4506-ae08-adbb7f6387e3",
      "name": "Prep Search T8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tbl8YdXSoeanL8FO/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T8').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T8').first().json.searchBody }}",
        "options": {}
      },
      "id": "840efeda-f7de-4958-91d6-745770d3848a",
      "name": "Fetch T8 Techs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.text) return v.text;\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst technicians = items.map(it => {\n  const f = it.fields;\n  const staffName = txt(f['์Name']) || txt(f['Name']);\n  const techName = txt(f['Tech Name']);\n  const lineUserId = txt(f['Tech Line User ID']) || '';\n  const lineId = txt(f['Tech Line ID']) || '';\n  const role = txt(f['Role']) || '';\n  const staffId = txt(f['Staff ID']) || '';\n  const phone = txt(f['Staff Phone']) || '';\n  const larkId = txt(f['Tech Lark ID']) || '';\n  return {\n    record_id: it.record_id,\n    'Name': staffName,\n    'Tech Name': techName,\n    'Staff ID': staffId,\n    'Role': role,\n    'Staff Phone': phone,\n    'Tech Lark ID': larkId,\n    'Tech Line User ID': lineUserId,\n    'Tech Line ID': lineId,\n    name: staffName, tech_name: techName, staff_id: staffId,\n    line_id: lineUserId, phone: phone, role: role\n  };\n}).filter(t => t['Name']).sort((a, b) => a['Name'].localeCompare(b['Name'], 'th'));\nreturn [{ json: { technicians } }];"
      },
      "id": "8415fd23-f791-4580-b420-86b18d4a7907",
      "name": "Format Techs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, technicians: $json.technicians }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "73b6d829-9a16-492a-8441-2526eb59e9d1",
      "name": "Respond Techs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10544,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "011ec507-b4ee-40d7-a45f-3529f8cb8e96",
      "name": "Webhook Create Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        832
      ],
      "webhookId": "create-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nreturn [{ json: {\n  customer_record_id: body.customer_record_id || '',\n  machine_record_id:  body.machine_record_id  || '',\n  tech_record_id:     body.tech_record_id     || '',\n  job_type:           body.job_type           || 'ซ่อม',\n  priority:           body.priority           || 'ปกติ',\n  scheduled_date:     body.scheduled_date     || '',\n  problem:            body.problem            || '',\n  note:               body.note               || '',\n  source:             'Dashboard'\n}}];"
      },
      "id": "b1bc4dc5-c201-477b-aee7-6506a12a1c70",
      "name": "Parse Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "f836ed59-3d9d-4765-bf54-985f7cadd79e",
      "name": "Get Token [CJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9888,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep T5 Body (manual create from admin dashboard)\n// ⚠️ Per 2026-04-18 audit + decision (Option B):\n//   • T5.Customer is a LOOKUP field — resolved via Machine link, DO NOT write.\n// ⚠️ Per 2026-04-20 live test (rental-cron bug #5):\n//   • Lark Link write format = [\"rec...\"] NOT { link_record_ids: [...] } (legacy object)\n//     legacy format = LinkFieldConvFail code 1254067 ทันที\n//\n// 📌 TECH DEBT (tracked 2026-04-18):\n//   Dashboard form ต้องเพิ่ม Machine selector → ส่ง machine_record_id →\n//   เพิ่ม Machine write ตรงนี้ → T5.Customer Lookup จะ resolve ได้อัตโนมัติ\n//   ปัจจุบัน dashboard ยังไม่ส่ง machine_record_id จึง skip Machine write ไปก่อน\n// ────────────────────────────────────────────\nconst token = $('Get Token [CJ]').first().json.tenant_access_token;\nconst src   = $('Compute Job No.').first().json;  // 🔧 includes job_no + Parse Body data\n\nlet scheduledMs = null;\nif (src.scheduled_date) {\n  // Bangkok midnight (ไม่งั้น server UTC จะเพี้ยน -7h)\n  try { scheduledMs = new Date(src.scheduled_date + 'T00:00:00+07:00').getTime(); } catch(e) {}\n  if (isNaN(scheduledMs)) {\n    try { scheduledMs = new Date(src.scheduled_date).getTime(); } catch(e) {}\n  }\n}\n\nconst fields = {};\n// 🔧 FIXED 2026-04-26: 'นัดแล้ว' is NOT in T5.Status options · Lark would reject\n//   T5.Status options = [รอยืนยัน, เสร็จแล้ว, Cancelled, Failed, ถึงแล้ว]\n//   Initial schedule state = 'รอยืนยัน' (matches careplan-cron pattern)\nfields['Status'] = 'รอยืนยัน';\n// 🔧 ADDED 2026-04-27: Job No. = J-YYYYMMDD-XXX (n8n-generated · vendor-portable)\nif (src.job_no)      fields['Job No.']        = src.job_no;\n// Job Type is MultiSelect (verified 2026-04-20) → must be array even for single value\nif (src.job_type)    fields['Job Type']       = Array.isArray(src.job_type) ? src.job_type : [src.job_type];\n// 🔧 FIXED 2026-04-27: Map dashboard codes (low/med/high) → T5.Priority options (Low/Medium/High)\n//   T5.Priority SingleSelect: [Very Urgent, High, Medium, Low] · case-sensitive · mismatch = silent reject\nconst PRIORITY_MAP = { low: 'Low', med: 'Medium', high: 'High', urgent: 'Very Urgent' };\nif (src.priority)    fields['Priority']       = PRIORITY_MAP[src.priority] || src.priority;\nif (src.problem)     fields['Defect']         = src.problem;\n// 🔧 FIXED 2026-04-26: T5 has no 'Note' field · use 'Billing Note' for admin remarks\nif (src.note)        fields['Billing Note']   = src.note;\n// 🔧 FIXED 2026-04-26: T5 has no 'Source' field · use 'Source Ref ID' for tracing\nif (src.source)      fields['Source Ref ID']  = src.source;\nif (scheduledMs)     fields['Scheduled Date'] = scheduledMs;\n// ❌ Removed: Customer write — T5.Customer = Lookup (silent-drop anyway).\n// 🔧 FIXED 2026-04-26: Field name = 'Assigned Technician' (T5 schema · SingleLink to T8)\n//   Was 'Technician' which doesn't exist · silent-dropped tech assignment\nif (src.tech_record_id)     fields['Assigned Technician']  = [src.tech_record_id];\n// 🔧 ADDED 2026-04-27: Machine link → T2 (required for Customer Lookup + Job No. formula to resolve)\nif (src.machine_record_id)  fields['Machine']              = [src.machine_record_id];\n// 🔧 ADDED 2026-04-30: Customer Link → T1 (direct link เพื่อให้ Lookup fields ทำงานทันที)\n//   Lark ไม่รองรับ 2-hop Lookup (T5→T2→T1) → ต้อง direct T5→T1 link สำหรับ Phone 1/2/3, LINE ID, Maps URL\nif (src.customer_record_id) fields['Customer Link']        = [src.customer_record_id];\n\nreturn [{ json: { ...src, lark_token: token, createBody: JSON.stringify({ fields }) } }];"
      },
      "id": "254711f4-5810-4195-ac5d-90279cf20323",
      "name": "Prep T5 Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10560,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "977f8246-2457-464f-acfe-2e5cac87a13c",
      "name": "Create T5 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10768,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.code !== 0) {\n  return [{ json: { ok: false, error: result.msg || 'Lark API error', code: result.code } }];\n}\nconst record = result.data?.record || {};\nreturn [{ json: {\n  ok: true,\n  record_id: record.record_id || '',\n  job_no:    record.fields?.['Job No.'] || '',\n  status:    record.fields?.['Status']  || 'นัดแล้ว',\n  message:   'สร้างงานสำเร็จ'\n} }];"
      },
      "id": "59f9ecaa-67ea-4abb-ab3a-874907d5baf9",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10992,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2f47cb92-9603-4a62-8971-e3b72dad2b27",
      "name": "Respond Create Job",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        11216,
        832
      ]
    },
    {
      "parameters": {
        "path": "get-jobs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a12c4781-1f89-4ba5-90b8-603a9d6cdc98",
      "name": "Webhook Get Jobs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        1120
      ],
      "webhookId": "get-jobs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "6a00bd1d-4bf1-434d-b056-9dc68e070161",
      "name": "Get Token [GJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100, sort: [{ field_name: 'Created Time', order: 'DESC' }] }) } }];"
      },
      "id": "d9f37944-f02c-4cf1-9961-cec2647549f3",
      "name": "Prep Search T5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T5').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T5').first().json.searchBody }}",
        "options": {}
      },
      "id": "310a76ce-9eac-4bce-a21c-29a55836de3f",
      "name": "Fetch T5 Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst jobs = items.map(it => {\n  const f = it.fields;\n  const created = f['Created Time'] || it.created_time;\n  const scheduled = f['Scheduled Date'];\n  return {\n    record_id: it.record_id,\n    job_id: txt(f['Job ID']) || txt(f['Job No.']) || txt(f['job_id']) || it.record_id,\n    status: txt(f['Status']) || 'new',\n    tech_name: txt(f['Tech Name']) || txt(f['Technician']) || txt(f['tech_name']),\n    customer_name: txt(f['Shop Name']) || txt(f['Customer Name']) || txt(f['Customer']),\n    job_type: txt(f['Job Type']),\n    priority: txt(f['Priority']),\n    job_address: txt(f['Job Address']) || txt(f['Address']),\n    scheduled_date: typeof scheduled === 'number' ? new Date(scheduled).toISOString() : txt(scheduled),\n    timestamp: typeof created === 'number' ? new Date(created).toISOString() : (typeof created === 'string' ? created : null)\n  };\n});\nreturn [{ json: { jobs } }];"
      },
      "id": "23444223-b220-4052-a0ce-67a3e57f7d3f",
      "name": "Format Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        1120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, jobs: $json.jobs }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "53ca71c8-cb2f-429c-893c-60183a3ae104",
      "name": "Respond Jobs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10544,
        1120
      ]
    },
    {
      "parameters": {
        "path": "get-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2c13d59f-cd2b-49ef-9fed-7b01cf854ad1",
      "name": "Webhook Get Attendance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        1392
      ],
      "webhookId": "get-attendance-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "1abbb84a-b90b-4e75-acd7-c5998f050ea3",
      "name": "Get Token [GA]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\n// วันนี้ 00:00 - 23:59 (UTC+7)\nconst now = new Date();\nconst bkkOffset = 7 * 60 * 60 * 1000;\nconst todayBKK = new Date(Math.floor((now.getTime() + bkkOffset) / 86400000) * 86400000 - bkkOffset);\nconst from = Math.floor(todayBKK.getTime() / 1000);\nconst to   = from + 86399;\nreturn [{ json: { lark_token: token, from_ts: from, to_ts: to } }];"
      },
      "id": "b5efb4a2-0e7d-466a-b0cf-dad5c8be1291",
      "name": "Prep Attendance Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        1392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tbl8YdXSoeanL8FO/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Attendance Query').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"page_size\":50,\"field_names\":[\"Name\",\"์Name\",\"Tech Name\",\"Tech Lark ID\",\"Role\",\"Account Status\",\"Work Status\"]}",
        "options": {}
      },
      "id": "b2f42208-9d04-4ff5-ac72-7bd70460c419",
      "name": "Fetch T8 for Attendance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { const f = v[0]; if (!f) return ''; return f.text || f.name || String(f); }\n  if (v.value) { const vv = v.value; if (typeof vv === 'string') return vv; if (Array.isArray(vv)) { const f = vv[0]; return f?.text || f?.name || ''; } }\n  return '';\n};\nconst team = items.map(it => {\n  const f = it.fields;\n  const nickname  = txt(f['์Name']) || txt(f['Name']);\n  const techName  = txt(f['Tech Name']);\n  const workSt    = txt(f['Work Status']) || 'หยุด';\n  const acctSt    = txt(f['Account Status']);\n  const statusMap = { 'เข้างาน': 'working', 'ลา': 'leave', 'หยุด': 'off' };\n  const status    = statusMap[workSt] || 'off';\n  return { nickname, tech_name: techName, name: nickname, checked_in: status === 'working', check_in_time: null, status, work_status: workSt, acct_status: acctSt };\n}).filter(t => t.nickname && t.acct_status !== 'Inactive');\nteam.sort((a, b) => (b.checked_in ? 1 : 0) - (a.checked_in ? 1 : 0));\nreturn [{ json: { team } }];"
      },
      "id": "540b320e-df6d-4ae1-9d86-7f84ab5d9b2a",
      "name": "Format Team Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        1392
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, team: $json.team }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6de5eb76-0197-4244-9d50-9a9ac5d4a396",
      "name": "Respond Attendance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10544,
        1392
      ]
    },
    {
      "parameters": {
        "path": "get-products",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b4a13b0d-2b5d-4fb3-835d-3ae0f55ef2c9",
      "name": "Webhook Get Products",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        1680
      ],
      "webhookId": "get-products-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "d110f421-5f3e-4294-93e3-359065e45e1d",
      "name": "Get Token [GP]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = { page_size: 500 };\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify(body) } }];"
      },
      "id": "2858de3c-36c5-4db6-806b-eca298ae3d88",
      "name": "Prep Search T3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblnQhWsvbvOnHZx/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T3').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "ba30c488-497c-4dfa-ac2d-60694b400da7",
      "name": "Fetch T3 Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.data && $input.first().json.data.items ? $input.first().json.data.items : [];\nconst BLOCKED = ['Machine (Sale)', 'Machine (Rental)'];\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (v.value) return v.value;\n  if (Array.isArray(v) && v[0]) return txt(v[0]);\n  return '';\n}\nconst products = items\n  .map(function(r) {\n    const f = r.fields || {};\n    const name = txt(f['Product Name'] || f['Name'] || '') || Object.values(f)[0] && txt(Object.values(f)[0]) || '';\n    const cat  = txt(f['Sub Category'] || f['Category'] || '');\n    const price = parseFloat(f['Price'] || f['Unit Price'] || 0) || 0;\n    return { name: name, category: cat, price: price };\n  })\n  .filter(function(p) { return p.name && BLOCKED.indexOf(p.category) === -1; })\n  .sort(function(a, b) { return a.name.localeCompare(b.name, 'th'); });\nreturn [{ json: { products: products, total: products.length } }];"
      },
      "id": "3b576f5a-63c0-45f2-a4c8-dd96de0053ab",
      "name": "Format Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        1680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "4e4e1392-434b-495c-98c6-c754319f45c3",
      "name": "Respond Products",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10544,
        1680
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complete-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b5e5c9c9-21fd-40ce-868d-a6604c5b9289",
      "name": "Webhook Complete Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        1952
      ],
      "webhookId": "complete-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst parts = (b.parts || []).map(function(p){ return p.name + ' x' + p.qty; }).join(', ');\nreturn [{ json: {\n  job_id:           b.job_id           || '',\n  tech_name:        b.tech_name        || '',\n  customer_line_id: b.customer_line_id || '',\n  customer_name:    b.customer_name    || '',\n  parts_text:       parts,\n  notes:            b.notes            || '',\n  photo_count:      b.photo_count      || 0,\n  completed_at:     b.completed_at     || new Date().toISOString()\n}}];"
      },
      "id": "65d9b761-2fcc-44e6-ba00-93ab8f2a3746",
      "name": "Parse Complete Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "af43f94c-554e-43e9-8e3d-d1b2ed57c493",
      "name": "Get Token [Complete]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9888,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $('Get Token [Complete]').first().json.tenant_access_token;\nconst src = $('Parse Complete Body').first().json;\nreturn [{ json: {\n  ...src,\n  lark_token: token,\n  searchBody: JSON.stringify({ filter: { conjunction: 'and', conditions: [{ field_name: 'Job No.', operator: 'is', value: [src.job_id] }] } })\n}}];"
      },
      "id": "fe4c528b-864f-43fa-bb41-25cf6c9d80dc",
      "name": "Prep Search T5 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "e7f2622f-8108-489b-ac11-fe5dce1c809b",
      "name": "Search T5 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10320,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ Fixed 2026-04-20:\n//    เดิมอ่าน 'T4 Refs' (Text field — ไม่มีใน T5 schema) → t4Refs='' เสมอ → isCarePlan=false เสมอ\n//    → branch Update T4 ไม่เคยรัน → Last Done Date ไม่ update → เครื่องถูกนัดซ้ำไม่รู้จบ\n//    T5 schema จริงใช้ 'Related Care Plan' (DuplexLink → T4).\nconst res = $input.first().json;\nconst items = res.data && res.data.items ? res.data.items : [];\nconst record_id = items.length > 0 ? items[0].record_id : '';\nconst src = $('Parse Complete Body').first().json;\nconst token = $('Get Token [Complete]').first().json.tenant_access_token;\n// 🔧 FIXED 2026-04-26: 'Note' and 'Photo Count' don't exist in T5\n//   'Note' → 'Resolution Summary' (T5 has it · for completion remarks)\n//   'Photo Count' → dropped (no equivalent · count via Photo Before/After attachments)\nconst fields = {\n  'Status': 'เสร็จแล้ว',\n  'Parts Used': src.parts_text || '',\n  'Resolution Summary': src.notes || ''\n};\n// Extract Related Care Plan (DuplexLink) + Source Ref ID for CarePlan loop closure\nfunction txt(v) { if (!v) return ''; if (typeof v === 'string') return v; if (v.text) return v.text; if (Array.isArray(v)) return v.map(i => typeof i === 'string' ? i : (i.text||'')).join(','); return ''; }\nfunction extractLinkedIds(v) {\n  if (!v) return [];\n  const arr = Array.isArray(v) ? v : (Array.isArray(v.value) ? v.value : []);\n  return arr.map(r => {\n    if (typeof r === 'string') return '';\n    return r.record_id || (Array.isArray(r.record_ids) ? r.record_ids[0] : r.record_ids) || '';\n  }).filter(Boolean);\n}\nlet t4RefIds = [];\nlet sourceRefId = '';\nif (items.length > 0) {\n  const f = items[0].fields || {};\n  t4RefIds = extractLinkedIds(f['Related Care Plan']);\n  sourceRefId = txt(f['Source Ref ID'] || '');\n}\nconst isCarePlan = (sourceRefId === 'AUTO-CAREPLAN' && t4RefIds.length > 0);\nreturn [{ json: { ...src, record_id, lark_token: token, updateBody: JSON.stringify({ fields }), t4_refs: t4RefIds, source_ref_id: sourceRefId, is_careplan: isCarePlan } }];"
      },
      "id": "fc740766-61a5-4953-8b76-7e4a7fcda385",
      "name": "Prep Update T5 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10544,
        1952
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/' + $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "c250a581-35a1-4533-aa16-7ba9ddfb2882",
      "name": "Update T5 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10768,
        1952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cmpj-if-cp",
              "leftValue": "={{ $('Prep Update T5 Complete').first().json.is_careplan }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16c56c23-a44c-4d35-be95-c061236b42ca",
      "name": "If CarePlan Job",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10992,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Search T4 records referenced by this T5\n// เพื่อดึง Interval มาคำนวณ Next Due Date ใหม่\n// ⚠️ ห้ามระบุ field_names — Lark จะตัด primary field ทิ้ง\n// ⚠️ 2026-04-20: t4_refs เปลี่ยนเป็น array แล้ว (เดิมเป็น comma-string)\n// ────────────────────────────────────────────\nconst data = $('Prep Update T5 Complete').first().json;\nconst t4Refs = Array.isArray(data.t4_refs) ? data.t4_refs : (typeof data.t4_refs === 'string' ? data.t4_refs.split(',').map(s => s.trim()).filter(Boolean) : []);\nconst token = data.lark_token;\n\n// Lark: search by record IDs — use __id__ filter\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'or',\n    conditions: t4Refs.map(id => ({ field_name: '__id__', operator: 'is', value: [id] }))\n  },\n  page_size: 20\n});\n\nreturn [{ json: { t4_refs: t4Refs, lark_token: token, searchBody, completed_at: data.completed_at } }];"
      },
      "id": "f8b0564c-687b-4a02-a52e-5a687c393737",
      "name": "Prep Search T4 Refs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "a09129f2-d5da-495e-b92a-29a2d357a0ac",
      "name": "Fetch T4 Refs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11440,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Update T4 after service completion\n// ⚠️ Per 2026-04-18 audit:\n//   • Next Due Date is a FORMULA → cannot write. Lark recomputes automatically\n//     from Last Done Date + Planned Interval (Months) once we update Last Done Date.\n//   • Interval (Months) field does NOT exist in T4 → use Planned Interval (Months) only.\n//   • Service Item is DuplexLink → read via Filter Stage (Text) instead.\n// ⚠️ Per 2026-04-20 live test (rental-cron bugs #2, #4):\n//   • Lark Date READ = ms number → ใช้ dateStr() ไม่ใช่ txt().split('T')[0]\n//   • Lark Date WRITE = ms number → ใช้ toMs() ไม่ใช่ 'YYYY-MM-DD' string\n// Split → 1 item per T4 update.\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst items = (res.data && res.data.items) || [];\nconst prevData = $('Prep Search T4 Refs').first().json;\nconst completedAt = prevData.completed_at || new Date().toISOString();\nconst token = prevData.lark_token;\n\nfunction numVal(v) {\n  if (typeof v === 'number') return v;\n  if (!v) return 0;\n  const n = Number(typeof v === 'string' ? v : (v.text || v.value || 0));\n  return isNaN(n) ? 0 : n;\n}\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.text) return v.text;\n  if (Array.isArray(v) && v[0]) { const x = v[0]; return typeof x === 'string' ? x : (x.text || x.name || ''); }\n  return '';\n}\n\n// Lark Date field = Unix ms number. Convert to YYYY-MM-DD in Bangkok TZ.\nfunction dateStr(v) {\n  if (v === null || v === undefined || v === '') return '';\n  if (typeof v === 'number') {\n    const bkk = new Date(v + 7 * 3600 * 1000);\n    const yyyy = bkk.getUTCFullYear();\n    const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(bkk.getUTCDate()).padStart(2, '0');\n    return yyyy + '-' + mm + '-' + dd;\n  }\n  const s = typeof v === 'string' ? v : txt(v);\n  if (!s) return '';\n  return s.split('T')[0].replace(/\\//g, '-');\n}\n\n// Lark Date write = ms timestamp (Bangkok midnight)\nfunction toMs(dateStrVal) {\n  if (!dateStrVal) return null;\n  return new Date(dateStrVal + 'T00:00:00+07:00').getTime();\n}\n\n// Calculate months between two YYYY-MM-DD dates (rounded)\nfunction monthsBetween(oldStr, newStr) {\n  if (!oldStr || !newStr) return 0;\n  const a = new Date(oldStr + 'T00:00:00');\n  const b = new Date(newStr + 'T00:00:00');\n  if (isNaN(a) || isNaN(b)) return 0;\n  const days = (b - a) / 86400000;\n  return Math.round(days / 30.44); // avg month length\n}\n\n// Parse JSON array from string, safely\nfunction parseIntervals(s) {\n  if (!s) return [];\n  try {\n    const arr = JSON.parse(typeof s === 'string' ? s : txt(s));\n    return Array.isArray(arr) ? arr.filter(n => typeof n === 'number') : [];\n  } catch(e) { return []; }\n}\n\nconst updates = items.map(it => {\n  const f = it.fields || {};\n  // Planned Interval is the template baseline + single source of truth for Formula.\n  // Default 3 months as sane fallback if template value missing.\n  const interval = numVal(f['Planned Interval (Months)']) || 3;\n  // completedAt อาจเป็น ISO ยาว → เอาเฉพาะวันที่ (server UTC ISO ยังใกล้พอสำหรับการคำนวณห่างเดือน)\n  const completedDate = completedAt.split('T')[0];\n\n  // ── Actual Interval Tracking ──\n  // oldLastDone = previous completion date (null on first run)\n  // ⚠️ Last Done Date เป็น Date field = ms number → dateStr() แปลงก่อน\n  const oldLastDone = dateStr(f['Last Done Date']);\n  const actualInterval = monthsBetween(oldLastDone, completedDate);\n\n  // Keep last 3 actual intervals as JSON array string (for trend analysis / override audit)\n  const prevIntervals = parseIntervals(txt(f['Last 3 Actual Intervals']));\n  let newIntervals = prevIntervals;\n  if (actualInterval > 0) {\n    newIntervals = [...prevIntervals, actualInterval].slice(-3);\n  }\n\n  // ⚠️ DO NOT write 'Next Due Date' — it's a Formula (silent-drop on write).\n  // Lark recomputes: Next Due Date = Last Done Date + Planned Interval (Months).\n  // ⚠️ Last Done Date เป็น Date field → write = ms (ไม่ใช่ 'YYYY-MM-DD' ไม่งั้น DatetimeFieldConvFail)\n  const updateFields = {\n    'Last Done Date': toMs(completedDate),\n    'Last 3 Actual Intervals': JSON.stringify(newIntervals)\n  };\n\n  return {\n    record_id: it.record_id,\n    stage_number: numVal(f['Stage Number']),\n    filter_name: txt(f['Filter Stage']),\n    old_last_done: oldLastDone,\n    new_last_done: completedDate,\n    interval: interval,\n    actual_interval: actualInterval,\n    last_3_actual: newIntervals,\n    lark_token: token,\n    updateBody: JSON.stringify({ fields: updateFields })\n  };\n}).filter(u => u.record_id);\n\nif (updates.length === 0) return [{ json: { t4_updated: 0 } }];\nreturn updates.map(u => ({ json: u }));"
      },
      "id": "22939b9b-239e-499f-ac17-9a76d5e77fde",
      "name": "Calc Next Due Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11664,
        1936
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/' + $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "87b330d6-5cc0-4f7b-9d63-a324101e872e",
      "name": "Update T4 Next Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11888,
        1936
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cmpj-if-line",
              "leftValue": "={{ $('Parse Complete Body').first().json.customer_line_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20a4113e-4925-4d79-9101-4346b20b97ae",
      "name": "If LINE Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        14480,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Complete Body').first().json;\nconst text = '✅ งานเสร็จเรียบร้อยแล้วครับ!\\n\\n📋 รหัสงาน: ' + src.job_id + '\\n👷 ช่าง: ' + src.tech_name + (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') + (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') + '\\n\\nขอบคุณที่ใช้บริการ SK ICE นะครับ 🧊';\nreturn [{ json: { lineBody: JSON.stringify({ to: src.customer_line_id, messages: [{ type: 'text', text: text }] }) } }];"
      },
      "id": "1ab27855-959d-4b04-b107-39005b37a016",
      "name": "Prep LINE Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12160,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.lineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "87f57525-5ee7-4815-a84d-30e7f3efe4b8",
      "name": "LINE Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12400,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Complete Body').first().json;\nconst rawPhone = (src.customer_phone || '').replace(/\\D/g, '');\nconst recipient = rawPhone.startsWith('0') ? '66' + rawPhone.slice(1) : rawPhone;\nconst msg = 'SK ICE: งาน ' + src.job_id + ' เสร็จเรียบร้อยแล้วครับ ขอบคุณที่ใช้บริการ';\nreturn [{ json: { smsBody: JSON.stringify({ recipient, sender_name: 'SK-ICE', message: msg }) } }];"
      },
      "id": "55925703-4bc6-47a3-b25d-28a8405bd417",
      "name": "Prep SMS Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12656,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.smsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "18027514-883b-410a-b0b3-85aab605c166",
      "name": "SMS Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12896,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Admin Notify (LINE group) — เพิ่ม 2026-04-20 จาก migration gps-done → complete-job\n// รวมข้อมูล Parts/Note ที่ complete-job มี (gps-done ไม่มี)\n// Admin LINE group ID: C40b37d81f4e199a7b7357537166a1efd\n// ────────────────────────────────────────────\nconst src = $('Parse Complete Body').first().json;\nconst text = '✅ งานเสร็จแล้ว!\\n\\n📋 รหัสงาน: ' + src.job_id + '\\n👷 ช่าง: ' + src.tech_name + '\\n🏪 ร้าน: ' + src.customer_name + (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') + (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') + (src.photo_count ? '\\n📷 รูป: ' + src.photo_count + ' ใบ' : '');\nreturn [{ json: { adminBody: JSON.stringify({ to: 'C40b37d81f4e199a7b7357537166a1efd', messages: [{ type: 'text', text: text }] }) } }];"
      },
      "id": "16b89dc4-1efb-4c7d-adbc-7dd616674e11",
      "name": "Prep Admin Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.adminBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c8996109-554b-4636-8930-8f396ad2e07b",
      "name": "Admin Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13408,
        1936
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"job completed\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1a6d1a1-b4f0-4ae4-bff5-dc785c688fcd",
      "name": "Respond Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        14080,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lark DM → 3 admins (Split pattern: return 3 items → HTTP auto-iterates)\nconst ADMIN_IDS = ['e5d154gc', 'eceffed6', 'a978af6f'];\nconst src = $('Parse Complete Body').first().json;\nconst token = $('Get Token [Complete]').first().json.tenant_access_token;\nconst text = '✅ งานเสร็จแล้ว!\\n\\n' +\n  '📋 รหัสงาน: ' + (src.job_id || '-') + '\\n' +\n  '👷 ช่าง: ' + (src.tech_name || '-') + '\\n' +\n  '🏪 ร้าน: ' + (src.customer_name || '-') +\n  (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') +\n  (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') +\n  (src.photo_count ? '\\n📷 รูป: ' + src.photo_count + ' ใบ' : '');\nreturn ADMIN_IDS.map(id => ({\n  json: {\n    lark_token: token,\n    larkBody: JSON.stringify({\n      receive_id: id,\n      msg_type: 'text',\n      content: JSON.stringify({ text: text })\n    })\n  }\n}));"
      },
      "id": "aa0eabf4-b2e1-4fad-883a-7f0ef4c0002a",
      "name": "Prep Lark DM [Complete]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13632,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/im/v1/messages?receive_id_type=user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.larkBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "251c796e-d4c0-4dea-9348-a9490e192fa2",
      "name": "Lark DM Admin [Complete]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13856,
        1936
      ]
    },
    {
      "parameters": {
        "path": "get-bookings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ba8e6a67-0195-4e28-a1cb-749d47731080",
      "name": "Webhook Get Bookings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        2240
      ],
      "webhookId": "get-bookings-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "76e18e8c-7bf0-4548-aeea-1c84cdd27cce",
      "name": "Get Token [GB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        2240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":500}",
        "options": {}
      },
      "id": "effa8363-cde1-4c75-926d-b892e1d0d11c",
      "name": "Search T6 Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9888,
        2240
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.data && $input.first().json.data.items ? $input.first().json.data.items : [];\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (v.value) return v.value;\n  if (Array.isArray(v) && v[0]) return txt(v[0]);\n  return '';\n}\nfunction fromMs(ms) {\n  if (!ms) return '';\n  return new Date(ms).toISOString().split('T')[0];\n}\nconst bookings = items.map(r => {\n  const f = r.fields || {};\n  let editLog = [];\n  try { editLog = JSON.parse(txt(f['Edit Log']) || '[]'); } catch(e) {}\n  return {\n    booking_id:    r.record_id,\n    customer_name: txt(f['Customer Name']),\n    appoint_date:  fromMs(f['Appoint Date']),\n    sched_date:    fromMs(f['Sched Date']),\n    sched_time:    txt(f['Sched Time']),\n    job_type:      txt(f['Job Type']),\n    priority:      txt(f['Priority']) || 'Med',\n    tech_name:     txt(f['Tech Name']),\n    notes:         txt(f['Notes']),\n    status:        txt(f['Status']) || 'active',\n    cancel_reason: txt(f['Cancel Reason']),\n    notify_date:   fromMs(f['Notify Date']),\n    created_by:    txt(f['Created By']),\n    created_at:    txt(f['Created At']),\n    edit_log:      editLog\n  };\n});\nreturn [{ json: bookings }];"
      },
      "id": "4787d4f0-6cb2-4f9e-9285-b8845eab0957",
      "name": "Format Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        2240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "7ef25215-5b32-4f10-9d25-b393cf5dacfc",
      "name": "Respond Bookings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10320,
        2240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "51f1c66f-c298-4e4c-928e-054904479d23",
      "name": "Webhook Create Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        2512
      ],
      "webhookId": "create-booking-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "fef745a0-0005-45ee-99ad-0e0f95043eab",
      "name": "Get Token [CB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = $('Webhook Create Booking').first().json.body || $('Webhook Create Booking').first().json;\nfunction toMs(dateStr) { if (!dateStr) return null; return new Date(dateStr + 'T00:00:00').getTime(); }\nconst fields = {};\nif (body.customer_name) fields['Customer Name'] = body.customer_name;\nif (body.appoint_date)  fields['Appoint Date']  = toMs(body.appoint_date);\nif (body.sched_date)    fields['Sched Date']    = toMs(body.sched_date);\nif (body.sched_time)    fields['Sched Time']    = body.sched_time;\nif (body.job_type)      fields['Job Type']      = body.job_type;\nif (body.priority)      fields['Priority']      = body.priority;\nif (body.tech_name)     fields['Tech Name']     = body.tech_name;\nif (body.notes)         fields['Notes']         = body.notes;\nfields['Status']      = 'active';\nif (body.notify_date)   fields['Notify Date']   = toMs(body.notify_date);\nfields['Created By']  = body.created_by || 'Admin';\nfields['Created At']  = new Date().toISOString();\nfields['Edit Log']    = '[]';\nreturn [{ json: { lark_token: token, createBody: JSON.stringify({ fields }) } }];"
      },
      "id": "80bd6a09-eb6d-479d-820f-9b8a11eb0f54",
      "name": "Prep T6 Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        2512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "a5d80a6a-0d98-4615-b569-aa720dea3b48",
      "name": "Create T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        2512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', booking_id: $json.data && $json.data.record && $json.data.record.record_id ? $json.data.record.record_id : '' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c7c82138-c5cd-416b-b305-f940c17354f5",
      "name": "Respond Booking Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10320,
        2512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "46714ae0-2ba6-4743-8b8b-fd38f026bbbf",
      "name": "Webhook Edit Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        2800
      ],
      "webhookId": "edit-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nreturn [{ json: { booking_id: b.booking_id || '', sched_date: b.sched_date || '', sched_time: b.sched_time || '', tech_name: b.tech_name || '', notify_date: b.notify_date || '', edit_reason: b.edit_reason || '', edited_by: b.edited_by || 'Admin', edited_at: b.edited_at || new Date().toISOString() } }];"
      },
      "id": "88238071-2704-4a6f-9271-dc106be157ef",
      "name": "Parse Edit Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        2800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "f3805644-de91-4f0d-b80e-75be098bfb2c",
      "name": "Get Token [EB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9888,
        2800
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $('Parse Edit Body').first().json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "971c4c9c-f859-4045-9e7f-af0a85e1faa8",
      "name": "Get T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        2800
      ]
    },
    {
      "parameters": {
        "jsCode": "const rec = $input.first().json.data && $input.first().json.data.record ? $input.first().json.data.record : {};\nconst body = $('Parse Edit Body').first().json;\nconst token = $('Get Token [EB]').first().json.tenant_access_token;\nconst f = rec.fields || {};\nfunction txt(v) { if (!v) return ''; if (typeof v === 'string') return v; if (v.text) return v.text; return ''; }\nfunction toMs(d) { if (!d) return null; return new Date(d + 'T00:00:00').getTime(); }\nlet editLog = [];\ntry { editLog = JSON.parse(txt(f['Edit Log']) || '[]'); } catch(e) {}\neditLog.push({ edited_by: body.edited_by, edited_at: body.edited_at, edit_reason: body.edit_reason });\nconst fields = {};\nif (body.sched_date)  fields['Sched Date']  = toMs(body.sched_date);\nif (body.sched_time)  fields['Sched Time']  = body.sched_time;\nif (body.tech_name)   fields['Tech Name']   = body.tech_name;\nif (body.notify_date) fields['Notify Date'] = toMs(body.notify_date);\nfields['Edit Log'] = JSON.stringify(editLog);\nreturn [{ json: { lark_token: token, booking_id: body.booking_id, updateBody: JSON.stringify({ fields }) } }];"
      },
      "id": "32995be4-6285-466f-8c2b-cbd7d42ead04",
      "name": "Merge Edit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        2800
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "5a0e1612-683f-4f26-b145-e11d46a4213c",
      "name": "Update T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10544,
        2800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"booking updated\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "00b5022f-c42d-49c9-8a68-096baf89e3a8",
      "name": "Respond Edit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10768,
        2800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1067c5ac-2979-4a82-a7f0-21a987f7f7e5",
      "name": "Webhook Cancel Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        3072
      ],
      "webhookId": "cancel-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nreturn [{ json: { booking_id: b.booking_id || '', cancel_reason: b.cancel_reason || '', cancelled_by: b.cancelled_by || 'Admin', cancelled_at: b.cancelled_at || new Date().toISOString() } }];"
      },
      "id": "82fcd33f-9256-4ecb-adf5-f47d7f3adbf2",
      "name": "Parse Cancel Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        3072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "e4112bca-8802-4375-8ed8-3c4c79f00272",
      "name": "Get Token [XB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9888,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = $('Parse Cancel Body').first().json;\nconst fields = { 'Status': 'cancelled', 'Cancel Reason': body.cancel_reason, 'Cancelled By': body.cancelled_by, 'Cancelled At': body.cancelled_at };\nreturn [{ json: { lark_token: token, booking_id: body.booking_id, updateBody: JSON.stringify({ fields }) } }];"
      },
      "id": "a51907b5-4f13-458e-a5c2-f71ce57e8ee5",
      "name": "Prep Cancel Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        3072
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "364f30cc-093f-4ec7-9eb8-35f32cd37e0f",
      "name": "Cancel T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10352,
        3072
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"booking cancelled\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a8424e53-85a5-41b6-af79-5fa4389d9fa7",
      "name": "Respond Cancel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        10592,
        3072
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "f7905e61-e02b-4c4b-9194-6fb9f3ffba00",
      "name": "⏰ Poll Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        9440,
        3360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"app_id\":\"cli_a9500a1d84f89e18\",\"app_secret\":\"GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp\"}",
        "options": {}
      },
      "id": "0738c488-a948-4173-a857-0b28b6f78d02",
      "name": "🔑 Get Lark Token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9680,
        3360
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"นัดแล้ว\"]\n      },\n      {\n        \"field_name\": \"Tech Notified At\",\n        \"operator\": \"isEmpty\",\n        \"value\": []\n      }\n    ]\n  },\n  \"page_size\": 20\n}",
        "options": {}
      },
      "id": "7603852c-f382-4ad9-a85b-1abb02a1f0bd",
      "name": "📋 Read T5 Scheduled Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9952,
        3360
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.data?.items || [];\n\nif (items.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.value !== undefined && Array.isArray(v.value)) {\n    if (v.value.length === 0) return '';\n    const first = v.value[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (Array.isArray(v)) {\n    if (v.length === 0) return '';\n    const first = v[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (v.text) return v.text;\n  if (v.name) return v.name;\n  return '';\n};\n\nreturn items.map(item => {\n  const f = item.fields || {};\n  return {\n    json: {\n      record_id: item.record_id,\n      job_no: txt(f['Job No.']),\n      shop_name: txt(f['Shop Name']),\n      job_type: txt(f['Job Type']),\n      priority: txt(f['Priority']),\n      problem: txt(f['Problem Summary']),\n      scheduled_date: txt(f['Scheduled Date']),\n      tech_name: txt(f['Tech Name']),\n      tech_phone: txt(f['Staff Phone']),\n      tech_line_id: txt(f['Tech Line ID']),\n      tech_lark_id: txt(f['Tech Lark ID']),\n      assigned_tech: txt(f['Assigned Technician']),\n      google_maps: txt(f['Google Maps URL']),\n      machine_type: txt(f['Machine 1 Type']),\n      filter_system: txt(f['Filter System 1'])\n    }\n  };\n});\n"
      },
      "id": "67a67e2b-c761-4a11-a88b-7e62c8201d94",
      "name": "⚙️ Extract Job Data",
      "type": "n8n-nodes-base.code",
      "position": [
        10192,
        3360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cd436d0-da7a-4ff3-b20d-458d778030c0",
              "leftValue": "={{ $json._no_jobs }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10432,
        3360
      ],
      "id": "3cf8d560-07bd-4f3f-b11f-21f97c594626",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst token = $('🔑 Get Lark Token').first().json.tenant_access_token;\n\nconst msg = `🔧 งานใหม่!\\n` +\n  `📋 ${j.job_no}\\n` +\n  `🏪 ${j.shop_name}\\n` +\n  `⚠️ ${j.problem || j.job_type}\\n` +\n  `📅 ${j.scheduled_date}\\n` +\n  `🎯 Priority: ${j.priority}\\n` +\n  (j.machine_type ? `🧊 ${j.machine_type}\\n` : '') +\n  (j.filter_system ? `💧 กรอง: ${j.filter_system}\\n` : '') +\n  (j.google_maps ? `📍 ${j.google_maps}` : '');\n\nconst techLineBody = JSON.stringify({\n  to: j.tech_line_id,\n  messages: [{ type: 'text', text: msg }]\n});\n\nconst techLarkBody = JSON.stringify({\n  receive_id: j.tech_lark_id,\n  msg_type: 'text',\n  content: JSON.stringify({ text: msg })\n});\n\nconst phone = (j.tech_phone || '').replace(/[-\\s]/g, '').replace(/^0/, '');\nconst techSmsBody = JSON.stringify({\n  recipient: '66' + phone,\n  sender_name: 'SK-ICE',\n  message: `SK ICE: งานใหม่ ${j.job_no} ร้าน${j.shop_name} ${j.scheduled_date}`\n});\n\nreturn [{ json: { \n  ...j, \n  tech_msg: msg, \n  tech_has_line: !!j.tech_line_id,\n  tech_has_lark: !!j.tech_lark_id,\n  lark_token: token,\n  techLineBody,\n  techLarkBody,\n  techSmsBody\n} }];\n"
      },
      "id": "ca74c075-ab8f-4388-94a5-824369c10642",
      "name": "💬 Build Tech Message",
      "type": "n8n-nodes-base.code",
      "position": [
        10720,
        3344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/im/v1/messages?receive_id_type=user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.lark_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techLarkBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10944,
        3344
      ],
      "id": "1c0f24bc-c605-446c-a011-8fc55943cb9c",
      "name": "📲 Lark → Tech"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techLineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "906a30c8-d517-48fa-8fd9-ac54ec39a2b2",
      "name": "📱 LINE → Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        11200,
        3344
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techSmsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d967ebc8-d5a9-427a-b145-e0ee7162e133",
      "name": "📨 SMS → Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        11488,
        3344
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('⚙️ Extract Job Data').first().json;\nconst markBody = JSON.stringify({\n  fields: { 'Tech Notified At': Date.now() }\n});\nreturn [{ json: { record_id: job.record_id, markBody } }];\n"
      },
      "id": "2a65f93c-e07d-4b84-9e01-d241cc6545a9",
      "name": "🔄 Prep Mark Tech",
      "type": "n8n-nodes-base.code",
      "position": [
        11760,
        3344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.markBody }}",
        "options": {}
      },
      "id": "1928c0f5-cc0a-46eb-8f26-b1e61fca9a18",
      "name": "✅ Mark Notified Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        12032,
        3344
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "853a5583-5c57-463d-a9fa-916f5ce1e92c",
      "name": "⏰ Poll Every 5 Min1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        9440,
        3632
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"app_id\":\"cli_a9500a1d84f89e18\",\"app_secret\":\"GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp\"}",
        "options": {}
      },
      "id": "382a2acc-df0d-4a15-931c-e695d7bc4d6a",
      "name": "🔑 Get Lark Token1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9680,
        3632
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"กำลังไป\"]\n      },\n      {\n        \"field_name\": \"Customer Notified - OnWay\",\n        \"operator\": \"isEmpty\",\n        \"value\": []\n      }\n    ]\n  },\n  \"page_size\": 20\n}\n",
        "options": {}
      },
      "id": "2eb831e3-d6bf-4500-86d2-86130ed500dc",
      "name": "📋 Read T5 OnWay Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9952,
        3632
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.data?.items || [];\n\nif (items.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.value !== undefined && Array.isArray(v.value)) {\n    if (v.value.length === 0) return '';\n    const first = v.value[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (Array.isArray(v)) {\n    if (v.length === 0) return '';\n    const first = v[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (v.text) return v.text;\n  if (v.name) return v.name;\n  return '';\n};\n\nreturn items.map(item => {\n  const f = item.fields || {};\n  return {\n    json: {\n      record_id: item.record_id,\n      job_no: txt(f['Job No.']),\n      shop_name: txt(f['Shop Name']),\n      job_type: txt(f['Job Type']),\n      priority: txt(f['Priority']),\n      scheduled_date: txt(f['Scheduled Date']),\n      tech_name: txt(f['Tech Name']),\n      tech_phone: txt(f['Staff Phone']),\n      google_maps: txt(f['Google Maps URL']),\n      machine_type: txt(f['Machine 1 Type']),\n      customer_line_id: txt(f['C.LINE User ID']),\n      customer_phone: txt(f['Customer Phone 1']),\n      has_line: !!txt(f['C.LINE User ID'])\n    }\n  };\n});\n"
      },
      "id": "40c66ffd-5e5a-4bea-b4d2-1c628ddd4c84",
      "name": "⚙️ Extract Job Data1",
      "type": "n8n-nodes-base.code",
      "position": [
        10192,
        3632
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "51514bf2-ed3a-4951-be62-bcf1750f08ef",
              "leftValue": "={{ $json._no_jobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10448,
        3632
      ],
      "id": "f2e320bd-ce6f-473f-8d23-b0462229abb6",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblKZmsPEQ1jmRlx/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Shop Name\",\n        \"operator\": \"is\",\n        \"value\": [\"{{ $json.shop_name }}\"]\n      }\n    ]\n  },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "6bf76de4-f9fd-447b-b869-14c25538ed46",
      "name": "👤 Read T1 Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10720,
        3616
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('⚙️ Extract Job Data1').item.json;\nconst t1 = $input.first().json;\nconst cust = t1.data?.items?.[0]?.fields || {};\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (Array.isArray(v) && v[0]?.text) return v[0].text;\n  if (v.text) return v.text;\n  return String(v);\n};\n\nconst line_uid = txt(cust['C.LINE User ID']);\nconst phone = txt(cust['Customer Phone 1']);\nconst contact = txt(cust['Customer Contact 1']);\n\nconst msg = `สวัสดีค่ะ คุณ${contact} 🙏\\n` +\n  `แจ้งจาก SK ICE:\\n` +\n  `ช่าง${job.tech_name} กำลังเดินทางไปบริการ\\n` +\n  `📋 ${job.job_type}\\n` +\n  `📅 ${job.scheduled_date}\\n` +\n  `☎️ โทรช่างได้ที่ ${job.tech_phone}\\n` +\n  `หากต้องการเลื่อนนัด กรุณาแจ้งล่วงหน้าค่ะ`;\n\nconst custLineBody = JSON.stringify({\n  to: line_uid,\n  messages: [{ type: 'text', text: msg }]\n});\n\nconst phoneClean = phone ? '66' + phone.replace(/[-\\s]/g, '').replace(/^0/, '') : '';\nconst custSmsBody = JSON.stringify({\n  recipient: phoneClean,\n  sender_name: 'SK-ICE',\n  message: `SK ICE: ช่าง${job.tech_name} กำลังเดินทางไปบริการร้าน${job.shop_name} โทร ${job.tech_phone}`\n});\n\nreturn [{\n  json: {\n    ...job,\n    cust_line_uid: line_uid,\n    cust_phone: phone,\n    cust_contact: contact,\n    cust_msg: msg,\n    cust_has_line: !!line_uid,\n    custLineBody,\n    custSmsBody\n  }\n}];"
      },
      "id": "b08b9d1a-0839-4a2a-bc8c-3a20ab0f8442",
      "name": "💬 Build Customer Message",
      "type": "n8n-nodes-base.code",
      "position": [
        10944,
        3616
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.custLineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9a2b90de-43e9-4773-ac4c-0dcd145e2a18",
      "name": "📱 LINE → Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        11200,
        3616
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.custSmsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b807b615-703d-4d42-8e76-59991a348bc6",
      "name": "📨 SMS → Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        11488,
        3616
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('💬 Build Customer Message').first().json;\nconst markBody = JSON.stringify({\n  fields: { 'Customer Notified - OnWay': Date.now() }\n});\nreturn [{ json: { record_id: job.record_id, markBody } }];\n"
      },
      "id": "ead35844-e528-4481-aea2-a58f564a9bea",
      "name": "🔄 Prep Mark Customer",
      "type": "n8n-nodes-base.code",
      "position": [
        11776,
        3616
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.markBody }}",
        "options": {}
      },
      "id": "683fad4b-db80-4bfe-96ec-5ab2de753ded",
      "name": "✅ Mark Notified Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        12048,
        3616
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "89733731-c342-4282-aa4d-3f38cfba8932",
      "name": "Cron Daily T4 Init",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        9440,
        -288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "init-careplan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b5b9df94-c48c-47c0-8477-2850028eff57",
      "name": "Webhook Init CarePlan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        -16
      ],
      "webhookId": "init-careplan-webhook",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Auth check + Parse incoming body\n// Expected: { machine_record_id: 'recXXX', install_date_override?: 'YYYY-MM-DD' }\n// ────────────────────────────────────────────\nconst VALID_TOKEN = 'sk-ice-api-v3-2026';\n\nconst raw = $input.first().json;\nconst headers = raw.headers || {};\nconst query = raw.query || {};\nconst token = headers['x-api-key'] || headers['X-API-Key'] || headers['X-Api-Key'] || query.token || '';\n\nif (token !== VALID_TOKEN) {\n  return [{ json: { __error: true, __unauthorized: true, message: 'Unauthorized' } }];\n}\n\nconst body = raw.body || raw;\nconst machine_record_id = body.machine_record_id || body.machine_id || '';\nconst install_date_override = body.install_date_override || '';\n\nif (!machine_record_id) {\n  return [{ json: { __error: true, message: 'machine_record_id is required' } }];\n}\n\nreturn [{ json: { machine_record_id, install_date_override } }];"
      },
      "id": "52600725-07cf-4d3e-9dcd-2f35b9889123",
      "name": "Parse Init Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-err",
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a53ec1a7-cf6d-492f-903d-999efa64901a",
      "name": "If Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9888,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $('Parse Init Body').first().json.message }) }}",
        "options": {
          "responseCode": "={{ $('Parse Init Body').first().json.__unauthorized ? 401 : 400 }}"
        }
      },
      "id": "68ef17db-cf7a-4b35-8bdf-3c1c1f1f8755",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        10208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "46c174a2-eaff-42d1-8a13-cf8edee9d5ab",
      "name": "Get Lark Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10208,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep: Fetch T2 Machine record by record_id\n// ────────────────────────────────────────────\nconst token = $input.first().json.tenant_access_token;\nconst initData = $('Parse Init Body').first().json;\n\nreturn [{ json: {\n  lark_token: token,\n  machine_record_id: initData.machine_record_id,\n  install_date_override: initData.install_date_override\n} }];"
      },
      "id": "4286839e-747c-4535-96ee-e2824078a45b",
      "name": "Prep Fetch T2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10416,
        -288
      ]
    },
    {
      "parameters": {
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblU7hDhX2UG4Tbi/records/{{ $json.machine_record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "722ab669-b095-4e67-897f-9f0e2adfdfdc",
      "name": "Fetch T2 Machine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10640,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Parse T2 + Select Template\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst prevData = $('Prep Fetch T2').first().json;\n\nif (!res.data || !res.data.record) {\n  return [{ json: { __error: true, message: 'T2 record not found: ' + prevData.machine_record_id } }];\n}\n\nconst f = res.data.record.fields || {};\nconst machine_record_id = prevData.machine_record_id;\nconst lark_token = prevData.lark_token;\nconst install_date_override = prevData.install_date_override;\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.text) return v.text;\n  if (v.value && typeof v.value === 'string') return v.value;\n  if (Array.isArray(v) && v[0]) {\n    const x = v[0];\n    return typeof x === 'string' ? x : (x.text || x.name || x.value || '');\n  }\n  return '';\n}\n\n// Lark Date field = Unix ms number. Convert to YYYY-MM-DD in Bangkok TZ.\nfunction dateStr(v) {\n  if (v === null || v === undefined || v === '') return '';\n  if (typeof v === 'number') {\n    const bkk = new Date(v + 7 * 3600 * 1000);\n    const yyyy = bkk.getUTCFullYear();\n    const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(bkk.getUTCDate()).padStart(2, '0');\n    return yyyy + '-' + mm + '-' + dd;\n  }\n  const s = typeof v === 'string' ? v : txt(v);\n  if (!s) return '';\n  return s.split('T')[0].replace(/\\//g, '-');\n}\n\n// Bangkok-aware today (for fallback when Install date empty)\nfunction bkkTodayStr() {\n  const bkk = new Date(new Date().getTime() + 7 * 3600 * 1000);\n  const yyyy = bkk.getUTCFullYear();\n  const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(bkk.getUTCDate()).padStart(2, '0');\n  return yyyy + '-' + mm + '-' + dd;\n}\n\nconst shopName      = txt(f['Shop Name']);\nconst machineCode   = txt(f['Machine Code']);\nconst ownershipRaw  = txt(f['Ownership Type']);\nconst filterSystem1 = txt(f['Filter System 1']);\nconst customerRaw   = txt(f['Customer']);\n\n// ─── Determine rental vs sale ───\n// NOTE: Rental/Sale = billing model only (Included in Rental? flag),\n//       physical interval = material chemistry (independent of contract).\nconst isRental = ownershipRaw === 'เช่า' || ownershipRaw.toLowerCase().includes('rental');\n\n// ─── Determine stage count from Filter System ───\n// '3 ขั้นตอน' → 3, '5 ขั้นตอน' → 5, else → 6\nconst stageMatch = (filterSystem1 || '').match(/(\\d+)/);\nconst maxStage = stageMatch ? parseInt(stageMatch[1]) : 6;\n\n// ─── Install date ───\n// ⚠️ Install date อาจเป็น Date field (ms number) — ใช้ dateStr() แปลง ห้ามใช้ txt().split('T')[0]\n// (bug ที่เจอใน rental-cron: ms number → string = literal '1793898000000' แล้ว split('T') ก็ไม่ช่วย)\nconst installRaw = install_date_override || dateStr(f['Install date']) || dateStr(f['Install Date']);\nconst installDate = installRaw || bkkTodayStr();\n\n// ─── Fallback interval tables (used only if template row missing) ───\n// Physics-bound: Stage 4-6 interval doesn't change whether contract is Rental or Sale.\n// Only Stage 1-3 differs (Rental bills monthly → visit monthly; Sale pay-per-service).\nconst FALLBACK_SALE   = { 1: 1, 2: 3, 3: 3, 4: 10, 5: 12, 6: 12 };\nconst FALLBACK_RENTAL = { 1: 1, 2: 1, 3: 1, 4: 10, 5: 12, 6: 12 };\n\n// ─── RO Stage Templates ───\n// Care Type uses confirmed T4 SingleSelect options: Filter Change | Descaling | PM\n// All 6 RO stages = cartridge replacement → Filter Change\n// ⚠️ name MUST exactly match Lark T4.Filter Stage MultiSelect options\n//    (verified 2026-04-20). Spec detail like '10\"' / '300 GPD' belongs in T3 catalog,\n//    not here — this is a UI label only.\nconst RO_STAGE_CONFIG = [\n  { stage: 1, name: 'Stage 1 - PP Sediment',        t3_code: 'F00001', interval: 1,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 2, name: 'Stage 2 - Carbon Block',       t3_code: 'F00002', interval: 3,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 3, name: 'Stage 3 - Resin / Softener',   t3_code: 'F00003', interval: 3,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 4, name: 'Stage 4 - RO Membrane',        t3_code: 'F00072', interval: 10, alert: 14, care_type: 'Filter Change' },\n  { stage: 5, name: 'Stage 5 - Post Carbon',        t3_code: 'F00004', interval: 12, alert: 14, care_type: 'Filter Change' },\n  { stage: 6, name: 'Stage 6 - Mineral / Alkaline', t3_code: 'F00005', interval: 12, alert: 14, care_type: 'Filter Change' }\n];\n\n// Filter stages based on machine's filter system count\nconst selectedStages = RO_STAGE_CONFIG.filter(s => s.stage <= maxStage);\n\n// Rental override: Stage 1-3 visits monthly (billing tie-in), Stage 4-6 physics-bound unchanged.\n// Care Type stays 'Filter Change' — the physical act doesn't change with contract type.\nconst stages = isRental\n  ? selectedStages.map(s => ({\n      ...s,\n      interval: FALLBACK_RENTAL[s.stage] || s.interval,\n      alert: s.stage <= 3 ? 7 : 14\n    }))\n  : selectedStages;\n\n// ─── Helper: Add months to date ───\nfunction addMonths(dateStr, months) {\n  const d = new Date(dateStr + 'T00:00:00');\n  d.setMonth(d.getMonth() + months);\n  return d.toISOString().split('T')[0];\n}\n\n// ─── Build stage records ───\nconst stageRecords = stages.map(s => {\n  const carePlanId = 'CP-' + (machineCode || machine_record_id.slice(-6)) + '-S' + s.stage;\n  const nextDueDate = addMonths(installDate, s.interval);\n\n  return {\n    care_plan_id: carePlanId,\n    machine_record_id,\n    shop_name: shopName,\n    machine_code: machineCode,\n    ownership_type: ownershipRaw,\n    stage: s.stage,\n    filter_name: s.name,\n    t3_code: s.t3_code,\n    interval: s.interval,\n    alert_days: s.alert,\n    care_type: s.care_type,\n    install_date: installDate,\n    next_due_date: nextDueDate,\n    lark_token\n  };\n});\n\nreturn [{ json: {\n  stage_records: stageRecords,\n  stage_count: stageRecords.length,\n  shop_name: shopName,\n  machine_code: machineCode,\n  is_rental: isRental,\n  install_date: installDate,\n  lark_token\n} }];"
      },
      "id": "88ca515a-7de4-4ee9-9925-8ef2742fed8a",
      "name": "Parse T2 + Select Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10864,
        -288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-valid",
              "leftValue": "={{ $json.stage_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8858b87-3f3f-48ee-bd80-50e76c3fd19c",
      "name": "If Has Stages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11088,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Idempotency: ตรวจ T4 ว่า machine นี้มี CarePlan stage นี้อยู่แล้วไหม\n// เพื่อป้องกัน init ซ้ำ\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nconst lark_token = data.lark_token;\nconst machine_record_id = data.stage_records[0].machine_record_id;\n\n// Search T4 by Machine linked record\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'and',\n    conditions: [\n      // Machine is a linked field — search by record_id of the linked T2\n      { field_name: 'Machine', operator: 'is', value: [machine_record_id] }\n    ]\n  },\n  page_size: 20\n  // ⚠️ ห้ามระบุ field_names\n});\n\nreturn [{ json: { ...data, t4CheckBody: searchBody } }];"
      },
      "id": "a52f3046-04fa-4d6f-a8f9-4ba56e626486",
      "name": "Prep Check Existing T4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11376,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.t4CheckBody }}",
        "options": {}
      },
      "id": "bb961d50-fb32-49d0-a196-59c3cde575fd",
      "name": "Check Existing T4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11600,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Filter: skip stages ที่มี T4 อยู่แล้ว (idempotency)\n// ────────────────────────────────────────────\nconst templateData = $('Prep Check Existing T4').first().json;\nconst stageRecords = templateData.stage_records;\nconst lark_token = templateData.lark_token;\n\nconst t4Res = $input.first().json;\nconst existingItems = (t4Res.data && t4Res.data.items) || [];\n\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (Array.isArray(v) && v[0]) {\n    const x = v[0];\n    return typeof x === 'string' ? x : (x.text || x.name || '');\n  }\n  return '';\n}\n\n// Collect existing stage numbers\nconst existingStages = existingItems.map(it => {\n  const f = it.fields || {};\n  return parseInt(txt(f['Stage Number']) || '0');\n}).filter(n => !isNaN(n) && n > 0);\n\n// Only create stages that don't exist yet\nconst newStages = stageRecords.filter(s => !existingStages.includes(s.stage));\nconst skippedStages = stageRecords.filter(s => existingStages.includes(s.stage));\n\nif (newStages.length === 0) {\n  return [{ json: {\n    has_new: false,\n    skipped: skippedStages.length,\n    message: 'All ' + skippedStages.length + ' stages already exist in T4',\n    lark_token\n  } }];\n}\n\nreturn [{ json: {\n  has_new: true,\n  new_stages: newStages,\n  skipped_count: skippedStages.length,\n  new_count: newStages.length,\n  shop_name: templateData.shop_name,\n  machine_code: templateData.machine_code,\n  is_rental: templateData.is_rental,\n  lark_token\n} }];"
      },
      "id": "78d0d011-7584-44af-989c-f782690aa191",
      "name": "Idempotency Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11824,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-new",
              "leftValue": "={{ $json.has_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6b6b6d0-aefa-4dd5-9410-cf4befcf746a",
      "name": "If New Stages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12048,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Split: แตก new_stages array → 1 item per stage\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nreturn data.new_stages.map(s => ({ json: { ...s, lark_token: data.lark_token } }));"
      },
      "id": "3a93f193-6dbd-474a-b480-07bf80d3a26d",
      "name": "Split New Stages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12288,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Build T4 record body for Lark create\n// ⚠️ Fields NOT to write (per 2026-04-20 audit):\n//   • Next Due Date       — Formula (Last Done Date + Planned Interval) → auto-compute\n//   • Due Status          — Formula (derived from Next Due Date)\n//   • Service Item        — DuplexLink → T3 (needs record_id, not code string; filled separately)\n//   • Assigned Technician — Link → T8 (unassigned at init; admin sets later)\n//   • Lead Time Override  — Number (empty = fallback to Alert Before (Days))\n//   • Customer / Location — covered by Machine link + Lookup\n// Fields used (confirmed in T4 schema 2026-04-20):\n//   Planned Interval (Months) — Number (template baseline, source of truth)\n//   Care Type                 — MultiSelect [Filter Change | Descaling | PM]\n//   Filter Stage              — MultiSelect [Stage 1..6 - Material]  ← MUST match Lark options exactly\n//   Included in Rental        — Checkbox (true if rental contract)\n//   CP Status                 — SingleSelect [Pending | Active | Done]  ← no colon!\n//   Last Done Date            — Date (write as ms timestamp)\n//   Qty per Visit             — Number (default 1; admin tune per machine)\n//   Auto Create Ticket        — Checkbox (true = cron auto-schedules T5; false = admin schedules manually)\n//   Interval Override Reason  — Text (audit trail for fallback/override)\n//   Last 3 Actual Intervals   — Text (JSON array, filled by create-job workflow)\n// ⚠️ Bug #7 pattern: ใช้ $input.all().map() ไม่ใช่ first()\n//   Split New Stages ส่งมา 1 item/stage (3-6 stages) — first() จะ drop stage 2-6 เงียบๆ\n// ⚠️ Lark Date field write = ms number (bug #4 จาก rental-cron) ใช้ toMs()\n// ⚠️ Lark Link write = [\"rec...\"] NOT [{record_id}] (bug #5 จาก rental-cron)\n// ────────────────────────────────────────────\n\n// 🔧 FIXED 2026-04-27 (Path D): Last Done = install_date (ไม่ back-date แล้ว)\n//   เดิม: Last Done = install - interval → first due = install date → cron trigger ทันที (noise)\n//   ใหม่: Last Done = install_date → first due = install + interval (1 cycle full)\n//   Install QC visit (post-install QC สำหรับลูกค้าใหม่) แยกเป็น manual T5 จาก dashboard\n//   ไม่ผูกกับ T4 cycle — clean decoupling: PM = recurring, QC = one-shot\n\n// Lark Date write = ms timestamp (Bangkok midnight)\nfunction toMs(dateStr) {\n  if (!dateStr) return null;\n  return new Date(dateStr + 'T00:00:00+07:00').getTime();\n}\n\nreturn $input.all().map(item => {\n  const s = item.json;\n\n  const fields = {\n    // ── Identifiers ──\n    'Care Plan ID':  s.care_plan_id,\n    'Stage Number':  s.stage,\n    // MultiSelect fields → must be array even for single value\n    'Filter Stage':  [s.filter_name],\n    'Care Type':     [s.care_type],   // Filter Change | Descaling | PM\n\n    // ── Schedule ──\n    // Planned Interval = template baseline (source of truth for Formula).\n    // Next Due Date is a Formula — never write; Lark computes from Last Done Date + this.\n    // First cycle: install + interval (no back-dating · post-install QC handled separately)\n    'Planned Interval (Months)': s.interval,\n    'Alert Before (Days)':       s.alert_days,\n    'Last Done Date':            toMs(s.install_date),\n\n    // ── Billing model flag (separate from physical interval) ──\n    // 🔧 FIXED 2026-04-26: 'Included in Rental' is FORMULA in T4 (auto-computed) · removed write\n    //   Lark API rejects writes to formula fields → silent fail (root cause of 'no T4' bug)\n\n    // ── Status ──\n    // 🔧 FIXED 2026-04-27 (Path D): 'Active' ที่ init แทน 'Pending'\n    //   เดิม: Pending → ติดที่ Pending ตลอดกาล (no transition logic) → data hygiene issue\n    //   ใหม่: Active ที่ init = 80% ลูกค้า auto-mode default · admin pause ราย stage ผ่าน Active？ toggle\n    // SingleSelect — no colon in field name (schema confirmed 2026-04-20)\n    'CP Status': 'Active',\n\n    // ── Active flag (Path D — admin per-stage toggle) ──\n    // 🔧 FIXED 2026-04-26: Added Active？ (Checkbox) · default true · full-width '？'\n    // 🔧 ACTIVATED 2026-04-27: cron filter ใช้ field นี้แล้ว (ไม่ใช่ dead data)\n    //   admin set false → cron skip stage นั้น (ลูกค้า admin-managed / pause ชั่วคราว)\n    'Active？':           true,\n\n    // ── Visit defaults ──\n    // 🔧 FIXED 2026-04-26: Field name uses full-width '？' (Lark Base auto-conversion)\n    'Qty per Visit':       1,\n    'Auto Create Ticket？': true,\n\n    // ── Audit (empty at init; filled when fallback/override triggers) ──\n    'Interval Override Reason': '',\n    'Last 3 Actual Intervals':  '[]'\n  };\n\n  // Linked record: Machine → T2 (DuplexLink) — write format = [\"rec...\"]\n  if (s.machine_record_id) {\n    fields['Machine'] = [s.machine_record_id];\n  }\n\n  const body = JSON.stringify({ fields });\n  return { json: { ...s, createBody: body } };\n});"
      },
      "id": "b22d2269-e463-46ff-8b04-1a9714ef26e2",
      "name": "Build T4 Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12512,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "aa899d87-f351-474b-99e3-6047e2dfcb96",
      "name": "Create T4 in Lark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12736,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Collect all created T4 records → build response\n// ────────────────────────────────────────────\nconst allItems = $input.all();\nconst created = [], errors = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (d.data && d.data.record) {\n    created.push({\n      record_id: d.data.record.record_id,\n      care_plan_id: d.data.record.fields?.['Care Plan ID'] || '',\n      stage: d.data.record.fields?.['Stage Number'] || ''\n    });\n  } else if (d.code && d.code !== 0) {\n    errors.push({ code: d.code, msg: d.msg || 'error' });\n  }\n}\n\n// Reconstruct source data from Split New Stages\nconst splitItems = $('Split New Stages').all();\nconst shopName = splitItems[0]?.json?.shop_name || '';\nconst machineCode = splitItems[0]?.json?.machine_code || '';\nconst isRental = splitItems[0]?.json?.is_rental || false;\nconst skippedCount = $('Idempotency Filter').first().json.skipped_count || 0;\n\nconst summary = {\n  success: errors.length === 0,\n  machine_code: machineCode,\n  shop_name: shopName,\n  ownership: isRental ? 'Rental' : 'Sale',\n  created_count: created.length,\n  skipped_count: skippedCount,\n  error_count: errors.length,\n  created_records: created,\n  errors: errors.length > 0 ? errors : undefined\n};\n\nreturn [{ json: summary }];"
      },
      "id": "1613f8ba-ad12-493d-b940-fefb8a59f060",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12960,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6d8ebb13-d7fe-4913-9271-c67f0bd5555f",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        13168,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// All stages already exist\nconst data = $input.first().json;\nreturn [{ json: { success: true, message: data.message, skipped: data.skipped } }];"
      },
      "id": "bbb73a8a-4159-4c7f-9111-0a178ef4e3d5",
      "name": "All Already Exist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12288,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d79c5022-d0c1-4678-aa80-b4b75574d9e8",
      "name": "Respond Already Exists",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        12512,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No valid stages found for machine. Check Filter System 1 field in T2.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "154b310c-5efb-4643-8d67-beeb2117a503",
      "name": "Respond No Stages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        11376,
        -208
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-machines",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gm-001",
      "name": "Webhook Get Machines",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9440,
        496
      ],
      "webhookId": "get-machines-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gm-002",
      "name": "Get Token [GM]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\n// page_token จาก query string สำหรับ pagination\nconst webhookData = $('Webhook Get Machines').first().json;\nconst incomingPageToken = (webhookData.query && webhookData.query.page_token) ? webhookData.query.page_token : '';\n// page_size 500 = T2 ~200-400 records โหลดครบใน 1 request\nconst body = { page_size: 500 };\nif (incomingPageToken) body.page_token = incomingPageToken;\n// pass-through customer_record_id filter (apply ใน Format Machines แบบ n8n filter)\nconst customer_record_id = (webhookData.query && webhookData.query.customer_record_id) ? webhookData.query.customer_record_id : '';\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify(body), customer_record_id } }];"
      },
      "id": "gm-003",
      "name": "Prep Search T2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9888,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblU7hDhX2UG4Tbi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T2').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T2').first().json.searchBody }}",
        "options": {}
      },
      "id": "gm-004",
      "name": "Fetch T2 Machines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst customer_filter = $('Prep Search T2').first().json.customer_record_id || '';\nconst larkPageToken = data.data?.page_token || null;\nconst larkHasMore   = !!data.data?.has_more;\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || f.value || ''; }\n  if (v.text) return v.text;\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\n// link_record_ids extractor — link fields ใน Lark = { link_record_ids: ['rec...'] } หรือ array of objects\nconst linkIds = (v) => {\n  if (!v) return [];\n  if (v.link_record_ids && Array.isArray(v.link_record_ids)) return v.link_record_ids;\n  if (Array.isArray(v)) return v.map(x => (typeof x === 'object' && x.record_id) ? x.record_id : (typeof x === 'string' ? x : '')).filter(Boolean);\n  return [];\n};\nlet machines = items.map(it => {\n  const f = it.fields || {};\n  const customer_link_ids = linkIds(f['Shop Name']);\n  return {\n    record_id: it.record_id,\n    'Machine Code':     txt(f['Machine Code']),\n    'Customer ID':      txt(f['Customer ID']),\n    'Customer':         txt(f['Customer']),\n    'Equipment Type':   txt(f['Equipment Type']),\n    'Filter System 1':  txt(f['Filter System 1']),\n    'Machine Status':   txt(f['Machine Status']),\n    'Ownership Type':   txt(f['Ownership Type']),\n    'Machine Location': txt(f['Machine Location']),\n    'Install date':     f['Install date'] || null,\n    'Last Service Date': f['Last Service Date'] || null,\n    customer_record_ids: customer_link_ids,\n    machine_code: txt(f['Machine Code']),\n    customer_name: txt(f['Customer']),\n    customer_id: txt(f['Customer ID'])\n  };\n}).filter(m => m['Machine Code'] || m['Customer ID']);\n// n8n-side filter (chosen over Lark filter — see ADR/audit notes)\nif (customer_filter) {\n  machines = machines.filter(m => m.customer_record_ids.includes(customer_filter));\n}\nmachines.sort((a, b) => (a.customer_name || '').localeCompare(b.customer_name || '', 'th') || (a.machine_code || '').localeCompare(b.machine_code || ''));\nreturn [{ json: { ok: true, machines, page_token: larkPageToken, has_more: larkHasMore, count: machines.length } }];"
      },
      "id": "gm-005",
      "name": "Format Machines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "gm-006",
      "name": "Respond Machines",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        10544,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get Token [CJ]').first().json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ filter: { conjunction: 'and', conditions: [{ field_name: 'Job No.', operator: 'contains', value: ['J-' + (() => { const d = new Date(Date.now()+7*3600*1000); return d.getUTCFullYear() + String(d.getUTCMonth()+1).padStart(2,'0') + String(d.getUTCDate()).padStart(2,'0'); })()] }] }, page_size: 500 }) }}",
        "options": {}
      },
      "id": "cj-005",
      "name": "Search Today T5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10112,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Generate Job No. : J-YYYYMMDD-XXX (sequence per day)\n// 🎯 Owned in n8n (not Lark Formula) — vendor-portable.\n// Trade-off: race condition possible if 2 requests come ms-apart.\n//   Acceptable for admin dashboard (low concurrency).\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst items = res.data?.items || [];\n\n// Bangkok-aware date prefix\nconst bkk = new Date(Date.now() + 7 * 3600 * 1000);\nconst yyyy = bkk.getUTCFullYear();\nconst mm   = String(bkk.getUTCMonth() + 1).padStart(2, '0');\nconst dd   = String(bkk.getUTCDate()).padStart(2, '0');\nconst datePrefix = `J-${yyyy}${mm}${dd}-`;\n\n// Extract sequence numbers from existing Job No.s\nconst seqs = items\n  .map(it => {\n    const v = it.fields?.['Job No.'];\n    let s = '';\n    if (typeof v === 'string') s = v;\n    else if (Array.isArray(v) && v[0]) s = v[0].text || v[0];\n    else if (v?.text) s = v.text;\n    else if (v?.value && Array.isArray(v.value) && v.value[0]) s = v.value[0].text || v.value[0];\n    return s;\n  })\n  .filter(s => s && s.startsWith(datePrefix))\n  .map(s => parseInt(s.slice(datePrefix.length), 10))\n  .filter(n => !isNaN(n));\n\nconst nextSeq = (seqs.length ? Math.max(...seqs) : 0) + 1;\nconst job_no = `${datePrefix}${String(nextSeq).padStart(3, '0')}`;\n\n// Pass through existing Parse Body data + add job_no\nconst src = $('Parse Body').first().json;\nreturn [{ json: { ...src, job_no, _seq_today: nextSeq, _date_prefix: datePrefix } }];"
      },
      "id": "cj-006",
      "name": "Compute Job No.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10336,
        832
      ]
    },
    {
      "parameters": {
        "url": "=https://tinyurl.com/api-create.php?url={{ encodeURIComponent('https://sakkaphong.github.io/sk-ice-gps/rating.html?job=' + $('Parse Complete Body').first().json.job_id + '&tech=' + encodeURIComponent($('Parse Complete Body').first().json.tech_name || '')) }}",
        "responseFormat": "text",
        "options": {}
      },
      "id": "4c38d4d7-b34c-47d6-8293-5d93bed8e7cc",
      "name": "Shorten Rating URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12896,
        2200
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Complete Body').first().json;\nconst shortUrl = $input.first().json.data || '';\n\n// รวม phone 1, 2, 3 จาก payload (tech.html ส่งมา)\nconst rawPhones = [\n  src.customer_phone  || '',\n  src.customer_phone_2 || '',\n  src.customer_phone_3 || ''\n];\n\nconst seen = new Set();\nconst items = [];\nfor (const raw of rawPhones) {\n  const digits = raw.replace(/\\D/g, '');\n  if (!/^0[6-9]/.test(digits)) continue; // Thai mobile only\n  const intl = '66' + digits.slice(1);\n  if (seen.has(intl)) continue;\n  seen.add(intl);\n  const msg = 'SK ICE: ประเมินงาน ' + src.job_id + ' ได้ที่: ' + shortUrl + ' ขอบคุณครับ 🙏';\n  items.push({ json: { sms_recipient: intl, sms_msg: msg } });\n}\nreturn items;"
      },
      "id": "010c2de3-ea3f-49c8-a6a6-9c2f6f4744a0",
      "name": "Split Phones [Rating]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        2200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ recipient: $json.sms_recipient, sender_name: 'SK-ICE', message: $json.sms_msg }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "66f0eb37-1fcb-4846-b991-600a7681b31b",
      "name": "SMS Rating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13408,
        2200
      ]
    },
    {
      "parameters": {
        "path": "rate-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f91135a5-eba3-4ee1-9d38-eec10da92972",
      "name": "Webhook Rate Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        14400,
        272
      ],
      "webhookId": "rate-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst job_id  = body.job_id  || '';\nconst rating  = parseInt(body.rating) || 0;\nconst comment = body.comment || '';\nconst tech_name = body.tech_name || '';\nconst customer_name = body.customer_name || '';\nconst ts = new Date().toISOString().replace('T',' ').slice(0,19);\nreturn [{ json: { ts, job_id, rating, comment, tech_name, customer_name } }];"
      },
      "id": "60391d1e-c5c9-4906-8b8b-fbca0dba3687",
      "name": "Parse Rating Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14640,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15ZWCa3JCWm0GKODJG9lipzeho4gebu2hepO6drygOek",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "T19_Ratings",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.ts }}",
            "job_id": "={{ $json.job_id }}",
            "rating": "={{ $json.rating }}",
            "comment": "={{ $json.comment }}",
            "tech_name": "={{ $json.tech_name }}",
            "customer_name": "={{ $json.customer_name }}"
          }
        },
        "options": {}
      },
      "id": "9242b637-e2c2-4404-811b-41627cf8c165",
      "name": "Write Rating to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        14880,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "9be142d3-d280-4fb1-8bdb-3539ceebb514",
      "name": "Respond Rate Job",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        15120,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Get Customers": {
      "main": [
        [
          {
            "node": "Get Token [GC]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GC]": {
      "main": [
        [
          {
            "node": "Prep Search T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T1": {
      "main": [
        [
          {
            "node": "Fetch T1 Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T1 Customers": {
      "main": [
        [
          {
            "node": "Format Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Customers": {
      "main": [
        [
          {
            "node": "Respond Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Techs": {
      "main": [
        [
          {
            "node": "Get Token [GT]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GT]": {
      "main": [
        [
          {
            "node": "Prep Search T8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T8": {
      "main": [
        [
          {
            "node": "Fetch T8 Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T8 Techs": {
      "main": [
        [
          {
            "node": "Format Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Techs": {
      "main": [
        [
          {
            "node": "Respond Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Create Job": {
      "main": [
        [
          {
            "node": "Parse Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Body": {
      "main": [
        [
          {
            "node": "Get Token [CJ]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [CJ]": {
      "main": [
        [
          {
            "node": "Search Today T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep T5 Body": {
      "main": [
        [
          {
            "node": "Create T5 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T5 Record": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Jobs": {
      "main": [
        [
          {
            "node": "Get Token [GJ]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GJ]": {
      "main": [
        [
          {
            "node": "Prep Search T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T5": {
      "main": [
        [
          {
            "node": "Fetch T5 Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T5 Jobs": {
      "main": [
        [
          {
            "node": "Format Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Jobs": {
      "main": [
        [
          {
            "node": "Respond Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Attendance": {
      "main": [
        [
          {
            "node": "Get Token [GA]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GA]": {
      "main": [
        [
          {
            "node": "Prep Attendance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Attendance Query": {
      "main": [
        [
          {
            "node": "Fetch T8 for Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T8 for Attendance": {
      "main": [
        [
          {
            "node": "Format Team Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Team Status": {
      "main": [
        [
          {
            "node": "Respond Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Products": {
      "main": [
        [
          {
            "node": "Get Token [GP]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GP]": {
      "main": [
        [
          {
            "node": "Prep Search T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T3": {
      "main": [
        [
          {
            "node": "Fetch T3 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T3 Products": {
      "main": [
        [
          {
            "node": "Format Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Products": {
      "main": [
        [
          {
            "node": "Respond Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Complete Job": {
      "main": [
        [
          {
            "node": "Parse Complete Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Complete Body": {
      "main": [
        [
          {
            "node": "Get Token [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [Complete]": {
      "main": [
        [
          {
            "node": "Prep Search T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T5 Complete": {
      "main": [
        [
          {
            "node": "Search T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search T5 Complete": {
      "main": [
        [
          {
            "node": "Prep Update T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Update T5 Complete": {
      "main": [
        [
          {
            "node": "Update T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T5 Complete": {
      "main": [
        [
          {
            "node": "If CarePlan Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CarePlan Job": {
      "main": [
        [
          {
            "node": "Prep Search T4 Refs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep LINE Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T4 Refs": {
      "main": [
        [
          {
            "node": "Fetch T4 Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T4 Refs": {
      "main": [
        [
          {
            "node": "Calc Next Due Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Next Due Dates": {
      "main": [
        [
          {
            "node": "Update T4 Next Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T4 Next Due": {
      "main": [
        [
          {
            "node": "Prep LINE Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LINE Complete": {
      "main": [
        [
          {
            "node": "LINE Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep SMS Complete": {
      "main": [
        [
          {
            "node": "SMS Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Notify Complete": {
      "main": [
        [
          {
            "node": "Prep SMS Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Notify Complete": {
      "main": [
        [
          {
            "node": "Prep Admin Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Shorten Rating URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Admin Complete": {
      "main": [
        [
          {
            "node": "Admin Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Notify Complete": {
      "main": [
        [
          {
            "node": "Prep Lark DM [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Lark DM [Complete]": {
      "main": [
        [
          {
            "node": "Lark DM Admin [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lark DM Admin [Complete]": {
      "main": [
        [
          {
            "node": "Respond Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Bookings": {
      "main": [
        [
          {
            "node": "Get Token [GB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GB]": {
      "main": [
        [
          {
            "node": "Search T6 Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search T6 Bookings": {
      "main": [
        [
          {
            "node": "Format Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bookings": {
      "main": [
        [
          {
            "node": "Respond Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Create Booking": {
      "main": [
        [
          {
            "node": "Get Token [CB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [CB]": {
      "main": [
        [
          {
            "node": "Prep T6 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep T6 Body": {
      "main": [
        [
          {
            "node": "Create T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T6 Record": {
      "main": [
        [
          {
            "node": "Respond Booking Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Edit Booking": {
      "main": [
        [
          {
            "node": "Parse Edit Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Edit Body": {
      "main": [
        [
          {
            "node": "Get Token [EB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [EB]": {
      "main": [
        [
          {
            "node": "Get T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get T6 Record": {
      "main": [
        [
          {
            "node": "Merge Edit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Edit Log": {
      "main": [
        [
          {
            "node": "Update T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T6 Record": {
      "main": [
        [
          {
            "node": "Respond Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Cancel Booking": {
      "main": [
        [
          {
            "node": "Parse Cancel Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancel Body": {
      "main": [
        [
          {
            "node": "Get Token [XB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [XB]": {
      "main": [
        [
          {
            "node": "Prep Cancel Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cancel Fields": {
      "main": [
        [
          {
            "node": "Cancel T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel T6 Record": {
      "main": [
        [
          {
            "node": "Respond Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Poll Every 5 Min": {
      "main": [
        [
          {
            "node": "🔑 Get Lark Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Get Lark Token": {
      "main": [
        [
          {
            "node": "📋 Read T5 Scheduled Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read T5 Scheduled Jobs": {
      "main": [
        [
          {
            "node": "⚙️ Extract Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Job Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "💬 Build Tech Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Build Tech Message": {
      "main": [
        [
          {
            "node": "📲 Lark → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Lark → Tech": {
      "main": [
        [
          {
            "node": "📱 LINE → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 LINE → Tech": {
      "main": [
        [
          {
            "node": "📨 SMS → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 SMS → Tech": {
      "main": [
        [
          {
            "node": "🔄 Prep Mark Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prep Mark Tech": {
      "main": [
        [
          {
            "node": "✅ Mark Notified Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Poll Every 5 Min1": {
      "main": [
        [
          {
            "node": "🔑 Get Lark Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Get Lark Token1": {
      "main": [
        [
          {
            "node": "📋 Read T5 OnWay Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read T5 OnWay Jobs": {
      "main": [
        [
          {
            "node": "⚙️ Extract Job Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Job Data1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "👤 Read T1 Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Read T1 Customer": {
      "main": [
        [
          {
            "node": "💬 Build Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Build Customer Message": {
      "main": [
        [
          {
            "node": "📱 LINE → Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 LINE → Customer": {
      "main": [
        [
          {
            "node": "📨 SMS → Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 SMS → Customer": {
      "main": [
        [
          {
            "node": "🔄 Prep Mark Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prep Mark Customer": {
      "main": [
        [
          {
            "node": "✅ Mark Notified Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Init CarePlan": {
      "main": [
        [
          {
            "node": "Parse Init Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Init Body": {
      "main": [
        [
          {
            "node": "If Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Input": {
      "main": [
        [
          {
            "node": "Get Lark Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fetch T2": {
      "main": [
        [
          {
            "node": "Fetch T2 Machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T2 Machine": {
      "main": [
        [
          {
            "node": "Parse T2 + Select Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse T2 + Select Template": {
      "main": [
        [
          {
            "node": "If Has Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Stages": {
      "main": [
        [
          {
            "node": "Prep Check Existing T4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Check Existing T4": {
      "main": [
        [
          {
            "node": "Check Existing T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing T4": {
      "main": [
        [
          {
            "node": "Idempotency Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Stages": {
      "main": [
        [
          {
            "node": "Split New Stages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split New Stages": {
      "main": [
        [
          {
            "node": "Build T4 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build T4 Record": {
      "main": [
        [
          {
            "node": "Create T4 in Lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T4 in Lark": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Already Exist": {
      "main": [
        [
          {
            "node": "Respond Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Daily T4 Init": {
      "main": [
        [
          {
            "node": "Get Lark Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lark Token": {
      "main": [
        [
          {
            "node": "Prep Fetch T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Filter": {
      "main": [
        [
          {
            "node": "If New Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Machines": {
      "main": [
        [
          {
            "node": "Get Token [GM]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GM]": {
      "main": [
        [
          {
            "node": "Prep Search T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T2": {
      "main": [
        [
          {
            "node": "Fetch T2 Machines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T2 Machines": {
      "main": [
        [
          {
            "node": "Format Machines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Machines": {
      "main": [
        [
          {
            "node": "Respond Machines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Today T5": {
      "main": [
        [
          {
            "node": "Compute Job No.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Job No.": {
      "main": [
        [
          {
            "node": "Prep T5 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shorten Rating URL": {
      "main": [
        [
          {
            "node": "Split Phones [Rating]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Phones [Rating]": {
      "main": [
        [
          {
            "node": "SMS Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Rate Job": {
      "main": [
        [
          {
            "node": "Parse Rating Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rating Body": {
      "main": [
        [
          {
            "node": "Write Rating to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Rating to Sheets": {
      "main": [
        [
          {
            "node": "Respond Rate Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "533a0d63-8b89-48e2-bee6-0e010c387698",
  "meta": {
    "instanceId": "999f38d9444535a4c9da35e8c7be72e1c3b6cca77c4ee547703ada54237ec1b4"
  },
  "id": "tf6ywfbJfX29PC2g",
  "tags": [
    {
      "name": "T4 T5 NEW",
      "id": "oBpbYItMfELYi96C",
      "updatedAt": "2026-04-26T17:57:04.171Z",
      "createdAt": "2026-04-26T17:57:04.171Z"
    }
  ]
}