wf-create-job.json
{
  "name": "WF Create Job — Lark T5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-customers",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gc-001",
      "name": "Webhook Get Customers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        60
      ],
      "webhookId": "get-customers-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gc-002",
      "name": "Get Token [GC]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\n// รับ page_token จาก query string สำหรับ pagination (โหลดเพิ่ม)\nconst webhookData = $('Webhook Get Customers').first().json;\nconst incomingPageToken = (webhookData.query && webhookData.query.page_token) ? webhookData.query.page_token : '';\n// ไม่ระบุ field_names เพราะ Lark จะ return primary field ไม่ครบถ้า specify\nconst body = { page_size: 500 };\nif (incomingPageToken) body.page_token = incomingPageToken;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify(body) } }];"
      },
      "id": "gc-003",
      "name": "Prep Search T1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblKZmsPEQ1jmRlx/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T1').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T1').first().json.searchBody }}",
        "options": {}
      },
      "id": "gc-004",
      "name": "Fetch T1 Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\n// Lark pagination — ส่งกลับไปให้ dashboard โหลดหน้าต่อไปได้\nconst larkPageToken = data.data?.page_token || null;\nconst larkHasMore   = !!data.data?.has_more;\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; if (f.link) return f.link; return f.text || f.name || ''; }\n  if (v.text) return v.text;\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst customers = items.map(it => {\n  const f = it.fields;\n  const shopName   = txt(f['Shop Name']) || txt(f['Customer']) || '';\n  const lineUserId = txt(f['C.LINE User ID']) || txt(f['C.LINE ID']) || txt(f['LINE User ID']) || '';\n  const phone      = txt(f['Customer Phone 1']) || '';\n  const phone2     = txt(f['Customer Phone 2']) || '';\n  const contact    = txt(f['Customer Contact 1']) || '';\n  const contact2   = txt(f['Customer Contact 2']) || '';\n  const mapsUrl    = txt(f['Google Maps URL']) || txt(f['Machine Location']) || '';\n  const address    = txt(f['Address']) || '';\n  const peakCode   = txt(f['PEAK Code']) || '';\n  const custType   = txt(f['Customer Type']) || '';\n  const equipType  = txt(f['Equipment Type']) || '';\n  const health     = txt(f['Account Status']) || '';\n  const zone       = txt(f['Zone']) || '';\n  return {\n    record_id: it.record_id,\n    'Shop Name':          shopName,\n    'Customer ID':        txt(f['Customer ID']),\n    'Customer Phone 1':   phone,\n    'Customer Phone 2':   phone2,\n    'Customer Contact 1': contact,\n    'Customer Contact 2': contact2,\n    'C.LINE User ID':     lineUserId,\n    'Google Maps URL':    mapsUrl,\n    'Address':            address,\n    'PEAK Code':          peakCode,\n    'Customer Type':      custType,\n    'Equipment Type':     equipType,\n    'Account Status':     health,\n    shop_name: shopName, line_id: lineUserId, phone: phone, phone2: phone2,\n    maps_url: mapsUrl, address: address, contact: contact, contact2: contact2,\n    account_health: health, zone: zone\n  };\n}).filter(c => c['Shop Name']).sort((a, b) => a['Shop Name'].localeCompare(b['Shop Name'], 'th'));\nreturn [{ json: { customers, page_token: larkPageToken, has_more: larkHasMore } }];"
      },
      "id": "gc-005",
      "name": "Format Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        60
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, customers: $json.customers, page_token: $json.page_token, has_more: $json.has_more }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "gc-006",
      "name": "Respond Customers",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        60
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-techs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gt-001",
      "name": "Webhook Get Techs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        260
      ],
      "webhookId": "get-techs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gt-002",
      "name": "Get Token [GT]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100 }) } }];"
      },
      "id": "gt-003",
      "name": "Prep Search T8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tbl8YdXSoeanL8FO/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T8').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T8').first().json.searchBody }}",
        "options": {}
      },
      "id": "gt-004",
      "name": "Fetch T8 Techs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.link) return v.link;\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.text) return v.text;\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst technicians = items.map(it => {\n  const f = it.fields;\n  const staffName = txt(f['์Name']) || txt(f['Name']);\n  const techName = txt(f['Tech Name']);\n  const lineUserId = txt(f['Tech Line User ID']) || '';\n  const lineId = txt(f['Tech Line ID']) || '';\n  const role = txt(f['Role']) || '';\n  const staffId = txt(f['Staff ID']) || '';\n  const phone = txt(f['Staff Phone']) || '';\n  const larkId = txt(f['Tech Lark ID']) || '';\n  return {\n    record_id: it.record_id,\n    'Name': staffName,\n    'Tech Name': techName,\n    'Staff ID': staffId,\n    'Role': role,\n    'Staff Phone': phone,\n    'Tech Lark ID': larkId,\n    'Tech Line User ID': lineUserId,\n    'Tech Line ID': lineId,\n    name: staffName, tech_name: techName, staff_id: staffId,\n    line_id: lineUserId, phone: phone, role: role\n  };\n}).filter(t => t['Name']).sort((a, b) => a['Name'].localeCompare(b['Name'], 'th'));\nreturn [{ json: { technicians } }];"
      },
      "id": "gt-005",
      "name": "Format Techs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, technicians: $json.technicians }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "gt-006",
      "name": "Respond Techs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cj-001",
      "name": "Webhook Create Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        460
      ],
      "webhookId": "create-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nreturn [{ json: {\n  customer_record_id: body.customer_record_id || '',\n  tech_record_id:     body.tech_record_id     || '',\n  job_type:           body.job_type           || 'ซ่อม',\n  priority:           body.priority           || 'ปกติ',\n  scheduled_date:     body.scheduled_date     || '',\n  problem:            body.problem            || '',\n  note:               body.note               || '',\n  source:             'Dashboard'\n}}];"
      },
      "id": "cj-002",
      "name": "Parse Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "cj-003",
      "name": "Get Token [CJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep T5 Body (manual create from admin dashboard)\n// ⚠️ Per 2026-04-18 audit + decision (Option B):\n//   • T5.Customer is a LOOKUP field — resolved via Machine link, DO NOT write.\n// ⚠️ Per 2026-04-20 live test (rental-cron bug #5):\n//   • Lark Link write format = [\"rec...\"] NOT { link_record_ids: [...] } (legacy object)\n//     legacy format = LinkFieldConvFail code 1254067 ทันที\n//\n// 📌 TECH DEBT (tracked 2026-04-18):\n//   Dashboard form ต้องเพิ่ม Machine selector → ส่ง machine_record_id →\n//   เพิ่ม Machine write ตรงนี้ → T5.Customer Lookup จะ resolve ได้อัตโนมัติ\n//   ปัจจุบัน dashboard ยังไม่ส่ง machine_record_id จึง skip Machine write ไปก่อน\n// ────────────────────────────────────────────\nconst token = $('Get Token [CJ]').first().json.tenant_access_token;\nconst src   = $('Parse Body').first().json;\n\nlet scheduledMs = null;\nif (src.scheduled_date) {\n  // Bangkok midnight (ไม่งั้น server UTC จะเพี้ยน -7h)\n  try { scheduledMs = new Date(src.scheduled_date + 'T00:00:00+07:00').getTime(); } catch(e) {}\n  if (isNaN(scheduledMs)) {\n    try { scheduledMs = new Date(src.scheduled_date).getTime(); } catch(e) {}\n  }\n}\n\nconst fields = {};\n// 🔧 FIXED 2026-04-26: 'นัดแล้ว' is NOT in T5.Status options · Lark would reject\n//   T5.Status options = [รอยืนยัน, เสร็จแล้ว, Cancelled, Failed, ถึงแล้ว]\n//   Initial schedule state = 'รอยืนยัน' (matches careplan-cron pattern)\nfields['Status'] = 'รอยืนยัน';\n// Job Type is MultiSelect (verified 2026-04-20) → must be array even for single value\nif (src.job_type)    fields['Job Type']       = Array.isArray(src.job_type) ? src.job_type : [src.job_type];\nif (src.priority)    fields['Priority']       = src.priority;\nif (src.problem)     fields['Defect']         = src.problem;\n// 🔧 FIXED 2026-04-26: T5 has no 'Note' field · use 'Billing Note' for admin remarks\nif (src.note)        fields['Billing Note']   = src.note;\n// 🔧 FIXED 2026-04-26: T5 has no 'Source' field · use 'Source Ref ID' for tracing\nif (src.source)      fields['Source Ref ID']  = src.source;\nif (scheduledMs)     fields['Scheduled Date'] = scheduledMs;\n// ❌ Removed: Customer write — T5.Customer = Lookup (silent-drop anyway).\n// 🔧 FIXED 2026-04-26: Field name = 'Assigned Technician' (T5 schema · SingleLink to T8)\n//   Was 'Technician' which doesn't exist · silent-dropped tech assignment\nif (src.tech_record_id)     fields['Assigned Technician']  = [src.tech_record_id];\n\nreturn [{ json: { ...src, lark_token: token, createBody: JSON.stringify({ fields }) } }];"
      },
      "id": "cj-004",
      "name": "Prep T5 Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "cj-005",
      "name": "Create T5 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.code !== 0) {\n  return [{ json: { ok: false, error: result.msg || 'Lark API error', code: result.code } }];\n}\nconst record = result.data?.record || {};\nreturn [{ json: {\n  ok: true,\n  record_id: record.record_id || '',\n  job_no:    record.fields?.['Job No.'] || '',\n  status:    record.fields?.['Status']  || 'นัดแล้ว',\n  message:   'สร้างงานสำเร็จ'\n} }];"
      },
      "id": "cj-006",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cj-007",
      "name": "Respond Create Job",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-jobs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gj-001",
      "name": "Webhook Get Jobs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        660
      ],
      "webhookId": "get-jobs-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gj-002",
      "name": "Get Token [GJ]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify({ page_size: 100, sort: [{ field_name: 'Created Time', order: 'DESC' }] }) } }];"
      },
      "id": "gj-003",
      "name": "Prep Search T5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T5').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Prep Search T5').first().json.searchBody }}",
        "options": {}
      },
      "id": "gj-004",
      "name": "Fetch T5 Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { if (!v.length) return ''; const f = v[0]; if (typeof f === 'string') return f; return f.text || f.name || ''; }\n  if (v.value) { if (typeof v.value === 'string') return v.value; if (Array.isArray(v.value)) { const f = v.value[0]; if (!f) return ''; if (typeof f === 'string') return f; return f.text || f.name || ''; } }\n  return '';\n};\nconst jobs = items.map(it => {\n  const f = it.fields;\n  const created = f['Created Time'] || it.created_time;\n  const scheduled = f['Scheduled Date'];\n  return {\n    record_id: it.record_id,\n    job_id: txt(f['Job ID']) || txt(f['Job No.']) || txt(f['job_id']) || it.record_id,\n    status: txt(f['Status']) || 'new',\n    tech_name: txt(f['Tech Name']) || txt(f['Technician']) || txt(f['tech_name']),\n    customer_name: txt(f['Shop Name']) || txt(f['Customer Name']) || txt(f['Customer']),\n    job_type: txt(f['Job Type']),\n    priority: txt(f['Priority']),\n    job_address: txt(f['Job Address']) || txt(f['Address']),\n    scheduled_date: typeof scheduled === 'number' ? new Date(scheduled).toISOString() : txt(scheduled),\n    timestamp: typeof created === 'number' ? new Date(created).toISOString() : (typeof created === 'string' ? created : null)\n  };\n});\nreturn [{ json: { jobs } }];"
      },
      "id": "gj-005",
      "name": "Format Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        660
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, jobs: $json.jobs }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "gj-006",
      "name": "Respond Jobs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        660
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ga-001",
      "name": "Webhook Get Attendance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        860
      ],
      "webhookId": "get-attendance-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "ga-002",
      "name": "Get Token [GA]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\n// วันนี้ 00:00 - 23:59 (UTC+7)\nconst now = new Date();\nconst bkkOffset = 7 * 60 * 60 * 1000;\nconst todayBKK = new Date(Math.floor((now.getTime() + bkkOffset) / 86400000) * 86400000 - bkkOffset);\nconst from = Math.floor(todayBKK.getTime() / 1000);\nconst to   = from + 86399;\nreturn [{ json: { lark_token: token, from_ts: from, to_ts: to } }];"
      },
      "id": "ga-003",
      "name": "Prep Attendance Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tbl8YdXSoeanL8FO/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Attendance Query').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"page_size\":50,\"field_names\":[\"Name\",\"์Name\",\"Tech Name\",\"Tech Lark ID\",\"Role\",\"Account Status\",\"Work Status\"]}",
        "options": {}
      },
      "id": "ga-004",
      "name": "Fetch T8 for Attendance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.data?.items || [];\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (Array.isArray(v)) { const f = v[0]; if (!f) return ''; return f.text || f.name || String(f); }\n  if (v.value) { const vv = v.value; if (typeof vv === 'string') return vv; if (Array.isArray(vv)) { const f = vv[0]; return f?.text || f?.name || ''; } }\n  return '';\n};\nconst team = items.map(it => {\n  const f = it.fields;\n  const nickname  = txt(f['์Name']) || txt(f['Name']);\n  const techName  = txt(f['Tech Name']);\n  const workSt    = txt(f['Work Status']) || 'หยุด';\n  const acctSt    = txt(f['Account Status']);\n  const statusMap = { 'เข้างาน': 'working', 'ลา': 'leave', 'หยุด': 'off' };\n  const status    = statusMap[workSt] || 'off';\n  return { nickname, tech_name: techName, name: nickname, checked_in: status === 'working', check_in_time: null, status, work_status: workSt, acct_status: acctSt };\n}).filter(t => t.nickname && t.acct_status !== 'Inactive');\nteam.sort((a, b) => (b.checked_in ? 1 : 0) - (a.checked_in ? 1 : 0));\nreturn [{ json: { team } }];"
      },
      "id": "ga-005",
      "name": "Format Team Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        860
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, team: $json.team }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ga-008",
      "name": "Respond Attendance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        860
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-products",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gp-001",
      "name": "Webhook Get Products",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1400
      ],
      "webhookId": "get-products-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gp-002",
      "name": "Get Token [GP]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = { page_size: 500 };\nreturn [{ json: { lark_token: token, searchBody: JSON.stringify(body) } }];"
      },
      "id": "gp-003",
      "name": "Prep Search T3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblnQhWsvbvOnHZx/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prep Search T3').first().json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "gp-004",
      "name": "Fetch T3 Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.data && $input.first().json.data.items ? $input.first().json.data.items : [];\nconst BLOCKED = ['Machine (Sale)', 'Machine (Rental)'];\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (v.value) return v.value;\n  if (Array.isArray(v) && v[0]) return txt(v[0]);\n  return '';\n}\nconst products = items\n  .map(function(r) {\n    const f = r.fields || {};\n    const name = txt(f['Product Name'] || f['Name'] || '') || Object.values(f)[0] && txt(Object.values(f)[0]) || '';\n    const cat  = txt(f['Sub Category'] || f['Category'] || '');\n    const price = parseFloat(f['Price'] || f['Unit Price'] || 0) || 0;\n    return { name: name, category: cat, price: price };\n  })\n  .filter(function(p) { return p.name && BLOCKED.indexOf(p.category) === -1; })\n  .sort(function(a, b) { return a.name.localeCompare(b.name, 'th'); });\nreturn [{ json: { products: products, total: products.length } }];"
      },
      "id": "gp-005",
      "name": "Format Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "gp-006",
      "name": "Respond Products",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        1400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complete-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cmpj-001",
      "name": "Webhook Complete Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1100
      ],
      "webhookId": "complete-job-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst parts = (b.parts || []).map(function(p){ return p.name + ' x' + p.qty; }).join(', ');\nreturn [{ json: {\n  job_id:           b.job_id           || '',\n  tech_name:        b.tech_name        || '',\n  customer_line_id: b.customer_line_id || '',\n  customer_name:    b.customer_name    || '',\n  parts_text:       parts,\n  notes:            b.notes            || '',\n  photo_count:      b.photo_count      || 0,\n  completed_at:     b.completed_at     || new Date().toISOString()\n}}];"
      },
      "id": "cmpj-002",
      "name": "Parse Complete Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "cmpj-003",
      "name": "Get Token [Complete]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $('Get Token [Complete]').first().json.tenant_access_token;\nconst src = $('Parse Complete Body').first().json;\nreturn [{ json: {\n  ...src,\n  lark_token: token,\n  searchBody: JSON.stringify({ filter: { conjunction: 'and', conditions: [{ field_name: 'Job No.', operator: 'is', value: [src.job_id] }] } })\n}}];"
      },
      "id": "cmpj-004",
      "name": "Prep Search T5 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "cmpj-005",
      "name": "Search T5 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ Fixed 2026-04-20:\n//    เดิมอ่าน 'T4 Refs' (Text field — ไม่มีใน T5 schema) → t4Refs='' เสมอ → isCarePlan=false เสมอ\n//    → branch Update T4 ไม่เคยรัน → Last Done Date ไม่ update → เครื่องถูกนัดซ้ำไม่รู้จบ\n//    T5 schema จริงใช้ 'Related Care Plan' (DuplexLink → T4).\nconst res = $input.first().json;\nconst items = res.data && res.data.items ? res.data.items : [];\nconst record_id = items.length > 0 ? items[0].record_id : '';\nconst src = $('Parse Complete Body').first().json;\nconst token = $('Get Token [Complete]').first().json.tenant_access_token;\n// 🔧 FIXED 2026-04-26: 'Note' and 'Photo Count' don't exist in T5\n//   'Note' → 'Resolution Summary' (T5 has it · for completion remarks)\n//   'Photo Count' → dropped (no equivalent · count via Photo Before/After attachments)\nconst fields = {\n  'Status': 'เสร็จแล้ว',\n  'Parts Used': src.parts_text || '',\n  'Resolution Summary': src.notes || ''\n};\n// Extract Related Care Plan (DuplexLink) + Source Ref ID for CarePlan loop closure\nfunction txt(v) { if (!v) return ''; if (typeof v === 'string') return v; if (v.text) return v.text; if (Array.isArray(v)) return v.map(i => typeof i === 'string' ? i : (i.text||'')).join(','); return ''; }\nfunction extractLinkedIds(v) {\n  if (!v) return [];\n  const arr = Array.isArray(v) ? v : (Array.isArray(v.value) ? v.value : []);\n  return arr.map(r => {\n    if (typeof r === 'string') return '';\n    return r.record_id || (Array.isArray(r.record_ids) ? r.record_ids[0] : r.record_ids) || '';\n  }).filter(Boolean);\n}\nlet t4RefIds = [];\nlet sourceRefId = '';\nif (items.length > 0) {\n  const f = items[0].fields || {};\n  t4RefIds = extractLinkedIds(f['Related Care Plan']);\n  sourceRefId = txt(f['Source Ref ID'] || '');\n}\nconst isCarePlan = (sourceRefId === 'AUTO-CAREPLAN' && t4RefIds.length > 0);\nreturn [{ json: { ...src, record_id, lark_token: token, updateBody: JSON.stringify({ fields }), t4_refs: t4RefIds, source_ref_id: sourceRefId, is_careplan: isCarePlan } }];"
      },
      "id": "cmpj-006",
      "name": "Prep Update T5 Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1100
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/' + $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "cmpj-007",
      "name": "Update T5 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cmpj-if-cp",
              "leftValue": "={{ $('Prep Update T5 Complete').first().json.is_careplan }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cmpj-t4-001",
      "name": "If CarePlan Job",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Search T4 records referenced by this T5\n// เพื่อดึง Interval มาคำนวณ Next Due Date ใหม่\n// ⚠️ ห้ามระบุ field_names — Lark จะตัด primary field ทิ้ง\n// ⚠️ 2026-04-20: t4_refs เปลี่ยนเป็น array แล้ว (เดิมเป็น comma-string)\n// ────────────────────────────────────────────\nconst data = $('Prep Update T5 Complete').first().json;\nconst t4Refs = Array.isArray(data.t4_refs) ? data.t4_refs : (typeof data.t4_refs === 'string' ? data.t4_refs.split(',').map(s => s.trim()).filter(Boolean) : []);\nconst token = data.lark_token;\n\n// Lark: search by record IDs — use __id__ filter\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'or',\n    conditions: t4Refs.map(id => ({ field_name: '__id__', operator: 'is', value: [id] }))\n  },\n  page_size: 20\n});\n\nreturn [{ json: { t4_refs: t4Refs, lark_token: token, searchBody, completed_at: data.completed_at } }];"
      },
      "id": "cmpj-t4-002",
      "name": "Prep Search T4 Refs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "cmpj-t4-003",
      "name": "Fetch T4 Refs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Update T4 after service completion\n// ⚠️ Per 2026-04-18 audit:\n//   • Next Due Date is a FORMULA → cannot write. Lark recomputes automatically\n//     from Last Done Date + Planned Interval (Months) once we update Last Done Date.\n//   • Interval (Months) field does NOT exist in T4 → use Planned Interval (Months) only.\n//   • Service Item is DuplexLink → read via Filter Stage (Text) instead.\n// ⚠️ Per 2026-04-20 live test (rental-cron bugs #2, #4):\n//   • Lark Date READ = ms number → ใช้ dateStr() ไม่ใช่ txt().split('T')[0]\n//   • Lark Date WRITE = ms number → ใช้ toMs() ไม่ใช่ 'YYYY-MM-DD' string\n// Split → 1 item per T4 update.\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst items = (res.data && res.data.items) || [];\nconst prevData = $('Prep Search T4 Refs').first().json;\nconst completedAt = prevData.completed_at || new Date().toISOString();\nconst token = prevData.lark_token;\n\nfunction numVal(v) {\n  if (typeof v === 'number') return v;\n  if (!v) return 0;\n  const n = Number(typeof v === 'string' ? v : (v.text || v.value || 0));\n  return isNaN(n) ? 0 : n;\n}\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.text) return v.text;\n  if (Array.isArray(v) && v[0]) { const x = v[0]; return typeof x === 'string' ? x : (x.text || x.name || ''); }\n  return '';\n}\n\n// Lark Date field = Unix ms number. Convert to YYYY-MM-DD in Bangkok TZ.\nfunction dateStr(v) {\n  if (v === null || v === undefined || v === '') return '';\n  if (typeof v === 'number') {\n    const bkk = new Date(v + 7 * 3600 * 1000);\n    const yyyy = bkk.getUTCFullYear();\n    const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(bkk.getUTCDate()).padStart(2, '0');\n    return yyyy + '-' + mm + '-' + dd;\n  }\n  const s = typeof v === 'string' ? v : txt(v);\n  if (!s) return '';\n  return s.split('T')[0].replace(/\\//g, '-');\n}\n\n// Lark Date write = ms timestamp (Bangkok midnight)\nfunction toMs(dateStrVal) {\n  if (!dateStrVal) return null;\n  return new Date(dateStrVal + 'T00:00:00+07:00').getTime();\n}\n\n// Calculate months between two YYYY-MM-DD dates (rounded)\nfunction monthsBetween(oldStr, newStr) {\n  if (!oldStr || !newStr) return 0;\n  const a = new Date(oldStr + 'T00:00:00');\n  const b = new Date(newStr + 'T00:00:00');\n  if (isNaN(a) || isNaN(b)) return 0;\n  const days = (b - a) / 86400000;\n  return Math.round(days / 30.44); // avg month length\n}\n\n// Parse JSON array from string, safely\nfunction parseIntervals(s) {\n  if (!s) return [];\n  try {\n    const arr = JSON.parse(typeof s === 'string' ? s : txt(s));\n    return Array.isArray(arr) ? arr.filter(n => typeof n === 'number') : [];\n  } catch(e) { return []; }\n}\n\nconst updates = items.map(it => {\n  const f = it.fields || {};\n  // Planned Interval is the template baseline + single source of truth for Formula.\n  // Default 3 months as sane fallback if template value missing.\n  const interval = numVal(f['Planned Interval (Months)']) || 3;\n  // completedAt อาจเป็น ISO ยาว → เอาเฉพาะวันที่ (server UTC ISO ยังใกล้พอสำหรับการคำนวณห่างเดือน)\n  const completedDate = completedAt.split('T')[0];\n\n  // ── Actual Interval Tracking ──\n  // oldLastDone = previous completion date (null on first run)\n  // ⚠️ Last Done Date เป็น Date field = ms number → dateStr() แปลงก่อน\n  const oldLastDone = dateStr(f['Last Done Date']);\n  const actualInterval = monthsBetween(oldLastDone, completedDate);\n\n  // Keep last 3 actual intervals as JSON array string (for trend analysis / override audit)\n  const prevIntervals = parseIntervals(txt(f['Last 3 Actual Intervals']));\n  let newIntervals = prevIntervals;\n  if (actualInterval > 0) {\n    newIntervals = [...prevIntervals, actualInterval].slice(-3);\n  }\n\n  // ⚠️ DO NOT write 'Next Due Date' — it's a Formula (silent-drop on write).\n  // Lark recomputes: Next Due Date = Last Done Date + Planned Interval (Months).\n  // ⚠️ Last Done Date เป็น Date field → write = ms (ไม่ใช่ 'YYYY-MM-DD' ไม่งั้น DatetimeFieldConvFail)\n  const updateFields = {\n    'Last Done Date': toMs(completedDate),\n    'Last 3 Actual Intervals': JSON.stringify(newIntervals)\n  };\n\n  return {\n    record_id: it.record_id,\n    stage_number: numVal(f['Stage Number']),\n    filter_name: txt(f['Filter Stage']),\n    old_last_done: oldLastDone,\n    new_last_done: completedDate,\n    interval: interval,\n    actual_interval: actualInterval,\n    last_3_actual: newIntervals,\n    lark_token: token,\n    updateBody: JSON.stringify({ fields: updateFields })\n  };\n}).filter(u => u.record_id);\n\nif (updates.length === 0) return [{ json: { t4_updated: 0 } }];\nreturn updates.map(u => ({ json: u }));"
      },
      "id": "cmpj-t4-004",
      "name": "Calc Next Due Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/' + $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "cmpj-t4-005",
      "name": "Update T4 Next Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cmpj-if-line",
              "leftValue": "={{ $('Parse Complete Body').first().json.customer_line_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cmpj-008",
      "name": "If LINE Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Complete Body').first().json;\nconst text = '✅ งานเสร็จเรียบร้อยแล้วครับ!\\n\\n📋 รหัสงาน: ' + src.job_id + '\\n👷 ช่าง: ' + src.tech_name + (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') + (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') + '\\n\\nขอบคุณที่ใช้บริการ SK ICE นะครับ 🧊';\nreturn [{ json: { lineBody: JSON.stringify({ to: src.customer_line_id, messages: [{ type: 'text', text: text }] }) } }];"
      },
      "id": "cmpj-009a",
      "name": "Prep LINE Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.lineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cmpj-009b",
      "name": "LINE Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Parse Complete Body').first().json;\nconst rawPhone = (src.customer_phone || '').replace(/\\D/g, '');\nconst recipient = rawPhone.startsWith('0') ? '66' + rawPhone.slice(1) : rawPhone;\nconst msg = 'SK ICE: งาน ' + src.job_id + ' เสร็จเรียบร้อยแล้วครับ ขอบคุณที่ใช้บริการ';\nreturn [{ json: { smsBody: JSON.stringify({ recipient, sender_name: 'SK-ICE', message: msg }) } }];"
      },
      "id": "cmpj-010a",
      "name": "Prep SMS Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.smsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cmpj-010b",
      "name": "SMS Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Admin Notify (LINE group) — เพิ่ม 2026-04-20 จาก migration gps-done → complete-job\n// รวมข้อมูล Parts/Note ที่ complete-job มี (gps-done ไม่มี)\n// Admin LINE group ID: C40b37d81f4e199a7b7357537166a1efd\n// ────────────────────────────────────────────\nconst src = $('Parse Complete Body').first().json;\nconst text = '✅ งานเสร็จแล้ว!\\n\\n📋 รหัสงาน: ' + src.job_id + '\\n👷 ช่าง: ' + src.tech_name + '\\n🏪 ร้าน: ' + src.customer_name + (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') + (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') + (src.photo_count ? '\\n📷 รูป: ' + src.photo_count + ' ใบ' : '');\nreturn [{ json: { adminBody: JSON.stringify({ to: 'C40b37d81f4e199a7b7357537166a1efd', messages: [{ type: 'text', text: text }] }) } }];"
      },
      "id": "cmpj-adm-01",
      "name": "Prep Admin Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.adminBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cmpj-adm-02",
      "name": "Admin Notify Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"job completed\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cmpj-011",
      "name": "Respond Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4180,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lark DM → 3 admins (Split pattern: return 3 items → HTTP auto-iterates)\nconst ADMIN_IDS = ['e5d154gc', 'eceffed6', 'a978af6f'];\nconst src = $('Parse Complete Body').first().json;\nconst token = $('Get Token [Complete]').first().json.tenant_access_token;\nconst text = '✅ งานเสร็จแล้ว!\\n\\n' +\n  '📋 รหัสงาน: ' + (src.job_id || '-') + '\\n' +\n  '👷 ช่าง: ' + (src.tech_name || '-') + '\\n' +\n  '🏪 ร้าน: ' + (src.customer_name || '-') +\n  (src.parts_text ? '\\n🔧 อะไหล่: ' + src.parts_text : '') +\n  (src.notes ? '\\n📝 หมายเหตุ: ' + src.notes : '') +\n  (src.photo_count ? '\\n📷 รูป: ' + src.photo_count + ' ใบ' : '');\nreturn ADMIN_IDS.map(id => ({\n  json: {\n    lark_token: token,\n    larkBody: JSON.stringify({\n      receive_id: id,\n      msg_type: 'text',\n      content: JSON.stringify({ text: text })\n    })\n  }\n}));"
      },
      "id": "cmpj-lark-01",
      "name": "Prep Lark DM [Complete]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/im/v1/messages?receive_id_type=user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.larkBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cmpj-lark-02",
      "name": "Lark DM Admin [Complete]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        1100
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-bookings",
        "responseMode": "responseNode",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "gb-001",
      "name": "Webhook Get Bookings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1700
      ],
      "webhookId": "get-bookings-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "gb-002",
      "name": "Get Token [GB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":500}",
        "options": {}
      },
      "id": "gb-003",
      "name": "Search T6 Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.data && $input.first().json.data.items ? $input.first().json.data.items : [];\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (v.value) return v.value;\n  if (Array.isArray(v) && v[0]) return txt(v[0]);\n  return '';\n}\nfunction fromMs(ms) {\n  if (!ms) return '';\n  return new Date(ms).toISOString().split('T')[0];\n}\nconst bookings = items.map(r => {\n  const f = r.fields || {};\n  let editLog = [];\n  try { editLog = JSON.parse(txt(f['Edit Log']) || '[]'); } catch(e) {}\n  return {\n    booking_id:    r.record_id,\n    customer_name: txt(f['Customer Name']),\n    appoint_date:  fromMs(f['Appoint Date']),\n    sched_date:    fromMs(f['Sched Date']),\n    sched_time:    txt(f['Sched Time']),\n    job_type:      txt(f['Job Type']),\n    priority:      txt(f['Priority']) || 'Med',\n    tech_name:     txt(f['Tech Name']),\n    notes:         txt(f['Notes']),\n    status:        txt(f['Status']) || 'active',\n    cancel_reason: txt(f['Cancel Reason']),\n    notify_date:   fromMs(f['Notify Date']),\n    created_by:    txt(f['Created By']),\n    created_at:    txt(f['Created At']),\n    edit_log:      editLog\n  };\n});\nreturn [{ json: bookings }];"
      },
      "id": "gb-004",
      "name": "Format Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "gb-005",
      "name": "Respond Bookings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        1700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cb-001",
      "name": "Webhook Create Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1900
      ],
      "webhookId": "create-booking-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "cb-002",
      "name": "Get Token [CB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = $('Webhook Create Booking').first().json.body || $('Webhook Create Booking').first().json;\nfunction toMs(dateStr) { if (!dateStr) return null; return new Date(dateStr + 'T00:00:00').getTime(); }\nconst fields = {};\nif (body.customer_name) fields['Customer Name'] = body.customer_name;\nif (body.appoint_date)  fields['Appoint Date']  = toMs(body.appoint_date);\nif (body.sched_date)    fields['Sched Date']    = toMs(body.sched_date);\nif (body.sched_time)    fields['Sched Time']    = body.sched_time;\nif (body.job_type)      fields['Job Type']      = body.job_type;\nif (body.priority)      fields['Priority']      = body.priority;\nif (body.tech_name)     fields['Tech Name']     = body.tech_name;\nif (body.notes)         fields['Notes']         = body.notes;\nfields['Status']      = 'active';\nif (body.notify_date)   fields['Notify Date']   = toMs(body.notify_date);\nfields['Created By']  = body.created_by || 'Admin';\nfields['Created At']  = new Date().toISOString();\nfields['Edit Log']    = '[]';\nreturn [{ json: { lark_token: token, createBody: JSON.stringify({ fields }) } }];"
      },
      "id": "cb-003",
      "name": "Prep T6 Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "cb-004",
      "name": "Create T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1900
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', booking_id: $json.data && $json.data.record && $json.data.record.record_id ? $json.data.record.record_id : '' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cb-005",
      "name": "Respond Booking Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        1900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb-001",
      "name": "Webhook Edit Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2100
      ],
      "webhookId": "edit-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nreturn [{ json: { booking_id: b.booking_id || '', sched_date: b.sched_date || '', sched_time: b.sched_time || '', tech_name: b.tech_name || '', notify_date: b.notify_date || '', edit_reason: b.edit_reason || '', edited_by: b.edited_by || 'Admin', edited_at: b.edited_at || new Date().toISOString() } }];"
      },
      "id": "eb-002",
      "name": "Parse Edit Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        2100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "eb-003",
      "name": "Get Token [EB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        2100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $('Parse Edit Body').first().json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb-004",
      "name": "Get T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "const rec = $input.first().json.data && $input.first().json.data.record ? $input.first().json.data.record : {};\nconst body = $('Parse Edit Body').first().json;\nconst token = $('Get Token [EB]').first().json.tenant_access_token;\nconst f = rec.fields || {};\nfunction txt(v) { if (!v) return ''; if (typeof v === 'string') return v; if (v.text) return v.text; return ''; }\nfunction toMs(d) { if (!d) return null; return new Date(d + 'T00:00:00').getTime(); }\nlet editLog = [];\ntry { editLog = JSON.parse(txt(f['Edit Log']) || '[]'); } catch(e) {}\neditLog.push({ edited_by: body.edited_by, edited_at: body.edited_at, edit_reason: body.edit_reason });\nconst fields = {};\nif (body.sched_date)  fields['Sched Date']  = toMs(body.sched_date);\nif (body.sched_time)  fields['Sched Time']  = body.sched_time;\nif (body.tech_name)   fields['Tech Name']   = body.tech_name;\nif (body.notify_date) fields['Notify Date'] = toMs(body.notify_date);\nfields['Edit Log'] = JSON.stringify(editLog);\nreturn [{ json: { lark_token: token, booking_id: body.booking_id, updateBody: JSON.stringify({ fields }) } }];"
      },
      "id": "eb-005",
      "name": "Merge Edit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2100
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "eb-006",
      "name": "Update T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        2100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"booking updated\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "eb-007",
      "name": "Respond Edit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        2100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "xb-001",
      "name": "Webhook Cancel Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2300
      ],
      "webhookId": "cancel-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nreturn [{ json: { booking_id: b.booking_id || '', cancel_reason: b.cancel_reason || '', cancelled_by: b.cancelled_by || 'Admin', cancelled_at: b.cancelled_at || new Date().toISOString() } }];"
      },
      "id": "xb-002",
      "name": "Parse Cancel Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        2300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "xb-003",
      "name": "Get Token [XB]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        2300
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.tenant_access_token;\nconst body = $('Parse Cancel Body').first().json;\nconst fields = { 'Status': 'cancelled', 'Cancel Reason': body.cancel_reason, 'Cancelled By': body.cancelled_by, 'Cancelled At': body.cancelled_at };\nreturn [{ json: { lark_token: token, booking_id: body.booking_id, updateBody: JSON.stringify({ fields }) } }];"
      },
      "id": "xb-004",
      "name": "Prep Cancel Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        2300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblbXlkd4J3VwGM8/records/' + $json.booking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.updateBody }}",
        "options": {}
      },
      "id": "xb-005",
      "name": "Cancel T6 Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"booking cancelled\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "xb-005",
      "name": "Respond Cancel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        2300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "f2206942-3f25-42d5-82a5-1c03bde39afd",
      "name": "⏰ Poll Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1488,
        48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"app_id\":\"cli_a9500a1d84f89e18\",\"app_secret\":\"GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp\"}",
        "options": {}
      },
      "id": "09e4bee5-2729-4839-8b8a-e57c50ca6cf7",
      "name": "🔑 Get Lark Token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1248,
        48
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"นัดแล้ว\"]\n      },\n      {\n        \"field_name\": \"Tech Notified At\",\n        \"operator\": \"isEmpty\",\n        \"value\": []\n      }\n    ]\n  },\n  \"page_size\": 20\n}",
        "options": {}
      },
      "id": "c283a660-04d2-49a5-84cc-07af1db6c413",
      "name": "📋 Read T5 Scheduled Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -976,
        48
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.data?.items || [];\n\nif (items.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.value !== undefined && Array.isArray(v.value)) {\n    if (v.value.length === 0) return '';\n    const first = v.value[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (Array.isArray(v)) {\n    if (v.length === 0) return '';\n    const first = v[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (v.text) return v.text;\n  if (v.name) return v.name;\n  return '';\n};\n\nreturn items.map(item => {\n  const f = item.fields || {};\n  return {\n    json: {\n      record_id: item.record_id,\n      job_no: txt(f['Job No.']),\n      shop_name: txt(f['Shop Name']),\n      job_type: txt(f['Job Type']),\n      priority: txt(f['Priority']),\n      problem: txt(f['Problem Summary']),\n      scheduled_date: txt(f['Scheduled Date']),\n      tech_name: txt(f['Tech Name']),\n      tech_phone: txt(f['Staff Phone']),\n      tech_line_id: txt(f['Tech Line ID']),\n      tech_lark_id: txt(f['Tech Lark ID']),\n      assigned_tech: txt(f['Assigned Technician']),\n      google_maps: txt(f['Google Maps URL']),\n      machine_type: txt(f['Machine 1 Type']),\n      filter_system: txt(f['Filter System 1'])\n    }\n  };\n});\n"
      },
      "id": "a6efa50e-d27a-4ccc-a0c4-3c313d6a57f9",
      "name": "⚙️ Extract Job Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -736,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cd436d0-da7a-4ff3-b20d-458d778030c0",
              "leftValue": "={{ $json._no_jobs }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        48
      ],
      "id": "92296009-8cd8-4a98-852c-b34e19b32fe9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst token = $('🔑 Get Lark Token').first().json.tenant_access_token;\n\nconst msg = `🔧 งานใหม่!\\n` +\n  `📋 ${j.job_no}\\n` +\n  `🏪 ${j.shop_name}\\n` +\n  `⚠️ ${j.problem || j.job_type}\\n` +\n  `📅 ${j.scheduled_date}\\n` +\n  `🎯 Priority: ${j.priority}\\n` +\n  (j.machine_type ? `🧊 ${j.machine_type}\\n` : '') +\n  (j.filter_system ? `💧 กรอง: ${j.filter_system}\\n` : '') +\n  (j.google_maps ? `📍 ${j.google_maps}` : '');\n\nconst techLineBody = JSON.stringify({\n  to: j.tech_line_id,\n  messages: [{ type: 'text', text: msg }]\n});\n\nconst techLarkBody = JSON.stringify({\n  receive_id: j.tech_lark_id,\n  msg_type: 'text',\n  content: JSON.stringify({ text: msg })\n});\n\nconst phone = (j.tech_phone || '').replace(/[-\\s]/g, '').replace(/^0/, '');\nconst techSmsBody = JSON.stringify({\n  recipient: '66' + phone,\n  sender_name: 'SK-ICE',\n  message: `SK ICE: งานใหม่ ${j.job_no} ร้าน${j.shop_name} ${j.scheduled_date}`\n});\n\nreturn [{ json: { \n  ...j, \n  tech_msg: msg, \n  tech_has_line: !!j.tech_line_id,\n  tech_has_lark: !!j.tech_lark_id,\n  lark_token: token,\n  techLineBody,\n  techLarkBody,\n  techSmsBody\n} }];\n"
      },
      "id": "ab53ec2e-637e-4e4a-99dd-54d9675cc08d",
      "name": "💬 Build Tech Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/im/v1/messages?receive_id_type=user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.lark_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techLarkBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -176
      ],
      "id": "6ff04904-b8b6-4a74-a4a1-698498d6d867",
      "name": "📲 Lark → Tech"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techLineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b9f3f3d1-4cb0-42a3-b905-ca3c0d3021a1",
      "name": "📱 LINE → Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        464,
        48
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.techSmsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0e20c1fb-07e7-4e63-83b6-0cdb247c5a02",
      "name": "📨 SMS → Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        464,
        256
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('⚙️ Extract Job Data').first().json;\nconst markBody = JSON.stringify({\n  fields: { 'Tech Notified At': Date.now() }\n});\nreturn [{ json: { record_id: job.record_id, markBody } }];\n"
      },
      "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
      "name": "🔄 Prep Mark Tech",
      "type": "n8n-nodes-base.code",
      "position": [
        736,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.markBody }}",
        "options": {}
      },
      "id": "8e1142f7-5e05-4091-a664-ddf477e0a458",
      "name": "✅ Mark Notified Tech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        992,
        48
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "caad47a6-9dfe-4a84-afb1-719f95b197f6",
      "name": "⏰ Poll Every 5 Min1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1504,
        928
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"app_id\":\"cli_a9500a1d84f89e18\",\"app_secret\":\"GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp\"}",
        "options": {}
      },
      "id": "6ccbb230-9def-4d8f-837d-733b1d1977fd",
      "name": "🔑 Get Lark Token1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1264,
        928
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"กำลังไป\"]\n      },\n      {\n        \"field_name\": \"Customer Notified - OnWay\",\n        \"operator\": \"isEmpty\",\n        \"value\": []\n      }\n    ]\n  },\n  \"page_size\": 20\n}\n",
        "options": {}
      },
      "id": "c76eb061-e788-41b3-9525-00180e7c5107",
      "name": "📋 Read T5 OnWay Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -992,
        928
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst items = input.data?.items || [];\n\nif (items.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.value !== undefined && Array.isArray(v.value)) {\n    if (v.value.length === 0) return '';\n    const first = v.value[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (Array.isArray(v)) {\n    if (v.length === 0) return '';\n    const first = v[0];\n    if (typeof first === 'string') return first;\n    if (first?.text) return first.text;\n    if (first?.name) return first.name;\n  }\n  if (v.text) return v.text;\n  if (v.name) return v.name;\n  return '';\n};\n\nreturn items.map(item => {\n  const f = item.fields || {};\n  return {\n    json: {\n      record_id: item.record_id,\n      job_no: txt(f['Job No.']),\n      shop_name: txt(f['Shop Name']),\n      job_type: txt(f['Job Type']),\n      priority: txt(f['Priority']),\n      scheduled_date: txt(f['Scheduled Date']),\n      tech_name: txt(f['Tech Name']),\n      tech_phone: txt(f['Staff Phone']),\n      google_maps: txt(f['Google Maps URL']),\n      machine_type: txt(f['Machine 1 Type']),\n      customer_line_id: txt(f['C.LINE User ID']),\n      customer_phone: txt(f['Customer Phone 1']),\n      has_line: !!txt(f['C.LINE User ID'])\n    }\n  };\n});\n"
      },
      "id": "403c3e6a-cb6b-4df8-b26a-7eff760fbdf7",
      "name": "⚙️ Extract Job Data1",
      "type": "n8n-nodes-base.code",
      "position": [
        -752,
        928
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "51514bf2-ed3a-4951-be62-bcf1750f08ef",
              "leftValue": "={{ $json._no_jobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        928
      ],
      "id": "85aa4665-2880-4bb9-807c-617a85b22d34",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblU7hDhX2UG4Tbi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Shop Name\",\n        \"operator\": \"is\",\n        \"value\": [\"{{ $json.shop_name }}\"]\n      }\n    ]\n  },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "ae2c4ba5-bd86-476c-88b2-349ca44496f9",
      "name": "👤 Read T1 Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -240,
        912
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('⚙️ Extract Job Data1').item.json;\nconst t1 = $input.first().json;\nconst cust = t1.data?.items?.[0]?.fields || {};\n\nconst txt = (v) => {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (Array.isArray(v) && v[0]?.text) return v[0].text;\n  if (v.text) return v.text;\n  return String(v);\n};\n\nconst line_uid = txt(cust['LINE User ID']);\nconst phone = txt(cust['Phone 1']);\nconst contact = txt(cust['Contact 1']);\n\nconst msg = `สวัสดีค่ะ คุณ${contact} 🙏\\n` +\n  `แจ้งจาก SK ICE:\\n` +\n  `ช่าง${job.tech_name} กำลังเดินทางไปบริการ\\n` +\n  `📋 ${job.job_type}\\n` +\n  `📅 ${job.scheduled_date}\\n` +\n  `☎️ โทรช่างได้ที่ ${job.tech_phone}\\n` +\n  `หากต้องการเลื่อนนัด กรุณาแจ้งล่วงหน้าค่ะ`;\n\nconst custLineBody = JSON.stringify({\n  to: line_uid,\n  messages: [{ type: 'text', text: msg }]\n});\n\nconst phoneClean = phone ? '66' + phone.replace(/[-\\s]/g, '').replace(/^0/, '') : '';\nconst custSmsBody = JSON.stringify({\n  recipient: phoneClean,\n  sender_name: 'SK-ICE',\n  message: `SK ICE: ช่าง${job.tech_name} กำลังเดินทางไปบริการร้าน${job.shop_name} โทร ${job.tech_phone}`\n});\n\nreturn [{\n  json: {\n    ...job,\n    cust_line_uid: line_uid,\n    cust_phone: phone,\n    cust_contact: contact,\n    cust_msg: msg,\n    cust_has_line: !!line_uid,\n    custLineBody,\n    custSmsBody\n  }\n}];"
      },
      "id": "45a0e0fe-286c-4420-81db-b0cacff4fac0",
      "name": "💬 Build Customer Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -16,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.custLineBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "bda27b7e-fb27-4493-89ef-f0a034e227f3",
      "name": "📱 LINE → Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        896
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.sms2pro.com/sms-api/message-sms/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6ImFjY2VzcyJ9.eyJfaWQiOiI2OWRlMzU1NTIwYmNmMDA4YzMzZGViMDciLCJncm91cF9pZCI6IjY0MTJiNWUzMTMxYmFkYTZjMThjMmI2ZSIsImJyYW5kX2lkIjoiNjQxM2YxOTE0ZTU1ZjUxYTgxMmM1ODBjIiwiZW1haWwiOiJzYWtrYXBob25nZXhAZ21haWwuY29tIiwiZmlyc3RfbmFtZSI6IuC4quC4seC4hOC4nuC4h-C4qOC5jCIsImxhc3RfbmFtZSI6IuC4p-C4o-C4suC4meC4uOC4nuC4oyIsImlhdCI6MTc3NjE3NTQ3MiwiZXhwIjo0OTMxOTM1NDcyLCJhdWQiOiJodHRwczovL3lvdXJkb21haW4uY29tIiwiaXNzIjoiZmVhdGhlcnMiLCJqdGkiOiI3ZjNlN2MyZC03MDQyLTQyY2EtOTQzNy0zNmI4YzFkMWQ4ZjUifQ.e-S9HHlsMC5TUAolEpciQ2eXIzj6U9O4VgTclz6X_NA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.custSmsBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1537f85a-e081-4ca8-b18f-08955ca9aaf9",
      "name": "📨 SMS → Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        1136
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const job = $('💬 Build Customer Message').first().json;\nconst markBody = JSON.stringify({\n  fields: { 'Customer Notified - OnWay': Date.now() }\n});\nreturn [{ json: { record_id: job.record_id, markBody } }];\n"
      },
      "id": "bb22cc33-dd44-ee55-ff66-778899001122",
      "name": "🔄 Prep Mark Customer",
      "type": "n8n-nodes-base.code",
      "position": [
        864,
        1008
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Get Lark Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.markBody }}",
        "options": {}
      },
      "id": "7ee05e92-af05-4a20-a61c-0db618321faa",
      "name": "✅ Mark Notified Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        1008
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "## ⚠️ สร้าง field ใน T5 ก่อน\n**Tech Notified At** — Date\n**Customer Notified - OnWay** — Date",
        "height": 150,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -160
      ],
      "id": "note001",
      "name": "Note T5 Field"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cp-001",
      "name": "Cron 07:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "cp-002",
      "name": "Get Lark Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep T4 Search: หา CarePlan records ที่ Active\n// และ Next_Due_Date ≤ TODAY + max alert days (14)\n// ⚠️ Lark filter ไม่มี isOnOrBefore/isOnOrAfter — ใช้ isLessEqual/isGreaterEqual\n// ⚠️ today + horizon ต้องใช้ Bangkok TZ (server UTC) — ไม่งั้น cron 07:00 BKK = 00:00 UTC วันเดิม\n// ────────────────────────────────────────────\nconst token = $input.first().json.tenant_access_token;\n\n// Bangkok-aware today (shift +7h then getUTC*)\nfunction bkkDateStr(d) {\n  const bkk = new Date(d.getTime() + 7 * 3600 * 1000);\n  const yyyy = bkk.getUTCFullYear();\n  const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(bkk.getUTCDate()).padStart(2, '0');\n  return yyyy + '-' + mm + '-' + dd;\n}\n\nconst now = new Date();\nconst todayStr = bkkDateStr(now);\nconst horizonStr = bkkDateStr(new Date(now.getTime() + 14 * 86400000));\n\n// Lark filter date value = ms timestamp (BKK midnight) — string YYYY-MM-DD ใช้ได้เฉพาะ text field\n// Next Due Date เป็น Date field → ต้องส่ง ms\nconst horizonMs = new Date(horizonStr + 'T23:59:59+07:00').getTime();\n\n// Lark filter (verified 2026-04-20):\n//   CP Status ≠ Done       ← SingleSelect, no colon in field name\n//   Auto Create Ticket=true ← Checkbox; false = admin schedules manually, cron skips\n//   Next Due Date ≤ horizon (14 days ahead max)\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'and',\n    conditions: [\n      { field_name: 'CP Status', operator: 'isNot', value: ['Done'] },\n      { field_name: 'Auto Create Ticket', operator: 'is', value: [true] },\n      { field_name: 'Next Due Date', operator: 'isNotEmpty', value: [] },\n      { field_name: 'Next Due Date', operator: 'isLessEqual', value: [String(horizonMs)] }\n    ]\n  },\n  page_size: 500\n  // ⚠️ ห้ามระบุ field_names — Lark จะไม่ return primary field ถ้า specify\n});\n\nreturn [{ json: { lark_token: token, searchBody, horizonStr, today: todayStr } }];"
      },
      "id": "cp-003",
      "name": "Prep Search T4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.searchBody }}",
        "options": {}
      },
      "id": "cp-004",
      "name": "Fetch T4 CarePlan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Parse T4 records → flat array\n// - Machine (Link→T2) / Customer (Link→T1): ใช้ extractLinkedRecord → record_id (group key)\n// - Shop Name / Customer ID: 2-hop Lookup → Lark คืน plain text → txt() พอ\n// ⚠️ Lark Date field = ms number (read) — ต้องใช้ dateStr() แปลง ไม่ใช่ txt().split('T')[0]\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst items = (res.data && res.data.items) || [];\nconst today = $('Prep Search T4').first().json.today;\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.text) return v.text;\n  if (v.value !== undefined) {\n    if (typeof v.value === 'string') return v.value;\n    if (Array.isArray(v.value) && v.value[0]) {\n      const f = v.value[0];\n      return typeof f === 'string' ? f : (f.text || f.name || '');\n    }\n  }\n  if (Array.isArray(v) && v[0]) {\n    const f = v[0];\n    return typeof f === 'string' ? f : (f.text || f.link || f.name || '');\n  }\n  return '';\n}\n\nfunction numVal(v) {\n  if (v === null || v === undefined) return 0;\n  if (typeof v === 'number') return v;\n  const n = Number(txt(v));\n  return isNaN(n) ? 0 : n;\n}\n\n// Lark Date field = Unix ms number. Convert to YYYY-MM-DD in Bangkok TZ.\n// รองรับทั้ง number (ms) / string (YYYY-MM-DD หรือ YYYY/MM/DD)\nfunction dateStr(v) {\n  if (v === null || v === undefined || v === '') return '';\n  if (typeof v === 'number') {\n    const bkk = new Date(v + 7 * 3600 * 1000);\n    const yyyy = bkk.getUTCFullYear();\n    const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(bkk.getUTCDate()).padStart(2, '0');\n    return yyyy + '-' + mm + '-' + dd;\n  }\n  const s = typeof v === 'string' ? v : txt(v);\n  if (!s) return '';\n  return s.split('T')[0].replace(/\\//g, '-');\n}\n\n// รองรับ 3 รูปแบบ response ของ linked field จาก Lark Base\n//  1) [{ record_id, name }]\n//  2) [{ record_ids, text }]   ← record_ids เป็น array\n//  3) { value: [{ record_id, text }] }\nfunction extractLinkedRecord(v) {\n  if (!v) return { record_id: '', display: '' };\n  const arr = Array.isArray(v) ? v : (Array.isArray(v.value) ? v.value : []);\n  if (!arr.length) return { record_id: '', display: '' };\n  const f = arr[0];\n  if (typeof f === 'string') return { record_id: '', display: f };\n  const rid = f.record_id || (Array.isArray(f.record_ids) ? f.record_ids[0] : f.record_ids) || '';\n  const display = f.name || f.text || '';\n  return { record_id: rid || '', display: display || '' };\n}\n\nconst records = items.map(it => {\n  const f = it.fields || {};\n  const dueDate = dateStr(f['Next Due Date']);\n  const stageNum = numVal(f['Stage Number']);\n\n  // Lead Time priority: Lead Time Override (per-machine) > Alert Before (Days) (default) > stage-based fallback\n  // เคส VIP อยากได้แจ้ง 21 วัน → admin ใส่ 21 ใน Lead Time Override field → cron ใช้ค่านั้น\n  const leadOverride = numVal(f['Lead Time Override']);\n  const alertBase = numVal(f['Alert Before (Days)']) || (stageNum <= 3 ? 7 : 14);\n  const alertDays = leadOverride > 0 ? leadOverride : alertBase;\n\n  // Linked fields → record_id เป็น group key\n  const machine = extractLinkedRecord(f['Machine']);\n  const customer = extractLinkedRecord(f['Customer']);\n  // Assigned Technician (optional) → pre-fill ใน T5 ตอนสร้าง admin override ได้\n  const assignedTech = extractLinkedRecord(f['Assigned Technician']);\n\n  // 2-hop Lookup → Lark คืน plain text ผ่าน txt()\n  const shopName = txt(f['Shop Name']);\n  const customerIdText = txt(f['Customer ID']);\n\n  // Check if within alert window: due_date - alert_days ≤ today\n  const dueMs = new Date(dueDate + 'T00:00:00').getTime();\n  const alertMs = dueMs - (alertDays * 86400000);\n  const todayMs = new Date(today + 'T00:00:00').getTime();\n  const withinAlert = todayMs >= alertMs;\n\n  return {\n    record_id: it.record_id,\n    care_plan_id: txt(f['Care Plan ID']),\n    machine_record_id: machine.record_id,          // ← group key (stable)\n    machine_code: machine.display,                  // T2 primary (อาจว่าง) — metadata\n    customer_record_id: customer.record_id,\n    customer_id: customerIdText,                    // business key 'CUS-041' จาก Lookup\n    shop_name: shopName,\n    stage_number: stageNum,\n    filter_name: txt(f['Filter Stage']) || txt(f['Service Item']),\n    care_type: txt(f['Care Type']),\n    next_due_date: dueDate,\n    alert_before_days: alertDays,\n    lead_override_used: leadOverride > 0,           // audit: ส่งต่อให้ Build T5 log ว่า override ทำงาน\n    assigned_technician_id: assignedTech.record_id,  // '' ถ้ายังไม่ assign\n    qty_per_visit: numVal(f['Qty per Visit']) || 1,\n    within_alert: withinAlert\n  };\n}).filter(r => r.within_alert && r.next_due_date && r.machine_record_id);\n\nif (records.length === 0) {\n  return [{ json: { has_records: false, count: 0, records: [] } }];\n}\n\nreturn [{ json: { has_records: true, count: records.length, records, lark_token: $('Prep Search T4').first().json.lark_token } }];"
      },
      "id": "cp-005",
      "name": "Parse T4 Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cp-if-has",
              "leftValue": "={{ $json.has_records }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cp-006",
      "name": "If Has Due Records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Group by (Machine_ID, ISO_WEEK(due_date))\n// เพื่อรวม stages ที่ due สัปดาห์เดียวกัน → 1 visit\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nconst records = data.records;\nconst lark_token = data.lark_token;\n\nfunction getISOWeek(dateStr) {\n  const d = new Date(dateStr + 'T00:00:00');\n  d.setHours(0, 0, 0, 0);\n  d.setDate(d.getDate() + 3 - ((d.getDay() + 6) % 7));\n  const week1 = new Date(d.getFullYear(), 0, 4);\n  return d.getFullYear() + '-W' + String(1 + Math.round(((d.getTime() - week1.getTime()) / 86400000 - 3 + ((week1.getDay() + 6) % 7)) / 7)).padStart(2, '0');\n}\n\nconst groups = {};\nfor (const rec of records) {\n  const weekKey = getISOWeek(rec.next_due_date);\n  const key = rec.machine_record_id + '_' + weekKey;\n\n  if (!groups[key]) {\n    groups[key] = {\n      machine_record_id: rec.machine_record_id,\n      machine_code: rec.machine_code,\n      customer_record_id: rec.customer_record_id,\n      customer_id: rec.customer_id,\n      shop_name: rec.shop_name,\n      week_key: weekKey,\n      stages: [],\n      stage_names: [],\n      stage_details: [],\n      care_types: [],\n      t4_record_ids: [],\n      care_plan_ids: [],\n      assigned_technician_id: '',       // first non-empty wins (all stages of same machine should share tech)\n      total_qty_per_visit: 0,            // sum across stages → ช่างพกของรวม\n      max_due_date: rec.next_due_date,\n      max_lead_time: 0\n    };\n  }\n\n  const g = groups[key];\n  g.stages.push(rec.stage_number);\n  g.stage_names.push('Stage ' + rec.stage_number + ' (' + rec.filter_name + ')');\n  // checklist line: ☐ Stage N — FilterName [CareType] × Qty\n  const qtyLabel = rec.qty_per_visit > 1 ? ' × ' + rec.qty_per_visit : '';\n  g.stage_details.push('☐ Stage ' + rec.stage_number + ' — ' + rec.filter_name + ' [' + (rec.care_type || 'Service') + ']' + qtyLabel);\n  if (rec.care_type && !g.care_types.includes(rec.care_type)) g.care_types.push(rec.care_type);\n  g.t4_record_ids.push(rec.record_id);\n  if (rec.care_plan_id && !g.care_plan_ids.includes(rec.care_plan_id)) {\n    g.care_plan_ids.push(rec.care_plan_id);\n  }\n  if (!g.assigned_technician_id && rec.assigned_technician_id) {\n    g.assigned_technician_id = rec.assigned_technician_id;\n  }\n  g.total_qty_per_visit += (rec.qty_per_visit || 1);\n  if (rec.next_due_date > g.max_due_date) g.max_due_date = rec.next_due_date;\n\n  // ใช้ alert_before_days จาก T4 (ไม่มี Interval field แยกในขั้นตอนนี้)\n  const lt = rec.alert_before_days || (rec.stage_number <= 3 ? 7 : 14);\n  if (lt > g.max_lead_time) g.max_lead_time = lt;\n}\n\nconst groupList = Object.values(groups).sort((a, b) => a.max_due_date.localeCompare(b.max_due_date));\n\nreturn [{ json: { groups: groupList, group_count: groupList.length, lark_token } }];"
      },
      "id": "cp-007",
      "name": "Group by Machine+Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep: Search T5 for existing open jobs\n// เพื่อ idempotency check — ไม่สร้าง T5 ซ้ำ\n// ⚠️ ห้ามระบุ field_names — Lark จะตัด primary field ทิ้ง\n// ────────────────────────────────────────────\nconst data = $input.first().json;\n\n// Query T5: Status NOT IN (เสร็จแล้ว, Cancelled) AND Source Ref ID = AUTO-CAREPLAN\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'and',\n    conditions: [\n      { field_name: 'Source Ref ID', operator: 'is', value: ['AUTO-CAREPLAN'] },\n      { field_name: 'Status', operator: 'isNot', value: ['เสร็จแล้ว'] },\n      { field_name: 'Status', operator: 'isNot', value: ['Cancelled'] }\n    ]\n  },\n  page_size: 500\n});\n\nreturn [{ json: { ...data, t5SearchBody: searchBody } }];"
      },
      "id": "cp-008",
      "name": "Prep T5 Idempotency Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.t5SearchBody }}",
        "options": {}
      },
      "id": "cp-009",
      "name": "Fetch Existing T5 (Open)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Idempotency: Filter out groups ที่มี T5 open อยู่แล้ว\n// Logic: อ่าน T5.Related Care Plan (DuplexLink → T4) ถ้า overlap กับ group.t4_record_ids → skip\n// ⚠️ Fixed 2026-04-20: เดิมอ่าน 'T4 Refs' (field ไม่มีใน T5 schema) → refs='' เสมอ → ไม่ skip อะไรเลย → สร้าง T5 ซ้ำทุกวัน\n//                     T5 schema จริงใช้ 'Related Care Plan' (DuplexLink) → ต้อง extract record_id[]\n// ────────────────────────────────────────────\nconst prevData = $('Prep T5 Idempotency Search').first().json;\nconst groups = prevData.groups;\nconst lark_token = prevData.lark_token;\n\n// Parse existing T5 records\nconst t5Res = $input.first().json;\nconst t5Items = (t5Res.data && t5Res.data.items) || [];\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (Array.isArray(v)) return v.map(i => typeof i === 'string' ? i : (i.text || '')).join(',');\n  return '';\n}\n\n// DuplexLink response format: [{ record_id, name/text }] หรือ { value: [...] }\nfunction extractLinkedIds(v) {\n  if (!v) return [];\n  const arr = Array.isArray(v) ? v : (Array.isArray(v.value) ? v.value : []);\n  return arr.map(r => {\n    if (typeof r === 'string') return '';\n    return r.record_id || (Array.isArray(r.record_ids) ? r.record_ids[0] : r.record_ids) || '';\n  }).filter(Boolean);\n}\n\nconst existingT5s = t5Items.map(it => {\n  const f = it.fields || {};\n  return {\n    record_id: it.record_id,\n    job_no: txt(f['Job No.']),\n    status: txt(f['Status']),\n    t4_refs: extractLinkedIds(f['Related Care Plan'])\n  };\n});\n\n// Filter: keep groups that have NO overlap with existing open T5\nconst newGroups = groups.filter(group => {\n  const hasOverlap = existingT5s.some(t5 => {\n    return t5.t4_refs.some(ref => group.t4_record_ids.includes(ref));\n  });\n  return !hasOverlap;\n});\n\nconst skipped = groups.length - newGroups.length;\n\nif (newGroups.length === 0) {\n  return [{ json: { has_new: false, new_count: 0, skipped, lark_token } }];\n}\n\n// Generate Job Numbers: CP-YYYY-MM-DD-NNN\nconst today = new Date().toISOString().split('T')[0];\nconst dated = today.replace(/-/g, '');\nconst jobsToCreate = newGroups.map((g, i) => {\n  const seq = String(i + 1).padStart(3, '0');\n  return {\n    job_no: 'CP-' + dated + '-' + seq,\n    machine_record_id: g.machine_record_id,   // ← stable T2 record_id for Link\n    customer_record_id: g.customer_record_id, // pass-through (T5.Customer is Lookup)\n    machine_code: g.machine_code,\n    customer_id: g.customer_id,\n    shop_name: g.shop_name,\n    stages: g.stages.sort((a,b) => a-b),\n    stage_names: g.stage_names,\n    stage_details: g.stage_details || [],\n    care_types: g.care_types || [],\n    t4_record_ids: g.t4_record_ids,\n    care_plan_ids: g.care_plan_ids,\n    assigned_technician_id: g.assigned_technician_id || '',\n    total_qty_per_visit: g.total_qty_per_visit || g.stages.length,\n    scheduled_date: g.max_due_date,\n    week_key: g.week_key\n  };\n});\n\nreturn [{ json: { has_new: true, new_count: jobsToCreate.length, skipped, jobs: jobsToCreate, lark_token } }];"
      },
      "id": "cp-010",
      "name": "Idempotency Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cp-if-new",
              "leftValue": "={{ $json.has_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cp-011",
      "name": "If New Jobs To Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Split: แตก jobs array → 1 item per job\n// เพื่อให้ Loop node สร้าง T5 ทีละ record\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nconst jobs = data.jobs || [];\nconst lark_token = data.lark_token;\n\nreturn jobs.map(job => ({ json: { ...job, lark_token } }));"
      },
      "id": "cp-012",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Build T5 record body for Lark Base create\n// ⚠️ Per 2026-04-20 audit (fixed):\n//   • T5.Customer is a LOOKUP field — resolved from Machine link, DO NOT write.\n//   • T5.Machine is DuplexLink → T2 (writable). Write [\"rec...\"] NOT [{record_id}]\n//   • T5.Related Care Plan is DuplexLink → T4 (writable; was 'T4 Refs' Text before).\n//   • T5.Assigned Technician is Link → T8 (optional pre-fill from T4). Write [\"rec...\"]\n//   • 'Status' SingleSelect option is 'รอยืนยัน'.\n//   • 'Job Type' MultiSelect → must wrap ['CarePlan'] even for single value.\n//   • 'Scheduled Date' = Date field → write เป็น ms timestamp ไม่ใช่ YYYY-MM-DD string\n// ⚠️ Bug #7 pattern: ใช้ $input.all().map() ไม่ใช่ first()\n//   Split Jobs ส่งมาหลาย items (1 item/job) — first() จะ drop job ที่ 2+ เงียบๆ\n// ────────────────────────────────────────────\n\nfunction toMs(dateStr) {\n  if (!dateStr) return null;\n  const d = new Date(dateStr + 'T00:00:00+07:00');\n  return d.getTime();\n}\n\nreturn $input.all().map(item => {\n  const job = item.json;\n\n  const stagesText = job.stages.map(s => 'Stage ' + s).join(', ');\n  // Checklist format for technician (human-readable, with checkboxes)\n  const checklistText = (job.stage_details && job.stage_details.length > 0)\n    ? job.stage_details.join('\\n')\n    : job.stage_names.join('\\n');\n  const idempotencyKey = 'CP_' + job.machine_record_id + '_' + job.week_key;\n\n  const fields = {\n    'Job No.': job.job_no,\n    'Status': 'รอยืนยัน',\n    'Job Type': ['CarePlan'],        // MultiSelect → array wrap (even single value)\n    'Stages Covered': stagesText,\n    'Stage Details': checklistText,\n    'Total Qty': job.total_qty_per_visit,  // sum of Qty per Visit — ช่างพกของรวม\n    'Scheduled Date': toMs(job.scheduled_date),\n    'Source Ref ID': 'AUTO-CAREPLAN',\n    'Idempotency Key': idempotencyKey,\n    'Auto Create Ticket': true\n  };\n\n  // Writable links — Lark Write format = [\"rec...\"] (array of ID strings)\n  // 1) Machine (DuplexLink → T2) — always set (grouping key)\n  // 2) Related Care Plan (DuplexLink → T4) — array of every T4 record in this visit\n  // 3) Assigned Technician (Link → T8) — optional pre-fill; admin can override\n  if (job.machine_record_id) {\n    fields['Machine'] = [job.machine_record_id];\n  }\n  if (job.t4_record_ids && job.t4_record_ids.length > 0) {\n    fields['Related Care Plan'] = job.t4_record_ids.slice();  // array of record_id strings\n  }\n  if (job.assigned_technician_id) {\n    fields['Assigned Technician'] = [job.assigned_technician_id];\n  }\n\n  const body = JSON.stringify({ fields });\n\n  return { json: { ...job, createBody: body } };\n});"
      },
      "id": "cp-013",
      "name": "Build T5 Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblXb6wG3DI7FmzJ/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "cp-014",
      "name": "Create T5 in Lark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Collect results: รวมผลลัพธ์จากทุก T5 ที่สร้าง\n// + สร้าง LINE notification message\n// ────────────────────────────────────────────\nconst allItems = $input.all();\nconst createdJobs = [];\nconst errors = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  // ตรวจว่า Lark ตอบ success\n  if (d.data && d.data.record) {\n    createdJobs.push({\n      job_no: d.data.record.fields?.['Job No.'] || 'unknown',\n      record_id: d.data.record.record_id,\n      shop_name: d.data.record.fields?.['Shop Name'] || ''\n    });\n  } else if (d.code && d.code !== 0) {\n    errors.push({ code: d.code, msg: d.msg || 'unknown error' });\n  }\n}\n\n// Reconstruct from Split Jobs data for notification\nconst splitItems = $('Split Jobs').all();\nconst jobDetails = splitItems.map(si => si.json);\n\n// Bangkok-aware today ในภาษาไทย + ค.ศ. (ไม่ใช้ toLocaleDateString('th-TH') เพราะ auto-แปลงเป็น พ.ศ.)\nconst TH_MONTHS_FULL = ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'];\nconst TH_WEEKDAYS = ['อาทิตย์','จันทร์','อังคาร','พุธ','พฤหัสบดี','ศุกร์','เสาร์'];\nconst bkkNow = new Date(new Date().getTime() + 7 * 3600 * 1000);\nconst dateTH = 'วัน' + TH_WEEKDAYS[bkkNow.getUTCDay()] + 'ที่ ' + bkkNow.getUTCDate() + ' ' + TH_MONTHS_FULL[bkkNow.getUTCMonth()] + ' ' + bkkNow.getUTCFullYear();\n\nlet msg = '📋 SK-ICE CarePlan Alert\\n';\nmsg += '📅 ' + dateTH + '\\n\\n';\nmsg += '🔧 มี ' + jobDetails.length + ' เครื่อง ใกล้ถึงกำหนด PM:\\n\\n';\n\njobDetails.forEach((job, i) => {\n  const stageList = job.stages.sort((a,b) => a-b).join(', ');\n  msg += (i + 1) + '. 🏪 ' + job.shop_name + '\\n';\n  msg += '   Stage: ' + stageList + '\\n';\n  msg += '   📅 Due: ' + job.scheduled_date + '\\n';\n  msg += '   🏷️ ' + job.job_no + '\\n\\n';\n});\n\nif (errors.length > 0) {\n  msg += '\\n⚠️ Errors: ' + errors.length + ' records failed\\n';\n}\n\nmsg += '👉 เข้า Admin Dashboard เพื่อ confirm + assign ช่าง';\n\nconst skippedCount = $('Idempotency Filter').first().json.skipped || 0;\n\nreturn [{ json: {\n  notification: msg,\n  created_count: createdJobs.length,\n  error_count: errors.length,\n  skipped_count: skippedCount,\n  lark_token: $('Idempotency Filter').first().json.lark_token\n} }];"
      },
      "id": "cp-015",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cp-if-created",
              "leftValue": "={{ $json.created_count }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cp-016",
      "name": "If Created Any",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3300,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep LINE Push → Admin Group\n// ────────────────────────────────────────────\nconst data = $input.first().json;\n\n// ⚠️ ใส่ LINE User ID ของ Admin ที่ต้องการรับแจ้งเตือน\nconst ADMIN_LINE_IDS = [\n  'U0c15c7dd5257e6ea5ae251279eee92f4'  // Admin: สักกะพงศ์\n];\n\n// สร้าง push messages สำหรับแต่ละ admin\nconst messages = ADMIN_LINE_IDS.map(lineId => ({\n  lineBody: JSON.stringify({\n    to: lineId,\n    messages: [{ type: 'text', text: data.notification }]\n  })\n}));\n\nreturn messages.map(m => ({ json: m }));"
      },
      "id": "cp-017",
      "name": "Prep LINE Admin Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Ng84+hoTD9tPknpLmBAt1cwStuEhjo79Snj7EtTZOK8GBzOZvwQj0LnpspyFLu7GjVc6Y/kvCPmo/lLsvgjAqv+RGKHLpKA6fq7/nkHCW9otlToTdeAwoi+/f6Pcy24QMkqdI8hn1ceyqQXlN6+pUQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.lineBody }}",
        "options": {}
      },
      "id": "cp-018",
      "name": "LINE Push Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Summary Log — สรุปผลรอบนี้\n// ────────────────────────────────────────────\nconst now = new Date().toISOString();\n\n// Try to get data from different paths\nlet created = 0, errors = 0, skipped = 0, notification = '';\ntry {\n  const d = $('Build Notification').first().json;\n  created = d.created_count || 0;\n  errors = d.error_count || 0;\n  skipped = d.skipped_count || 0;\n  notification = d.notification || '';\n} catch(e) {}\n\nreturn [{ json: {\n  run_at: now,\n  summary: 'CarePlan Cron: created=' + created + ', skipped=' + skipped + ', errors=' + errors,\n  created, skipped, errors, notification\n} }];"
      },
      "id": "cp-019",
      "name": "Summary Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// No-Op: ไม่มี T4 ที่ถึงกำหนด — จบ Cron รอบนี้\n// ────────────────────────────────────────────\nreturn [{ json: { summary: 'CarePlan Cron: No T4 records due within alert window. Nothing to do.', run_at: new Date().toISOString() } }];"
      },
      "id": "cp-020",
      "name": "No Records Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// All Skipped: ทุก group มี T5 open อยู่แล้ว\n// ────────────────────────────────────────────\nconst skipped = $input.first().json.skipped || 0;\nreturn [{ json: { summary: 'CarePlan Cron: ' + skipped + ' groups skipped (T5 already exists). No new jobs created.', run_at: new Date().toISOString() } }];"
      },
      "id": "cp-021",
      "name": "All Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// No new T5 created (errors or all failed)\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nreturn [{ json: { summary: 'CarePlan Cron: 0 created, check errors.', run_at: new Date().toISOString() } }];"
      },
      "id": "cp-022",
      "name": "None Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "init-careplan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cpi-001",
      "name": "Webhook Init CarePlan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "init-careplan-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Auth check + Parse incoming body\n// Expected: { machine_record_id: 'recXXX', install_date_override?: 'YYYY-MM-DD' }\n// ────────────────────────────────────────────\nconst VALID_TOKEN = 'sk-ice-api-v3-2026';\n\nconst raw = $input.first().json;\nconst headers = raw.headers || {};\nconst query = raw.query || {};\nconst token = headers['x-api-key'] || headers['X-API-Key'] || headers['X-Api-Key'] || query.token || '';\n\nif (token !== VALID_TOKEN) {\n  return [{ json: { __error: true, __unauthorized: true, message: 'Unauthorized' } }];\n}\n\nconst body = raw.body || raw;\nconst machine_record_id = body.machine_record_id || body.machine_id || '';\nconst install_date_override = body.install_date_override || '';\n\nif (!machine_record_id) {\n  return [{ json: { __error: true, message: 'machine_record_id is required' } }];\n}\n\nreturn [{ json: { machine_record_id, install_date_override } }];"
      },
      "id": "cpi-002",
      "name": "Parse Init Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-err",
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cpi-003",
      "name": "If Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $('Parse Init Body').first().json.message }) }}",
        "options": {
          "responseCode": "={{ $('Parse Init Body').first().json.__unauthorized ? 401 : 400 }}"
        }
      },
      "id": "cpi-003b",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a9500a1d84f89e18"
            },
            {
              "name": "app_secret",
              "value": "GfKOk3vVSU4WwtXJKZEmHb2Q51JDOLgp"
            }
          ]
        },
        "options": {}
      },
      "id": "cpi-004",
      "name": "Get Lark Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Prep: Fetch T2 Machine record by record_id\n// ────────────────────────────────────────────\nconst token = $input.first().json.tenant_access_token;\nconst initData = $('Parse Init Body').first().json;\n\nreturn [{ json: {\n  lark_token: token,\n  machine_record_id: initData.machine_record_id,\n  install_date_override: initData.install_date_override\n} }];"
      },
      "id": "cpi-005",
      "name": "Prep Fetch T2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblU7hDhX2UG4Tbi/records/{{ $json.machine_record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cpi-006",
      "name": "Fetch T2 Machine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Parse T2 + Select Template\n// ────────────────────────────────────────────\nconst res = $input.first().json;\nconst prevData = $('Prep Fetch T2').first().json;\n\nif (!res.data || !res.data.record) {\n  return [{ json: { __error: true, message: 'T2 record not found: ' + prevData.machine_record_id } }];\n}\n\nconst f = res.data.record.fields || {};\nconst machine_record_id = prevData.machine_record_id;\nconst lark_token = prevData.lark_token;\nconst install_date_override = prevData.install_date_override;\n\nfunction txt(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'number') return String(v);\n  if (v.text) return v.text;\n  if (v.value && typeof v.value === 'string') return v.value;\n  if (Array.isArray(v) && v[0]) {\n    const x = v[0];\n    return typeof x === 'string' ? x : (x.text || x.name || x.value || '');\n  }\n  return '';\n}\n\n// Lark Date field = Unix ms number. Convert to YYYY-MM-DD in Bangkok TZ.\nfunction dateStr(v) {\n  if (v === null || v === undefined || v === '') return '';\n  if (typeof v === 'number') {\n    const bkk = new Date(v + 7 * 3600 * 1000);\n    const yyyy = bkk.getUTCFullYear();\n    const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(bkk.getUTCDate()).padStart(2, '0');\n    return yyyy + '-' + mm + '-' + dd;\n  }\n  const s = typeof v === 'string' ? v : txt(v);\n  if (!s) return '';\n  return s.split('T')[0].replace(/\\//g, '-');\n}\n\n// Bangkok-aware today (for fallback when Install date empty)\nfunction bkkTodayStr() {\n  const bkk = new Date(new Date().getTime() + 7 * 3600 * 1000);\n  const yyyy = bkk.getUTCFullYear();\n  const mm = String(bkk.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(bkk.getUTCDate()).padStart(2, '0');\n  return yyyy + '-' + mm + '-' + dd;\n}\n\nconst shopName      = txt(f['Shop Name']);\nconst machineCode   = txt(f['Machine Code']);\nconst ownershipRaw  = txt(f['Ownership Type']);\nconst filterSystem1 = txt(f['Filter System 1']);\nconst customerRaw   = txt(f['Customer']);\n\n// ─── Determine rental vs sale ───\n// NOTE: Rental/Sale = billing model only (Included in Rental? flag),\n//       physical interval = material chemistry (independent of contract).\nconst isRental = ownershipRaw === 'เช่า' || ownershipRaw.toLowerCase().includes('rental');\n\n// ─── Determine stage count from Filter System ───\n// '3 ขั้นตอน' → 3, '5 ขั้นตอน' → 5, else → 6\nconst stageMatch = (filterSystem1 || '').match(/(\\d+)/);\nconst maxStage = stageMatch ? parseInt(stageMatch[1]) : 6;\n\n// ─── Install date ───\n// ⚠️ Install date อาจเป็น Date field (ms number) — ใช้ dateStr() แปลง ห้ามใช้ txt().split('T')[0]\n// (bug ที่เจอใน rental-cron: ms number → string = literal '1793898000000' แล้ว split('T') ก็ไม่ช่วย)\nconst installRaw = install_date_override || dateStr(f['Install date']) || dateStr(f['Install Date']);\nconst installDate = installRaw || bkkTodayStr();\n\n// ─── Fallback interval tables (used only if template row missing) ───\n// Physics-bound: Stage 4-6 interval doesn't change whether contract is Rental or Sale.\n// Only Stage 1-3 differs (Rental bills monthly → visit monthly; Sale pay-per-service).\nconst FALLBACK_SALE   = { 1: 1, 2: 3, 3: 3, 4: 10, 5: 12, 6: 12 };\nconst FALLBACK_RENTAL = { 1: 1, 2: 1, 3: 1, 4: 10, 5: 12, 6: 12 };\n\n// ─── RO Stage Templates ───\n// Care Type uses confirmed T4 SingleSelect options: Filter Change | Descaling | PM\n// All 6 RO stages = cartridge replacement → Filter Change\n// ⚠️ name MUST exactly match Lark T4.Filter Stage MultiSelect options\n//    (verified 2026-04-20). Spec detail like '10\"' / '300 GPD' belongs in T3 catalog,\n//    not here — this is a UI label only.\nconst RO_STAGE_CONFIG = [\n  { stage: 1, name: 'Stage 1 - PP Sediment',        t3_code: 'F00001', interval: 1,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 2, name: 'Stage 2 - Carbon Block',       t3_code: 'F00002', interval: 3,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 3, name: 'Stage 3 - Resin / Softener',   t3_code: 'F00003', interval: 3,  alert: 7,  care_type: 'Filter Change' },\n  { stage: 4, name: 'Stage 4 - RO Membrane',        t3_code: 'F00072', interval: 10, alert: 14, care_type: 'Filter Change' },\n  { stage: 5, name: 'Stage 5 - Post Carbon',        t3_code: 'F00004', interval: 12, alert: 14, care_type: 'Filter Change' },\n  { stage: 6, name: 'Stage 6 - Mineral / Alkaline', t3_code: 'F00005', interval: 12, alert: 14, care_type: 'Filter Change' }\n];\n\n// Filter stages based on machine's filter system count\nconst selectedStages = RO_STAGE_CONFIG.filter(s => s.stage <= maxStage);\n\n// Rental override: Stage 1-3 visits monthly (billing tie-in), Stage 4-6 physics-bound unchanged.\n// Care Type stays 'Filter Change' — the physical act doesn't change with contract type.\nconst stages = isRental\n  ? selectedStages.map(s => ({\n      ...s,\n      interval: FALLBACK_RENTAL[s.stage] || s.interval,\n      alert: s.stage <= 3 ? 7 : 14\n    }))\n  : selectedStages;\n\n// ─── Helper: Add months to date ───\nfunction addMonths(dateStr, months) {\n  const d = new Date(dateStr + 'T00:00:00');\n  d.setMonth(d.getMonth() + months);\n  return d.toISOString().split('T')[0];\n}\n\n// ─── Build stage records ───\nconst stageRecords = stages.map(s => {\n  const carePlanId = 'CP-' + (machineCode || machine_record_id.slice(-6)) + '-S' + s.stage;\n  const nextDueDate = addMonths(installDate, s.interval);\n\n  return {\n    care_plan_id: carePlanId,\n    machine_record_id,\n    shop_name: shopName,\n    machine_code: machineCode,\n    ownership_type: ownershipRaw,\n    stage: s.stage,\n    filter_name: s.name,\n    t3_code: s.t3_code,\n    interval: s.interval,\n    alert_days: s.alert,\n    care_type: s.care_type,\n    install_date: installDate,\n    next_due_date: nextDueDate,\n    lark_token\n  };\n});\n\nreturn [{ json: {\n  stage_records: stageRecords,\n  stage_count: stageRecords.length,\n  shop_name: shopName,\n  machine_code: machineCode,\n  is_rental: isRental,\n  install_date: installDate,\n  lark_token\n} }];"
      },
      "id": "cpi-007",
      "name": "Parse T2 + Select Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-valid",
              "leftValue": "={{ $json.stage_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cpi-008",
      "name": "If Has Stages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Idempotency: ตรวจ T4 ว่า machine นี้มี CarePlan stage นี้อยู่แล้วไหม\n// เพื่อป้องกัน init ซ้ำ\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nconst lark_token = data.lark_token;\nconst machine_record_id = data.stage_records[0].machine_record_id;\n\n// Search T4 by Machine linked record\nconst searchBody = JSON.stringify({\n  filter: {\n    conjunction: 'and',\n    conditions: [\n      // Machine is a linked field — search by record_id of the linked T2\n      { field_name: 'Machine', operator: 'is', value: [machine_record_id] }\n    ]\n  },\n  page_size: 20\n  // ⚠️ ห้ามระบุ field_names\n});\n\nreturn [{ json: { ...data, t4CheckBody: searchBody } }];"
      },
      "id": "cpi-009",
      "name": "Prep Check Existing T4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.t4CheckBody }}",
        "options": {}
      },
      "id": "cpi-010",
      "name": "Check Existing T4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Filter: skip stages ที่มี T4 อยู่แล้ว (idempotency)\n// ────────────────────────────────────────────\nconst templateData = $('Prep Check Existing T4').first().json;\nconst stageRecords = templateData.stage_records;\nconst lark_token = templateData.lark_token;\n\nconst t4Res = $input.first().json;\nconst existingItems = (t4Res.data && t4Res.data.items) || [];\n\nfunction txt(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  if (v.text) return v.text;\n  if (Array.isArray(v) && v[0]) {\n    const x = v[0];\n    return typeof x === 'string' ? x : (x.text || x.name || '');\n  }\n  return '';\n}\n\n// Collect existing stage numbers\nconst existingStages = existingItems.map(it => {\n  const f = it.fields || {};\n  return parseInt(txt(f['Stage Number']) || '0');\n}).filter(n => !isNaN(n) && n > 0);\n\n// Only create stages that don't exist yet\nconst newStages = stageRecords.filter(s => !existingStages.includes(s.stage));\nconst skippedStages = stageRecords.filter(s => existingStages.includes(s.stage));\n\nif (newStages.length === 0) {\n  return [{ json: {\n    has_new: false,\n    skipped: skippedStages.length,\n    message: 'All ' + skippedStages.length + ' stages already exist in T4',\n    lark_token\n  } }];\n}\n\nreturn [{ json: {\n  has_new: true,\n  new_stages: newStages,\n  skipped_count: skippedStages.length,\n  new_count: newStages.length,\n  shop_name: templateData.shop_name,\n  machine_code: templateData.machine_code,\n  is_rental: templateData.is_rental,\n  lark_token\n} }];"
      },
      "id": "cpi-011",
      "name": "Idempotency Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cpi-if-new",
              "leftValue": "={{ $json.has_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cpi-012",
      "name": "If New Stages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Split: แตก new_stages array → 1 item per stage\n// ────────────────────────────────────────────\nconst data = $input.first().json;\nreturn data.new_stages.map(s => ({ json: { ...s, lark_token: data.lark_token } }));"
      },
      "id": "cpi-013",
      "name": "Split New Stages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Build T4 record body for Lark create\n// ⚠️ Fields NOT to write (per 2026-04-20 audit):\n//   • Next Due Date       — Formula (Last Done Date + Planned Interval) → auto-compute\n//   • Due Status          — Formula (derived from Next Due Date)\n//   • Service Item        — DuplexLink → T3 (needs record_id, not code string; filled separately)\n//   • Assigned Technician — Link → T8 (unassigned at init; admin sets later)\n//   • Lead Time Override  — Number (empty = fallback to Alert Before (Days))\n//   • Customer / Location — covered by Machine link + Lookup\n// Fields used (confirmed in T4 schema 2026-04-20):\n//   Planned Interval (Months) — Number (template baseline, source of truth)\n//   Care Type                 — MultiSelect [Filter Change | Descaling | PM]\n//   Filter Stage              — MultiSelect [Stage 1..6 - Material]  ← MUST match Lark options exactly\n//   Included in Rental        — Checkbox (true if rental contract)\n//   CP Status                 — SingleSelect [Pending | Active | Done]  ← no colon!\n//   Last Done Date            — Date (write as ms timestamp)\n//   Qty per Visit             — Number (default 1; admin tune per machine)\n//   Auto Create Ticket        — Checkbox (true = cron auto-schedules T5; false = admin schedules manually)\n//   Interval Override Reason  — Text (audit trail for fallback/override)\n//   Last 3 Actual Intervals   — Text (JSON array, filled by create-job workflow)\n// ⚠️ Bug #7 pattern: ใช้ $input.all().map() ไม่ใช่ first()\n//   Split New Stages ส่งมา 1 item/stage (3-6 stages) — first() จะ drop stage 2-6 เงียบๆ\n// ⚠️ Lark Date field write = ms number (bug #4 จาก rental-cron) ใช้ toMs()\n// ⚠️ Lark Link write = [\"rec...\"] NOT [{record_id}] (bug #5 จาก rental-cron)\n// ────────────────────────────────────────────\n\n// To seed Last Done Date so Formula (Last Done Date + Planned Interval = Next Due Date)\n// produces the correct first-cycle due, we back-date by -1 × interval from install date.\n// e.g. install 2026-01-01, interval 3 → Last Done Date = 2025-10-01\n//      Formula returns 2025-10-01 + 3mo = 2026-01-01 = first due = install date ✓\nfunction subMonths(dateStr, months) {\n  const d = new Date(dateStr + 'T00:00:00');\n  d.setMonth(d.getMonth() - months);\n  return d.toISOString().split('T')[0];\n}\n\n// Lark Date write = ms timestamp (Bangkok midnight)\nfunction toMs(dateStr) {\n  if (!dateStr) return null;\n  return new Date(dateStr + 'T00:00:00+07:00').getTime();\n}\n\nreturn $input.all().map(item => {\n  const s = item.json;\n  const seedLastDone = subMonths(s.install_date, s.interval);\n\n  const fields = {\n    // ── Identifiers ──\n    'Care Plan ID':  s.care_plan_id,\n    'Stage Number':  s.stage,\n    // MultiSelect fields → must be array even for single value\n    'Filter Stage':  [s.filter_name],\n    'Care Type':     [s.care_type],   // Filter Change | Descaling | PM\n\n    // ── Schedule ──\n    // Planned Interval = template baseline (source of truth for Formula).\n    // Next Due Date is a Formula — never write; Lark computes from Last Done Date + this.\n    'Planned Interval (Months)': s.interval,\n    'Alert Before (Days)':       s.alert_days,\n    'Last Done Date':            toMs(seedLastDone),\n\n    // ── Billing model flag (separate from physical interval) ──\n    // 🔧 FIXED 2026-04-26: 'Included in Rental' is FORMULA in T4 (auto-computed) · removed write\n    //   Lark API rejects writes to formula fields → silent fail (root cause of 'no T4' bug)\n\n    // ── Status ──\n    // SingleSelect — no colon in field name (schema confirmed 2026-04-20)\n    'CP Status': 'Pending',\n\n    // ── Active flag ──\n    // 🔧 FIXED 2026-04-26: Added Active？ (Checkbox) · default true · full-width '？'\n    'Active？':           true,\n\n    // ── Visit defaults ──\n    // 🔧 FIXED 2026-04-26: Field name uses full-width '？' (Lark Base auto-conversion)\n    'Qty per Visit':       1,\n    'Auto Create Ticket？': true,\n\n    // ── Audit (empty at init; filled when fallback/override triggers) ──\n    'Interval Override Reason': '',\n    'Last 3 Actual Intervals':  '[]'\n  };\n\n  // Linked record: Machine → T2 (DuplexLink) — write format = [\"rec...\"]\n  if (s.machine_record_id) {\n    fields['Machine'] = [s.machine_record_id];\n  }\n\n  const body = JSON.stringify({ fields });\n  return { json: { ...s, createBody: body } };\n});"
      },
      "id": "cpi-014",
      "name": "Build T4 Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/UOZZb0ImVaRYy1sDjUNjm3jqpye/tables/tblyA9sHFA9AJVEi/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.lark_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.createBody }}",
        "options": {}
      },
      "id": "cpi-015",
      "name": "Create T4 in Lark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────\n// Collect all created T4 records → build response\n// ────────────────────────────────────────────\nconst allItems = $input.all();\nconst created = [], errors = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (d.data && d.data.record) {\n    created.push({\n      record_id: d.data.record.record_id,\n      care_plan_id: d.data.record.fields?.['Care Plan ID'] || '',\n      stage: d.data.record.fields?.['Stage Number'] || ''\n    });\n  } else if (d.code && d.code !== 0) {\n    errors.push({ code: d.code, msg: d.msg || 'error' });\n  }\n}\n\n// Reconstruct source data from Split New Stages\nconst splitItems = $('Split New Stages').all();\nconst shopName = splitItems[0]?.json?.shop_name || '';\nconst machineCode = splitItems[0]?.json?.machine_code || '';\nconst isRental = splitItems[0]?.json?.is_rental || false;\nconst skippedCount = $('Idempotency Filter').first().json.skipped_count || 0;\n\nconst summary = {\n  success: errors.length === 0,\n  machine_code: machineCode,\n  shop_name: shopName,\n  ownership: isRental ? 'Rental' : 'Sale',\n  created_count: created.length,\n  skipped_count: skippedCount,\n  error_count: errors.length,\n  created_records: created,\n  errors: errors.length > 0 ? errors : undefined\n};\n\nreturn [{ json: summary }];"
      },
      "id": "cpi-016",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cpi-017",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3520,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// All stages already exist\nconst data = $input.first().json;\nreturn [{ json: { success: true, message: data.message, skipped: data.skipped } }];"
      },
      "id": "cpi-018",
      "name": "All Already Exist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cpi-019",
      "name": "Respond Already Exists",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2860,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No valid stages found for machine. Check Filter System 1 field in T2.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "cpi-020",
      "name": "Respond No Stages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1540,
        160
      ]
    }
  ],
  "connections": {
    "Webhook Get Customers": {
      "main": [
        [
          {
            "node": "Get Token [GC]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GC]": {
      "main": [
        [
          {
            "node": "Prep Search T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T1": {
      "main": [
        [
          {
            "node": "Fetch T1 Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T1 Customers": {
      "main": [
        [
          {
            "node": "Format Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Customers": {
      "main": [
        [
          {
            "node": "Respond Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Techs": {
      "main": [
        [
          {
            "node": "Get Token [GT]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GT]": {
      "main": [
        [
          {
            "node": "Prep Search T8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T8": {
      "main": [
        [
          {
            "node": "Fetch T8 Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T8 Techs": {
      "main": [
        [
          {
            "node": "Format Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Techs": {
      "main": [
        [
          {
            "node": "Respond Techs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Create Job": {
      "main": [
        [
          {
            "node": "Parse Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Body": {
      "main": [
        [
          {
            "node": "Get Token [CJ]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [CJ]": {
      "main": [
        [
          {
            "node": "Prep T5 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep T5 Body": {
      "main": [
        [
          {
            "node": "Create T5 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T5 Record": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Jobs": {
      "main": [
        [
          {
            "node": "Get Token [GJ]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GJ]": {
      "main": [
        [
          {
            "node": "Prep Search T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T5": {
      "main": [
        [
          {
            "node": "Fetch T5 Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T5 Jobs": {
      "main": [
        [
          {
            "node": "Format Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Jobs": {
      "main": [
        [
          {
            "node": "Respond Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Attendance": {
      "main": [
        [
          {
            "node": "Get Token [GA]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GA]": {
      "main": [
        [
          {
            "node": "Prep Attendance Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Attendance Query": {
      "main": [
        [
          {
            "node": "Fetch T8 for Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T8 for Attendance": {
      "main": [
        [
          {
            "node": "Format Team Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Team Status": {
      "main": [
        [
          {
            "node": "Respond Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Products": {
      "main": [
        [
          {
            "node": "Get Token [GP]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GP]": {
      "main": [
        [
          {
            "node": "Prep Search T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T3": {
      "main": [
        [
          {
            "node": "Fetch T3 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T3 Products": {
      "main": [
        [
          {
            "node": "Format Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Products": {
      "main": [
        [
          {
            "node": "Respond Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Complete Job": {
      "main": [
        [
          {
            "node": "Parse Complete Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Complete Body": {
      "main": [
        [
          {
            "node": "Get Token [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [Complete]": {
      "main": [
        [
          {
            "node": "Prep Search T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T5 Complete": {
      "main": [
        [
          {
            "node": "Search T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search T5 Complete": {
      "main": [
        [
          {
            "node": "Prep Update T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Update T5 Complete": {
      "main": [
        [
          {
            "node": "Update T5 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T5 Complete": {
      "main": [
        [
          {
            "node": "If CarePlan Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CarePlan Job": {
      "main": [
        [
          {
            "node": "Prep Search T4 Refs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep LINE Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T4 Refs": {
      "main": [
        [
          {
            "node": "Fetch T4 Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T4 Refs": {
      "main": [
        [
          {
            "node": "Calc Next Due Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Next Due Dates": {
      "main": [
        [
          {
            "node": "Update T4 Next Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T4 Next Due": {
      "main": [
        [
          {
            "node": "Prep LINE Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LINE Complete": {
      "main": [
        [
          {
            "node": "LINE Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep SMS Complete": {
      "main": [
        [
          {
            "node": "SMS Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Notify Complete": {
      "main": [
        [
          {
            "node": "Prep SMS Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Notify Complete": {
      "main": [
        [
          {
            "node": "Prep Admin Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Admin Complete": {
      "main": [
        [
          {
            "node": "Admin Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Notify Complete": {
      "main": [
        [
          {
            "node": "Prep Lark DM [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Lark DM [Complete]": {
      "main": [
        [
          {
            "node": "Lark DM Admin [Complete]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lark DM Admin [Complete]": {
      "main": [
        [
          {
            "node": "Respond Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Bookings": {
      "main": [
        [
          {
            "node": "Get Token [GB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [GB]": {
      "main": [
        [
          {
            "node": "Search T6 Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search T6 Bookings": {
      "main": [
        [
          {
            "node": "Format Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bookings": {
      "main": [
        [
          {
            "node": "Respond Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Create Booking": {
      "main": [
        [
          {
            "node": "Get Token [CB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [CB]": {
      "main": [
        [
          {
            "node": "Prep T6 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep T6 Body": {
      "main": [
        [
          {
            "node": "Create T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T6 Record": {
      "main": [
        [
          {
            "node": "Respond Booking Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Edit Booking": {
      "main": [
        [
          {
            "node": "Parse Edit Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Edit Body": {
      "main": [
        [
          {
            "node": "Get Token [EB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [EB]": {
      "main": [
        [
          {
            "node": "Get T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get T6 Record": {
      "main": [
        [
          {
            "node": "Merge Edit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Edit Log": {
      "main": [
        [
          {
            "node": "Update T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update T6 Record": {
      "main": [
        [
          {
            "node": "Respond Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Cancel Booking": {
      "main": [
        [
          {
            "node": "Parse Cancel Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancel Body": {
      "main": [
        [
          {
            "node": "Get Token [XB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token [XB]": {
      "main": [
        [
          {
            "node": "Prep Cancel Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cancel Fields": {
      "main": [
        [
          {
            "node": "Cancel T6 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel T6 Record": {
      "main": [
        [
          {
            "node": "Respond Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Poll Every 5 Min": {
      "main": [
        [
          {
            "node": "🔑 Get Lark Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Get Lark Token": {
      "main": [
        [
          {
            "node": "📋 Read T5 Scheduled Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read T5 Scheduled Jobs": {
      "main": [
        [
          {
            "node": "⚙️ Extract Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Job Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "💬 Build Tech Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Build Tech Message": {
      "main": [
        [
          {
            "node": "📲 Lark → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Lark → Tech": {
      "main": [
        [
          {
            "node": "📱 LINE → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 LINE → Tech": {
      "main": [
        [
          {
            "node": "📨 SMS → Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 SMS → Tech": {
      "main": [
        [
          {
            "node": "🔄 Prep Mark Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prep Mark Tech": {
      "main": [
        [
          {
            "node": "✅ Mark Notified Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Poll Every 5 Min1": {
      "main": [
        [
          {
            "node": "🔑 Get Lark Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Get Lark Token1": {
      "main": [
        [
          {
            "node": "📋 Read T5 OnWay Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read T5 OnWay Jobs": {
      "main": [
        [
          {
            "node": "⚙️ Extract Job Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Job Data1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "👤 Read T1 Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Read T1 Customer": {
      "main": [
        [
          {
            "node": "💬 Build Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Build Customer Message": {
      "main": [
        [
          {
            "node": "📱 LINE → Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 LINE → Customer": {
      "main": [
        [
          {
            "node": "📨 SMS → Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 SMS → Customer": {
      "main": [
        [
          {
            "node": "🔄 Prep Mark Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prep Mark Customer": {
      "main": [
        [
          {
            "node": "✅ Mark Notified Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 07:00 Daily": {
      "main": [
        [
          {
            "node": "Get Lark Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lark Token": {
      "main": [
        [
          {
            "node": "Prep Fetch T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search T4": {
      "main": [
        [
          {
            "node": "Fetch T4 CarePlan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T4 CarePlan": {
      "main": [
        [
          {
            "node": "Parse T4 Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse T4 Records": {
      "main": [
        [
          {
            "node": "If Has Due Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Due Records": {
      "main": [
        [
          {
            "node": "Group by Machine+Week",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Records Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Machine+Week": {
      "main": [
        [
          {
            "node": "Prep T5 Idempotency Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep T5 Idempotency Search": {
      "main": [
        [
          {
            "node": "Fetch Existing T5 (Open)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing T5 (Open)": {
      "main": [
        [
          {
            "node": "Idempotency Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Filter": {
      "main": [
        [
          {
            "node": "If New Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Jobs To Create": {
      "main": [
        [
          {
            "node": "Split Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs": {
      "main": [
        [
          {
            "node": "Build T5 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build T5 Record": {
      "main": [
        [
          {
            "node": "Create T5 in Lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T5 in Lark": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification": {
      "main": [
        [
          {
            "node": "If Created Any",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Created Any": {
      "main": [
        [
          {
            "node": "Prep LINE Admin Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "None Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LINE Admin Notify": {
      "main": [
        [
          {
            "node": "LINE Push Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Push Admin": {
      "main": [
        [
          {
            "node": "Summary Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Init CarePlan": {
      "main": [
        [
          {
            "node": "Parse Init Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Init Body": {
      "main": [
        [
          {
            "node": "If Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Input": {
      "main": [
        [
          {
            "node": "Get Lark Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fetch T2": {
      "main": [
        [
          {
            "node": "Fetch T2 Machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch T2 Machine": {
      "main": [
        [
          {
            "node": "Parse T2 + Select Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse T2 + Select Template": {
      "main": [
        [
          {
            "node": "If Has Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Stages": {
      "main": [
        [
          {
            "node": "Prep Check Existing T4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Check Existing T4": {
      "main": [
        [
          {
            "node": "Check Existing T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing T4": {
      "main": [
        [
          {
            "node": "Idempotency Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Stages": {
      "main": [
        [
          {
            "node": "Split New Stages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split New Stages": {
      "main": [
        [
          {
            "node": "Build T4 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build T4 Record": {
      "main": [
        [
          {
            "node": "Create T4 in Lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create T4 in Lark": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Already Exist": {
      "main": [
        [
          {
            "node": "Respond Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 10,
  "updatedAt": "2026-04-15T00:00:00.000Z",
  "versionId": "1"
}