wf-gps-customer-map.json
{
  "name": "WF GPS Customer Map",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gps-customer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa001001-0000-0000-0000-000000000001",
      "name": "Webhook GPS Customer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "gps-customer-webhook"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { html: `<!DOCTYPE html>\n<html lang=\"th\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1,user-scalable=no\">\n<title>ติดตามช่าง — SK ICE</title>\n<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.css\"/>\n<script src=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.js\"></script>\n<style>\n*{margin:0;padding:0;box-sizing:border-box}\nhtml,body{height:100%;overflow:hidden;font-family:'Helvetica Neue',Arial,sans-serif;background:#F0F4F8}\nbody{display:flex;flex-direction:column}\n.hdr{background:linear-gradient(135deg,#1E3A5F,#2E6DA4);padding:13px 16px;color:#fff;text-align:center;flex-shrink:0}\n.hdr h1{font-size:17px;font-weight:700}.hdr p{font-size:12px;color:#A8D5F0;margin-top:2px}\n.sbar{background:#fff;padding:11px 16px;display:flex;align-items:center;gap:10px;box-shadow:0 2px 6px rgba(0,0,0,.12);flex-shrink:0}\n.si{font-size:26px}.sinfo{flex:1}\n.st{font-size:15px;font-weight:700;color:#2C3E50}\n.ss{font-size:12px;color:#888;margin-top:2px;display:flex;align-items:center;gap:5px}\n.dot{display:inline-block;width:8px;height:8px;border-radius:50%;background:#27AE60;flex-shrink:0}\n.dot.off{background:#ccc}\n@keyframes pulse{0%,100%{opacity:1}50%{opacity:.4}}\n.dot.on{animation:pulse 1.5s infinite}\n.tag{font-size:11px;background:#EEF4FF;color:#2E6DA4;padding:3px 8px;border-radius:10px;font-weight:700;flex-shrink:0}\n/* open-in-browser bar */\n.open-bar{display:flex;gap:8px;padding:8px 12px;background:#FFF8E1;border-bottom:1px solid #FFE082;flex-shrink:0}\n.open-bar button{flex:1;border:none;border-radius:8px;padding:9px 6px;font-size:13px;font-weight:700;cursor:pointer}\n.btn-chrome{background:#4285F4;color:#fff}\n.btn-safari{background:#006CFF;color:#fff}\n.wrap{flex:1;position:relative;min-height:0}\n#map{width:100%;height:100%}\n/* FAB buttons */\n.fabs{position:absolute;bottom:20px;right:14px;z-index:1000;display:flex;flex-direction:column;gap:10px;align-items:flex-end}\n.fab{border:none;border-radius:50px;padding:11px 16px;font-size:14px;font-weight:700;cursor:pointer;box-shadow:0 3px 12px rgba(0,0,0,.25);display:flex;align-items:center;gap:6px;white-space:nowrap}\n.fab-tech{background:#1E3A5F;color:#fff}\n.fab-me{background:#2E6DA4;color:#fff}\n/* Loading overlay */\n#loading{position:absolute;inset:0;background:rgba(255,255,255,.9);display:flex;flex-direction:column;align-items:center;justify-content:center;z-index:999;font-size:15px;color:#666;gap:10px}\n#loading span{font-size:40px}\n</style>\n</head>\n<body>\n\n<div class=\"hdr\">\n  <h1>🧊 SK ICE — ติดตามช่าง</h1>\n  <p id=\"hdr-sub\">กำลังโหลด...</p>\n</div>\n\n<!-- Open in browser bar (shown on mobile) -->\n<div class=\"open-bar\" id=\"open-bar\" style=\"display:none\">\n  <button class=\"btn-chrome\" onclick=\"openChrome()\">🟢 เปิดใน Chrome</button>\n  <button class=\"btn-safari\" onclick=\"openSafari()\">🧭 เปิดใน Safari</button>\n</div>\n\n<div class=\"sbar\">\n  <div class=\"si\" id=\"s-icon\">🚗</div>\n  <div class=\"sinfo\">\n    <div class=\"st\" id=\"s-text\">กำลังเดินทาง</div>\n    <div class=\"ss\">\n      <span class=\"dot on\" id=\"dot\"></span>\n      <span id=\"s-sub\">กำลังโหลดตำแหน่ง...</span>\n    </div>\n  </div>\n  <span class=\"tag\" id=\"job-tag\">-</span>\n</div>\n\n<div class=\"wrap\">\n  <div id=\"loading\"><span>📍</span>กำลังโหลดแผนที่...</div>\n  <div id=\"map\"></div>\n  <div class=\"fabs\">\n    <button class=\"fab fab-tech\" id=\"btn-tech\" onclick=\"focusTech()\" style=\"display:none\">🚗 ตำแหน่งช่าง</button>\n    <button class=\"fab fab-me\" onclick=\"centerMe()\">📍 จุดของฉัน</button>\n  </div>\n</div>\n\n<script>\n// ───── config ─────\nconst BASE = 'https://skgroup.app.n8n.cloud/webhook';\nconst GPS_POS_URL = 'https://script.google.com/macros/s/AKfycby4bz_lqC2mVSd1PTN6Qa0v-debtTZmxKa2A6VlnXL0qxJHHQR5ghe7bvQqe3JR1jWK/exec';\nconst POLL_MS = 60000; // poll every 60s\n\n// ───── URL params ─────\nconst p   = new URLSearchParams(location.search);\nconst JOB = (p.get('job_id') || p.get('work') || '').trim();\n\ndocument.getElementById('hdr-sub').textContent = JOB ? 'งาน: ' + JOB : 'ไม่ระบุงาน';\ndocument.getElementById('job-tag').textContent  = JOB || '-';\n\n// ───── Leaflet map ─────\nconst map = L.map('map', { zoomControl: true, attributionControl: false });\nL.tileLayer(\n  'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',\n  { maxZoom: 19, subdomains: 'abcd' }\n).addTo(map);\nmap.setView([13.75, 100.5], 13);\ndocument.getElementById('loading').style.display = 'none';\n\n// ───── icons ─────\nconst techIcon = L.divIcon({\n  html: '<div style=\"font-size:30px;line-height:1;filter:drop-shadow(1px 2px 3px rgba(0,0,0,.45))\">🚗</div>',\n  className: '', iconSize: [34, 34], iconAnchor: [17, 17], popupAnchor: [0, -18]\n});\nconst doneIcon = L.divIcon({\n  html: '<div style=\"font-size:30px;line-height:1\">✅</div>',\n  className: '', iconSize: [34, 34], iconAnchor: [17, 17]\n});\nconst meIcon = L.divIcon({\n  html: '<div style=\"width:16px;height:16px;background:#2E6DA4;border:3px solid #fff;border-radius:50%;box-shadow:0 0 0 4px rgba(46,109,164,.25)\"></div>',\n  className: '', iconSize: [16, 16], iconAnchor: [8, 8]\n});\n\nlet techMarker = null;\nlet meMarker   = null;\nlet myLat = null, myLng = null;\nlet techLat = null, techLng = null;\nlet firstLoad = true;\nlet pollTimer = null;\nlet done = false;\n\n// ───── browser detection ─────\n(function(){\n  const ua = navigator.userAgent || '';\n  const isInApp = /Line\\\\/|FBAN|FBAV|FB_IAB|Instagram|Snapchat|Twitter|MicroMessenger/.test(ua)\n    || (/(iPhone|iPod|iPad)/.test(ua) && !/Safari\\\\//.test(ua) && /AppleWebKit/.test(ua));\n  const isMobile = /iPhone|iPad|iPod|Android/.test(ua);\n  if(isInApp || isMobile) {\n    document.getElementById('open-bar').style.display = 'flex';\n  }\n})();\n\nfunction openChrome(){\n  const u = location.href.replace('https://','googlechromes://').replace('http://','googlechrome://');\n  location.href = u;\n  setTimeout(()=>{ copyURL(); }, 2000);\n}\nfunction openSafari(){\n  copyURL();\n  alert('วาง URL ใน Safari แล้วเปิดครับ');\n}\nfunction copyURL(){\n  const url = location.href;\n  if(navigator.clipboard && navigator.clipboard.writeText){\n    navigator.clipboard.writeText(url).then(()=>alert('✅ Copy แล้ว!\\\\nวางใน Chrome หรือ Safari'));\n  } else { prompt('Copy URL:', url); }\n}\n\n// ───── fetch position ─────\nfunction fetchPosition() {\n  if (!JOB) {\n    document.getElementById('s-sub').textContent = 'ไม่มีรหัสงาน';\n    return;\n  }\n  fetch(GPS_POS_URL + '?job_id=' + encodeURIComponent(JOB), { redirect: 'follow' })\n    .then(r => { if(!r.ok) throw new Error(r.status); return r.json(); })\n    .then(data => { updateMap(data); updateStatus(data); })\n    .catch(() => {\n      document.getElementById('s-sub').textContent = 'ไม่สามารถโหลดข้อมูล — ลองใหม่...';\n    });\n}\n\nfunction updateMap(d) {\n  if (!d.found || !d.lat || !d.lng || d.lat === 0) return;\n  techLat = d.lat; techLng = d.lng;\n  const ll = [d.lat, d.lng];\n  const icon = (d.status === 'completed') ? doneIcon : techIcon;\n  const popup = '<b>' + (d.tech_name || 'ช่าง') + '</b><br>สถานะ: ' + fmtStatus(d.status) + '<br>อัปเดต: ' + fmtTime(d.timestamp);\n\n  if (!techMarker) {\n    techMarker = L.marker(ll, { icon }).addTo(map);\n    techMarker.bindPopup(popup);\n    document.getElementById('btn-tech').style.display = 'flex';\n  } else {\n    techMarker.setLatLng(ll);\n    techMarker.setIcon(icon);\n    techMarker.setPopupContent(popup);\n  }\n  if (firstLoad) {\n    map.setView(ll, 15);\n    firstLoad = false;\n  }\n}\n\nfunction updateStatus(d) {\n  const st  = d.status || 'traveling';\n  const icon = document.getElementById('s-icon');\n  const text = document.getElementById('s-text');\n  const sub  = document.getElementById('s-sub');\n  const dot  = document.getElementById('dot');\n\n  if (st === 'completed') {\n    icon.textContent = '✅';\n    text.textContent = 'งานเสร็จแล้ว!';\n    sub.textContent  = 'เสร็จเรียบร้อย — ขอบคุณที่ใช้บริการ SK ICE ครับ';\n    dot.className    = 'dot off';\n    if (!done) { done = true; clearInterval(pollTimer); }\n  } else if (st === 'arrived') {\n    icon.textContent = '🔧';\n    text.textContent = 'ช่างถึงที่แล้ว!';\n    sub.textContent  = 'กำลังดำเนินการ';\n    dot.className    = 'dot off';\n  } else {\n    icon.textContent = '🚗';\n    text.textContent = 'กำลังเดินทางมาหาคุณ';\n    sub.textContent  = 'อัปเดตล่าสุด: ' + fmtTime(d.timestamp);\n    dot.className    = 'dot on';\n  }\n}\n\n// ───── focus on tech ─────\nfunction focusTech() {\n  if (techLat !== null) map.setView([techLat, techLng], 16);\n}\n\n// ───── center on customer ─────\nfunction centerMe() {\n  if (myLat !== null) {\n    map.setView([myLat, myLng], 17);\n    meMarker.openPopup();\n    return;\n  }\n  if (!navigator.geolocation) { alert('เบราว์เซอร์ไม่รองรับ GPS'); return; }\n  navigator.geolocation.getCurrentPosition(\n    pos => {\n      myLat = pos.coords.latitude;\n      myLng = pos.coords.longitude;\n      if (!meMarker) {\n        meMarker = L.marker([myLat, myLng], { icon: meIcon }).addTo(map);\n        meMarker.bindPopup('<b>ตำแหน่งของคุณ</b>').openPopup();\n      } else {\n        meMarker.setLatLng([myLat, myLng]);\n        meMarker.openPopup();\n      }\n      map.setView([myLat, myLng], 17);\n    },\n    () => { alert('ไม่สามารถหาตำแหน่งของคุณได้\\\\nกรุณาเปิด GPS แล้วลองใหม่'); },\n    { enableHighAccuracy: true, timeout: 12000 }\n  );\n}\n\n// ───── helpers ─────\nfunction fmtTime(ts) {\n  if (!ts) return '-';\n  try { return new Date(ts).toLocaleTimeString('th-TH', { hour: '2-digit', minute: '2-digit' }); }\n  catch(e) { return ts; }\n}\nfunction fmtStatus(st) {\n  return st === 'completed' ? 'เสร็จแล้ว' : st === 'arrived' ? 'ถึงแล้ว' : 'กำลังเดินทาง';\n}\n\n// ───── start ─────\nfetchPosition();\npollTimer = setInterval(fetchPosition, POLL_MS);\n</script>\n</body>\n</html>\n` } }];"
      },
      "id": "aa001001-0000-0000-0000-000000000002",
      "name": "Build Customer Map HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=UTF-8"
              }
            ]
          }
        }
      },
      "id": "aa001001-0000-0000-0000-000000000003",
      "name": "Respond Customer Map",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook GPS Customer": {
      "main": [
        [
          {
            "node": "Build Customer Map HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Customer Map HTML": {
      "main": [
        [
          {
            "node": "Respond Customer Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}